/****** Object:  View [20191223].[vw_validacao_auditoria]    Script Date: 26/12/2019 13:14:39 ******/
DROP VIEW IF EXISTS [20191223].[vw_validacao_auditoria]
GO
/****** Object:  View [20191223].[vw_validacao_auditoria]    Script Date: 26/12/2019 13:14:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create   view [20191223].[vw_validacao_auditoria] as 
WITH CTE_VALIDACAO_AUDITORIA AS (
		SELECT RED.ID AS REDACAO_ID, TPA.descricao AS TIPO_AUDITORIA, RED.id_projeto AS PROJETO_ID, 
			   COR1.ID AS CORRECAO1, 
			   COR2.ID AS CORRECAO2, 
			   COR3.ID AS CORRECAO3, 
			   COR4.ID AS CORRECAO4, 
			   COR5.ID AS CORRECAO5, 
			   COR6.ID AS CORRECAO6, 
			   COR7.ID AS CORRECAO7,
	   
			   CASE WHEN ISNULL(COR1.NOTA_FINAL,0) = 1000 THEN 1 ELSE 0 END  AS NOTA_FINAL_1, 
			   CASE WHEN ISNULL(COR2.NOTA_FINAL,0) = 1000 THEN 1 ELSE 0 END  AS NOTA_FINAL_2, 
			   CASE WHEN ISNULL(COR3.NOTA_FINAL,0) = 1000 THEN 1 ELSE 0 END  AS NOTA_FINAL_3, 
			   CASE WHEN ISNULL(COR4.NOTA_FINAL,0) = 1000 THEN 1 ELSE 0 END  AS NOTA_FINAL_4, 
			   CASE WHEN ISNULL(COR5.NOTA_FINAL,0) = 1000 THEN 1 ELSE 0 END  AS NOTA_FINAL_5, 
			   CASE WHEN ISNULL(COR6.NOTA_FINAL,0) = 1000 THEN 1 ELSE 0 END  AS NOTA_FINAL_6, 
			   CASE WHEN ISNULL(COR7.NOTA_FINAL,0) = 1000 THEN 1 ELSE 0 END  AS NOTA_FINAL_7,
	   
			   CASE WHEN COR1.competencia5 = -1 THEN 'DDH' ELSE 'NORMAL' END AS DDH_1, 
			   CASE WHEN COR2.competencia5 = -1 THEN 'DDH' ELSE 'NORMAL' END AS DDH_2, 
			   CASE WHEN COR3.competencia5 = -1 THEN 'DDH' ELSE 'NORMAL' END AS DDH_3, 
			   CASE WHEN COR4.competencia5 = -1 THEN 'DDH' ELSE 'NORMAL' END AS DDH_4, 
			   CASE WHEN COR5.competencia5 = -1 THEN 'DDH' ELSE 'NORMAL' END AS DDH_5, 
			   CASE WHEN COR6.competencia5 = -1 THEN 'DDH' ELSE 'NORMAL' END AS DDH_6, 
			   CASE WHEN COR7.competencia5 = -1 THEN 'DDH' ELSE 'NORMAL' END AS DDH_7,
	   
			   CASE WHEN COR1.id_correcao_situacao = 9 THEN 'PD' ELSE 'NORMAL' END AS PD_1, 
			   CASE WHEN COR2.id_correcao_situacao = 9 THEN 'PD' ELSE 'NORMAL' END AS PD_2, 
			   CASE WHEN COR3.id_correcao_situacao = 9 THEN 'PD' ELSE 'NORMAL' END AS PD_3, 
			   CASE WHEN COR4.id_correcao_situacao = 9 THEN 'PD' ELSE 'NORMAL' END AS PD_4, 
			   CASE WHEN COR5.id_correcao_situacao = 9 THEN 'PD' ELSE 'NORMAL' END AS PD_5, 
			   CASE WHEN COR6.id_correcao_situacao = 9 THEN 'PD' ELSE 'NORMAL' END AS PD_6, 
			   CASE WHEN COR7.id_correcao_situacao = 9 THEN 'PD' ELSE 'NORMAL' END AS PD_7

		  FROM [20191223].CORRECOES_REDACAO RED JOIN [20191223].CORRECOES_CORRECAO      COR7  ON (RED.ID = COR7.REDACAO_ID AND COR7.ID_TIPO_CORRECAO = 7 AND COR7.id_status = 3)
		                                                JOIN [20191223].CORRECOES_CORRECAO      COR1  ON (RED.ID = COR1.REDACAO_ID AND COR1.ID_TIPO_CORRECAO = 1 AND COR1.id_status = 3)
												        JOIN [20191223].CORRECOES_CORRECAO      COR2  ON (RED.ID = COR2.REDACAO_ID AND COR2.ID_TIPO_CORRECAO = 2 AND COR2.id_status = 3)
													    JOIN                    CORRECOES_TIPOAUDITORIA TPA   ON (TPA.ID = COR7.tipo_auditoria_id)
												   LEFT JOIN [20191223].CORRECOES_CORRECAO      COR3  ON (RED.ID = COR3.REDACAO_ID AND COR3.ID_TIPO_CORRECAO = 3 AND COR3.id_status = 3)
												   LEFT JOIN [20191223].CORRECOES_CORRECAO      COR4  ON (RED.ID = COR4.REDACAO_ID AND COR4.ID_TIPO_CORRECAO = 4 AND COR4.id_status = 3)
												   LEFT JOIN [20191223].CORRECOES_CORRECAO      COR5  ON (RED.ID = COR5.REDACAO_ID AND COR5.ID_TIPO_CORRECAO = 5 AND COR5.id_status = 3)
												   LEFT JOIN [20191223].CORRECOES_CORRECAO      COR6  ON (RED.ID = COR6.REDACAO_ID AND COR6.ID_TIPO_CORRECAO = 6 AND COR6.id_status = 3)
)
	SELECT REDACAO_ID, PROJETO_ID, TIPO_AUDITORIA 
	  FROM CTE_VALIDACAO_AUDITORIA 
	  WHERE (TIPO_AUDITORIA = 'N. MÁXIMA' AND 
				 (	(NOTA_FINAL_1 = 0  AND NOTA_FINAL_2 = 0  AND NOTA_FINAL_3 = 0  AND NOTA_FINAL_4 = 0) AND
				    (NOTA_FINAL_1 = 0  AND NOTA_FINAL_2 = 0  AND NOTA_FINAL_3 = 1  AND NOTA_FINAL_4 = 0) AND  
				    (NOTA_FINAL_1 = 0  AND NOTA_FINAL_2 = 1  AND NOTA_FINAL_3 = 0  AND NOTA_FINAL_4 = 0) AND  
				    (NOTA_FINAL_1 = 0  AND NOTA_FINAL_2 = 1  AND NOTA_FINAL_3 = 1  AND NOTA_FINAL_4 = 1) AND   
				    (NOTA_FINAL_1 = 1  AND NOTA_FINAL_2 = 0  AND NOTA_FINAL_3 = 0  AND NOTA_FINAL_4 = 1) AND  
				    (NOTA_FINAL_1 = 1  AND NOTA_FINAL_2 = 0  AND NOTA_FINAL_3 = 1  AND NOTA_FINAL_4 = 0) AND  
				    (NOTA_FINAL_1 = 1  AND NOTA_FINAL_2 = 1  AND NOTA_FINAL_3 = 0  AND NOTA_FINAL_4 = 1) AND  
				    (NOTA_FINAL_1 = 1  AND NOTA_FINAL_2 = 1  AND NOTA_FINAL_3 = 1  AND NOTA_FINAL_4 = 0) AND  
				    (NOTA_FINAL_1 = 1  AND NOTA_FINAL_2 = 1  AND NOTA_FINAL_3 = 1  AND NOTA_FINAL_4 = 1)   
				)	 
	        )  OR 
			(TIPO_AUDITORIA   = 'PD' AND 
				NOT (	(PD_1 = 'NORMAL' AND PD_2 = 'NORMAL' AND PD_3 = 'NORMAL' AND PD_4 = 'PD'    ) OR 
				        (PD_1 = 'NORMAL' AND PD_2 = 'NORMAL' AND PD_3 = 'PD' AND PD_4 = 'NORMAL') OR   
				        (PD_1 = 'NORMAL' AND PD_2 = 'PD' AND PD_3 = 'NORMAL' AND PD_4 = 'NORMAL') OR    
				        (PD_1 = 'PD' AND PD_2 = 'NORMAL' AND PD_3 = 'NORMAL' AND PD_4 = 'NORMAL') OR   
				        (PD_1 = 'PD' AND PD_2 = 'PD' AND PD_3 = 'NORMAL' AND PD_4 = 'NORMAL')				     
				)
			) OR 
			(TIPO_AUDITORIA = 'DDH' AND 
				NOT	(	(DDH_1 = 'NORMAL' AND DDH_2 = 'NORMAL' AND DDH_3 = 'NORMAL' AND DDH_4 = 'DDH') OR 
				        (DDH_1 = 'NORMAL' AND DDH_2 = 'NORMAL' AND DDH_3 = 'DDH' AND DDH_4 = 'NORMAL') OR   
				        (DDH_1 = 'NORMAL' AND DDH_2 = 'DDH' AND DDH_3 = 'NORMAL' AND DDH_4 = 'NORMAL') OR    
				        (DDH_1 = 'DDH' AND DDH_2 = 'NORMAL' AND DDH_3 = 'NORMAL' AND DDH_4 = 'NORMAL') OR   
				        (DDH_1 = 'DDH' AND DDH_2 = 'DDH' AND DDH_3 = 'NORMAL' AND DDH_4 = 'NORMAL')				     
				)
			)
GO
