/****** Object:  View [dbo].[vw_n59]    Script Date: 26/12/2019 13:14:39 ******/
DROP VIEW IF EXISTS [dbo].[vw_n59]
GO
/****** Object:  View [dbo].[vw_n59]    Script Date: 26/12/2019 13:14:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[vw_n59] as
select 
CO_PROJETO,
TP_ORIGEM,
CO_INSCRICAO,
CO_ETAPA,
SG_UF_PROVA,
convert(int, NU_CONCEITO_MAX_COMPETENCIA1) as NU_CONCEITO_MAX_COMPETENCIA1,
convert(int, NU_CONCEITO_MAX_COMPETENCIA2) as NU_CONCEITO_MAX_COMPETENCIA2,
convert(int, NU_CONCEITO_MAX_COMPETENCIA3) as NU_CONCEITO_MAX_COMPETENCIA3,
convert(int, NU_CONCEITO_MAX_COMPETENCIA4) as NU_CONCEITO_MAX_COMPETENCIA4,
convert(int, NU_CONCEITO_MAX_COMPETENCIA5) as NU_CONCEITO_MAX_COMPETENCIA5,
CO_TIPO_AVALIACAO,
NU_CPF_AV1,
format(DT_INICIO_AV1, 'dd/MM/yyyy HH:mm:ss') as DT_INICIO_AV1,
format(DT_FIM_AV1, 'dd/MM/yyyy HH:mm:ss') as DT_FIM_AV1,
NU_TEMPO_AV1,
ID_LOTE_AV1,
CO_SITUACAO_REDACAO_AV1,
NU_NOTA_AV1,
convert(numeric(5,2), NU_NOTA_COMP1_AV1) as NU_NOTA_COMP1_AV1,
convert(numeric(5,2), NU_NOTA_COMP2_AV1) as NU_NOTA_COMP2_AV1,
convert(numeric(5,2), NU_NOTA_COMP3_AV1) as NU_NOTA_COMP3_AV1,
convert(numeric(5,2), NU_NOTA_COMP4_AV1) as NU_NOTA_COMP4_AV1,
case CO_ETAPA when 1 then null else convert(numeric(5,2), NU_NOTA_COMP5_AV1) end as NU_NOTA_COMP5_AV1,
IN_FERE_DH_AV1,
NU_CPF_AV2,
format(DT_INICIO_AV2, 'dd/MM/yyyy HH:mm:ss') as DT_INICIO_AV2,
format(DT_FIM_AV2, 'dd/MM/yyyy HH:mm:ss') as DT_FIM_AV2,
NU_TEMPO_AV2,
ID_LOTE_AV2,
CO_SITUACAO_REDACAO_AV2,
NU_NOTA_AV2,
convert(numeric(5,2), NU_NOTA_COMP1_AV2) as NU_NOTA_COMP1_AV2,
convert(numeric(5,2), NU_NOTA_COMP2_AV2) as NU_NOTA_COMP2_AV2,
convert(numeric(5,2), NU_NOTA_COMP3_AV2) as NU_NOTA_COMP3_AV2,
convert(numeric(5,2), NU_NOTA_COMP4_AV2) as NU_NOTA_COMP4_AV2,
case CO_ETAPA when 1 then null else convert(numeric(5,2), NU_NOTA_COMP5_AV2) end as NU_NOTA_COMP5_AV2,
IN_FERE_DH_AV2,
NU_CPF_AV3,
format(DT_INICIO_AV3, 'dd/MM/yyyy HH:mm:ss') as DT_INICIO_AV3,
format(DT_FIM_AV3, 'dd/MM/yyyy HH:mm:ss') as DT_FIM_AV3,
NU_TEMPO_AV3,
ID_LOTE_AV3,
CO_SITUACAO_REDACAO_AV3,
NU_NOTA_AV3,
convert(numeric(5,2), NU_NOTA_COMP1_AV3) as NU_NOTA_COMP1_AV3,
convert(numeric(5,2), NU_NOTA_COMP2_AV3) as NU_NOTA_COMP2_AV3,
convert(numeric(5,2), NU_NOTA_COMP3_AV3) as NU_NOTA_COMP3_AV3,
convert(numeric(5,2), NU_NOTA_COMP4_AV3) as NU_NOTA_COMP4_AV3,
case CO_ETAPA when 1 then null else convert(numeric(5,2), NU_NOTA_COMP5_AV3) end as NU_NOTA_COMP5_AV3,
IN_FERE_DH_AV3,
NU_CPF_AV4,
format(DT_INICIO_AV4, 'dd/MM/yyyy HH:mm:ss') as DT_INICIO_AV4,
format(DT_FIM_AV4, 'dd/MM/yyyy HH:mm:ss') as DT_FIM_AV4,
NU_TEMPO_AV4,
ID_LOTE_AV4,
CO_SITUACAO_REDACAO_AV4,
NU_NOTA_AV4,
convert(numeric(5,2), NU_NOTA_COMP1_AV4) as NU_NOTA_COMP1_AV4,
convert(numeric(5,2), NU_NOTA_COMP2_AV4) as NU_NOTA_COMP2_AV4,
convert(numeric(5,2), NU_NOTA_COMP3_AV4) as NU_NOTA_COMP3_AV4,
convert(numeric(5,2), NU_NOTA_COMP4_AV4) as NU_NOTA_COMP4_AV4,
case CO_ETAPA when 1 then null else convert(numeric(5,2), NU_NOTA_COMP5_AV4) end as NU_NOTA_COMP5_AV4,
IN_FERE_DH_AV4,
CO_SITUACAO_REDACAO_FINAL,
convert(numeric(5,2), NU_NOTA_MEDIA_COMP1) as NU_NOTA_MEDIA_COMP1,
convert(numeric(5,2), NU_NOTA_MEDIA_COMP2) as NU_NOTA_MEDIA_COMP2,
convert(numeric(5,2), NU_NOTA_MEDIA_COMP3) as NU_NOTA_MEDIA_COMP3,
convert(numeric(5,2), NU_NOTA_MEDIA_COMP4) as NU_NOTA_MEDIA_COMP4,
convert(numeric(5,2), NU_NOTA_MEDIA_COMP5) as NU_NOTA_MEDIA_COMP5,
NU_NOTA_FINAL,
IN_FERE_DH,
CO_JUSTIFICATIVA,
NU_CPF_AUDITOR,
IN_DIVULGACAO
from inep_n59
GO
