/****** Object:  Table [dbo].[TMP_IMP_CARGA_ALUNO_DB_SA]    Script Date: 9/10/2020 2:26:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMP_IMP_CARGA_ALUNO_DB_SA](
	[PERFIL_NOME] [nvarchar](255) NULL,
	[ALUNO_ID] [nvarchar](255) NULL,
	[ALUNO_NOME] [nvarchar](255) NULL,
	[GRADE_NOME] [nvarchar](255) NULL,
	[TURMA_ID] [nvarchar](255) NULL,
	[ESCOLA_ID] [nvarchar](255) NULL,
	[ESCOLA_NOME] [nvarchar](255) NULL,
	[TURMA_NOME] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tmp_imp_carga_coordenador_db_sa]    Script Date: 9/10/2020 2:26:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_imp_carga_coordenador_db_sa](
	[coordenador_login] [nvarchar](255) NULL,
	[coordenador_perfil] [nvarchar](255) NULL,
	[coordenador_id] [nvarchar](255) NULL,
	[coordenador_nome] [nvarchar](255) NULL,
	[escola_id] [nvarchar](255) NULL,
	[escola_nome] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[TMP_IMP_CARGA_ALUNO_DB_SA] ([PERFIL_NOME], [ALUNO_ID], [ALUNO_NOME], [GRADE_NOME], [TURMA_ID], [ESCOLA_ID], [ESCOLA_NOME], [TURMA_NOME]) VALUES (N'aluno', N'002f08d1b4c240168c878d2ee32f7c69', N'MATHEUS HENRIQUE SILVA SOUZA', N'Extensivo Mega', N'd77213fa33044972bd155385945840e0', N'c37583ada557da3fae05eda1f39895cc', N'Escola Santo Anjo', N'3ª Série A - Manhã')
INSERT [dbo].[TMP_IMP_CARGA_ALUNO_DB_SA] ([PERFIL_NOME], [ALUNO_ID], [ALUNO_NOME], [GRADE_NOME], [TURMA_ID], [ESCOLA_ID], [ESCOLA_NOME], [TURMA_NOME]) VALUES (N'aluno', N'0055bd0a33834c018cdb3aba2f68c247', N'BRUNO MEISSNER SOSA', N'1ª série', N'61f88557e223463a90ddf6cb28eff7a9', N'c37583ada557da3fae05eda1f39895cc', N'Escola Santo Anjo', N'1ª Série B - Manhã')
INSERT [dbo].[TMP_IMP_CARGA_ALUNO_DB_SA] ([PERFIL_NOME], [ALUNO_ID], [ALUNO_NOME], [GRADE_NOME], [TURMA_ID], [ESCOLA_ID], [ESCOLA_NOME], [TURMA_NOME]) VALUES (N'aluno', N'0075f24b74f145319b127cb115fa66c8', N'GIOVANNA GUERRA BRESSAN', N'5º ano', N'ac0cb492035249e1ba4d35996cadc69b', N'c37583ada557da3fae05eda1f39895cc', N'Escola Santo Anjo', N'5.º Ano A - Tarde')
GO
INSERT [dbo].[tmp_imp_carga_coordenador_db_sa] ([coordenador_login], [coordenador_perfil], [coordenador_id], [coordenador_nome], [escola_id], [escola_nome]) VALUES (N'alana.augusto', N'coordenador', N'001cfbca498f461c875abdcf09bc3dfc', N'Alana e Augusto', N'c37583ada557da3fae05eda1f39895cc', N'Escola Santo Anjo')
INSERT [dbo].[tmp_imp_carga_coordenador_db_sa] ([coordenador_login], [coordenador_perfil], [coordenador_id], [coordenador_nome], [escola_id], [escola_nome]) VALUES (N'ana.borges@colegiosantoanjo.com.br', N'coordenador', N'023b8eea3821484598da5af86d9c9893', N'ANA PAULA BORGES DA SILVA', N'c37583ada557da3fae05eda1f39895cc', N'Escola Santo Anjo')
INSERT [dbo].[tmp_imp_carga_coordenador_db_sa] ([coordenador_login], [coordenador_perfil], [coordenador_id], [coordenador_nome], [escola_id], [escola_nome]) VALUES (N'andressa.carmo@colegiosantoanjo.com.br', N'coordenador', N'08143ec55fde41449962480e4c954c49', N'Andressa Andrieli Do Carmo', N'c37583ada557da3fae05eda1f39895cc', N'Escola Santo Anjo')
