/****** Object:  View [dbo].[vw_relatorio_distribuicao_notas_polo]    Script Date: 04/10/2019 10:16:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   view [dbo].[vw_relatorio_distribuicao_notas_polo] as
SELECT  ROW_NUMBER() over (order by hierarquia_id) as id,
	q.polo_id,
	q.polo_descricao,
	q.polo_indice,
	q.time_id as hierarquia_id,
	q.time_descricao as descricao,
	q.time_indice as indice,
	u.data,
	u.nr_total_avaliadores,
	u.nr_corrigidas,
	u.nr_com_nota_normal,
	ISNULL(u.competencia1_0, 0) as competencia1_0,
	ISNULL(u.competencia1_1, 0) as competencia1_1,
	ISNULL(u.competencia1_2, 0) as competencia1_2,
	ISNULL(u.competencia1_3, 0) as competencia1_3,
	ISNULL(u.competencia1_4, 0) as competencia1_4,
	ISNULL(u.competencia1_5, 0) as competencia1_5,
	ISNULL(u.competencia2_0, 0) as competencia2_0,
	ISNULL(u.competencia2_1, 0) as competencia2_1,
	ISNULL(u.competencia2_2, 0) as competencia2_2,
	ISNULL(u.competencia2_3, 0) as competencia2_3,
	ISNULL(u.competencia2_4, 0) as competencia2_4,
	ISNULL(u.competencia2_5, 0) as competencia2_5,
	ISNULL(u.competencia3_0, 0) as competencia3_0,
	ISNULL(u.competencia3_1, 0) as competencia3_1,
	ISNULL(u.competencia3_2, 0) as competencia3_2,
	ISNULL(u.competencia3_3, 0) as competencia3_3,
	ISNULL(u.competencia3_4, 0) as competencia3_4,
	ISNULL(u.competencia3_5, 0) as competencia3_5,
	ISNULL(u.competencia4_0, 0) as competencia4_0,
	ISNULL(u.competencia4_1, 0) as competencia4_1,
	ISNULL(u.competencia4_2, 0) as competencia4_2,
	ISNULL(u.competencia4_3, 0) as competencia4_3,
	ISNULL(u.competencia4_4, 0) as competencia4_4,
	ISNULL(u.competencia4_5, 0) as competencia4_5,
	ISNULL(u.competencia5_ddh, 0) as competencia5_ddh,
	ISNULL(u.competencia5_0, 0) as competencia5_0,
	ISNULL(u.competencia5_1, 0) as competencia5_1,
	ISNULL(u.competencia5_2, 0) as competencia5_2,
	ISNULL(u.competencia5_3, 0) as competencia5_3,
	ISNULL(u.competencia5_4, 0) as competencia5_4,
	ISNULL(u.competencia5_5, 0) as competencia5_5

FROM vw_hierarquia_completa q LEFT OUTER JOIN (
select polo_id, polo_descricao, polo_indice, hierarquia_id, descricao, indice, data, nr_total_avaliadores, nr_corrigidas, nr_com_nota_normal,
       (nr_competencia1_0 * 100.0 / (case when nr_com_nota_normal = 0 then 1 else nr_com_nota_normal end)) as competencia1_0,
       (nr_competencia1_1 * 100.0 / (case when nr_com_nota_normal = 0 then 1 else nr_com_nota_normal end)) as competencia1_1,
	   (nr_competencia1_2 * 100.0 / (case when nr_com_nota_normal = 0 then 1 else nr_com_nota_normal end)) as competencia1_2,
	   (nr_competencia1_3 * 100.0 / (case when nr_com_nota_normal = 0 then 1 else nr_com_nota_normal end)) as competencia1_3,
	   (nr_competencia1_4 * 100.0 / (case when nr_com_nota_normal = 0 then 1 else nr_com_nota_normal end)) as competencia1_4,
	   (nr_competencia1_5 * 100.0 / (case when nr_com_nota_normal = 0 then 1 else nr_com_nota_normal end)) as competencia1_5,
	   (nr_competencia2_0 * 100.0 / (case when nr_com_nota_normal = 0 then 1 else nr_com_nota_normal end)) as competencia2_0,
       (nr_competencia2_1 * 100.0 / (case when nr_com_nota_normal = 0 then 1 else nr_com_nota_normal end)) as competencia2_1,
	   (nr_competencia2_2 * 100.0 / (case when nr_com_nota_normal = 0 then 1 else nr_com_nota_normal end)) as competencia2_2,
	   (nr_competencia2_3 * 100.0 / (case when nr_com_nota_normal = 0 then 1 else nr_com_nota_normal end)) as competencia2_3,
	   (nr_competencia2_4 * 100.0 / (case when nr_com_nota_normal = 0 then 1 else nr_com_nota_normal end)) as competencia2_4,
	   (nr_competencia2_5 * 100.0 / (case when nr_com_nota_normal = 0 then 1 else nr_com_nota_normal end)) as competencia2_5,
       (nr_competencia3_0 * 100.0 / (case when nr_com_nota_normal = 0 then 1 else nr_com_nota_normal end)) as competencia3_0,
       (nr_competencia3_1 * 100.0 / (case when nr_com_nota_normal = 0 then 1 else nr_com_nota_normal end)) as competencia3_1,
	   (nr_competencia3_2 * 100.0 / (case when nr_com_nota_normal = 0 then 1 else nr_com_nota_normal end)) as competencia3_2,
	   (nr_competencia3_3 * 100.0 / (case when nr_com_nota_normal = 0 then 1 else nr_com_nota_normal end)) as competencia3_3,
	   (nr_competencia3_4 * 100.0 / (case when nr_com_nota_normal = 0 then 1 else nr_com_nota_normal end)) as competencia3_4,
	   (nr_competencia3_5 * 100.0 / (case when nr_com_nota_normal = 0 then 1 else nr_com_nota_normal end)) as competencia3_5,
       (nr_competencia4_0 * 100.0 / (case when nr_com_nota_normal = 0 then 1 else nr_com_nota_normal end)) as competencia4_0,
       (nr_competencia4_1 * 100.0 / (case when nr_com_nota_normal = 0 then 1 else nr_com_nota_normal end)) as competencia4_1,
	   (nr_competencia4_2 * 100.0 / (case when nr_com_nota_normal = 0 then 1 else nr_com_nota_normal end)) as competencia4_2,
	   (nr_competencia4_3 * 100.0 / (case when nr_com_nota_normal = 0 then 1 else nr_com_nota_normal end)) as competencia4_3,
	   (nr_competencia4_4 * 100.0 / (case when nr_com_nota_normal = 0 then 1 else nr_com_nota_normal end)) as competencia4_4,
	   (nr_competencia4_5 * 100.0 / (case when nr_com_nota_normal = 0 then 1 else nr_com_nota_normal end)) as competencia4_5,
       (nr_competencia5_ddh * 100.0 / (case when nr_com_nota_normal = 0 then 1 else nr_com_nota_normal end)) as competencia5_ddh,
       (nr_competencia5_0 * 100.0 / (case when nr_com_nota_normal = 0 then 1 else nr_com_nota_normal end)) as competencia5_0,
       (nr_competencia5_1 * 100.0 / (case when nr_com_nota_normal = 0 then 1 else nr_com_nota_normal end)) as competencia5_1,
	   (nr_competencia5_2 * 100.0 / (case when nr_com_nota_normal = 0 then 1 else nr_com_nota_normal end)) as competencia5_2,
	   (nr_competencia5_3 * 100.0 / (case when nr_com_nota_normal = 0 then 1 else nr_com_nota_normal end)) as competencia5_3,
	   (nr_competencia5_4 * 100.0 / (case when nr_com_nota_normal = 0 then 1 else nr_com_nota_normal end)) as competencia5_4,
	   (nr_competencia5_5 * 100.0 / (case when nr_com_nota_normal = 0 then 1 else nr_com_nota_normal end)) as competencia5_5
        from (
select c.polo_id, c.polo_descricao, c.polo_indice, c.time_id as hierarquia_id, c.time_descricao as descricao, c.time_indice as indice,
       sum(case when competencia1 = 0 then 1 else 0 end) as nr_competencia1_0,
       sum(case when competencia1 = 1 then 1 else 0 end) as nr_competencia1_1,
       sum(case when competencia1 = 2 then 1 else 0 end) as nr_competencia1_2,
       sum(case when competencia1 = 3 then 1 else 0 end) as nr_competencia1_3,
       sum(case when competencia1 = 4 then 1 else 0 end) as nr_competencia1_4,
       sum(case when competencia1 = 5 then 1 else 0 end) as nr_competencia1_5,
       sum(case when competencia2 = 0 then 1 else 0 end) as nr_competencia2_0,
       sum(case when competencia2 = 1 then 1 else 0 end) as nr_competencia2_1,
       sum(case when competencia2 = 2 then 1 else 0 end) as nr_competencia2_2,
       sum(case when competencia2 = 3 then 1 else 0 end) as nr_competencia2_3,
       sum(case when competencia2 = 4 then 1 else 0 end) as nr_competencia2_4,
       sum(case when competencia2 = 5 then 1 else 0 end) as nr_competencia2_5,
       sum(case when competencia3 = 0 then 1 else 0 end) as nr_competencia3_0,
       sum(case when competencia3 = 1 then 1 else 0 end) as nr_competencia3_1,
       sum(case when competencia3 = 2 then 1 else 0 end) as nr_competencia3_2,
       sum(case when competencia3 = 3 then 1 else 0 end) as nr_competencia3_3,
       sum(case when competencia3 = 4 then 1 else 0 end) as nr_competencia3_4,
       sum(case when competencia3 = 5 then 1 else 0 end) as nr_competencia3_5,
       sum(case when competencia4 = 0 then 1 else 0 end) as nr_competencia4_0,
       sum(case when competencia4 = 1 then 1 else 0 end) as nr_competencia4_1,
       sum(case when competencia4 = 2 then 1 else 0 end) as nr_competencia4_2,
       sum(case when competencia4 = 3 then 1 else 0 end) as nr_competencia4_3,
       sum(case when competencia4 = 4 then 1 else 0 end) as nr_competencia4_4,
       sum(case when competencia4 = 5 then 1 else 0 end) as nr_competencia4_5,
       sum(case when competencia5 = -1 then 1 else 0 end) as nr_competencia5_ddh,
       sum(case when competencia5 = 0 then 1 else 0 end) as nr_competencia5_0,
       sum(case when competencia5 = 1 then 1 else 0 end) as nr_competencia5_1,
       sum(case when competencia5 = 2 then 1 else 0 end) as nr_competencia5_2,
       sum(case when competencia5 = 3 then 1 else 0 end) as nr_competencia5_3,
       sum(case when competencia5 = 4 then 1 else 0 end) as nr_competencia5_4,
       sum(case when competencia5 = 5 then 1 else 0 end) as nr_competencia5_5,
       convert(date, a.data_termino) as data, count(distinct a.id_corretor) as nr_total_avaliadores, count(*) as nr_corrigidas, count(case when a.id_correcao_situacao = 1 then 1 else null end) as nr_com_nota_normal
  from correcoes_correcao a with (nolock)
	   inner join vw_usuario_hierarquia_completa c with (nolock) on c.usuario_id = a.id_corretor
 where a.id_status = 3
group by c.polo_id, c.polo_descricao, c.polo_indice, c.time_id, c.time_descricao, c.time_indice, convert(date, a.data_termino)
) z) u on q.time_id = u.hierarquia_id

GO
