/****** Object:  View [dbo].[VW_CORRECAO_DIA]    Script Date: 04/10/2019 10:16:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW  [dbo].[VW_CORRECAO_DIA] AS
SELECT COR.ID, CORRECOES = ISNULL(COR.max_correcoes_dia,PRO.max_correcoes_dia), id_projeto = pro.id
FROM CORRECOES_CORRETOR COR JOIN PROJETO_PROJETO PRO ON (1=1)

GO
