/****** Object:  Table [dbo].[TMP_IMP_ESCOLA_AGENDAMENTO]    Script Date: 9/4/2020 2:50:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMP_IMP_ESCOLA_AGENDAMENTO](
	[ESCOLA_NOME] [varchar](250) NULL,
	[SERIE] [varchar](50) NULL,
	[INGLES] [varchar](50) NULL,
	[ESPANHOL] [varchar](50) NULL,
	[ARTES] [varchar](50) NULL,
	[FILOSOFIA] [varchar](50) NULL,
	[SOCIOLOGIA] [varchar](50) NULL,
	[DATA_APLICACAO] [datetime] NULL,
	[PROCESSO] [varchar](150) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TMP_IMP_ESCOLA_AGENDAMENTO_ULTIMA_SEMANA]    Script Date: 9/4/2020 2:50:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMP_IMP_ESCOLA_AGENDAMENTO_ULTIMA_SEMANA](
	[ESCOLA_NOME] [nvarchar](255) NULL,
	[TURMA_NOME] [nvarchar](255) NULL,
	[PROCESSO] [varchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TMP_IMP_ESCOLA_BLOQUEADA]    Script Date: 9/4/2020 2:50:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMP_IMP_ESCOLA_BLOQUEADA](
	[ESCOLA_NOME] [varchar](250) NULL,
	[SERIE] [varchar](50) NULL,
	[PROCESSO] [varchar](150) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[TMP_IMP_ESCOLA_AGENDAMENTO] ([ESCOLA_NOME], [SERIE], [INGLES], [ESPANHOL], [ARTES], [FILOSOFIA], [SOCIOLOGIA], [DATA_APLICACAO], [PROCESSO]) VALUES (N'Anglo Zona Oeste', N'1ª série', NULL, NULL, N'Bloquear', NULL, NULL, CAST(N'2020-10-21T00:00:00.000' AS DateTime), N'3 SIMULADO')
INSERT [dbo].[TMP_IMP_ESCOLA_AGENDAMENTO] ([ESCOLA_NOME], [SERIE], [INGLES], [ESPANHOL], [ARTES], [FILOSOFIA], [SOCIOLOGIA], [DATA_APLICACAO], [PROCESSO]) VALUES (N'Anglo Zona Oeste', N'2ª série', NULL, NULL, N'Bloquear', NULL, NULL, CAST(N'2020-10-21T00:00:00.000' AS DateTime), N'3 SIMULADO')
INSERT [dbo].[TMP_IMP_ESCOLA_AGENDAMENTO] ([ESCOLA_NOME], [SERIE], [INGLES], [ESPANHOL], [ARTES], [FILOSOFIA], [SOCIOLOGIA], [DATA_APLICACAO], [PROCESSO]) VALUES (N'Anglo Zona Oeste', N'3ª série ', NULL, NULL, N'Bloquear', NULL, NULL, CAST(N'2020-10-21T00:00:00.000' AS DateTime), N'3 SIMULADO')
GO
INSERT [dbo].[TMP_IMP_ESCOLA_AGENDAMENTO_ULTIMA_SEMANA] ([ESCOLA_NOME], [TURMA_NOME], [PROCESSO]) VALUES (N'ALICE COUTINHO', N'6º ano', N'3 SIMULADO')
INSERT [dbo].[TMP_IMP_ESCOLA_AGENDAMENTO_ULTIMA_SEMANA] ([ESCOLA_NOME], [TURMA_NOME], [PROCESSO]) VALUES (N'ALICE COUTINHO', N'7º ano', N'3 SIMULADO')
INSERT [dbo].[TMP_IMP_ESCOLA_AGENDAMENTO_ULTIMA_SEMANA] ([ESCOLA_NOME], [TURMA_NOME], [PROCESSO]) VALUES (N'ALICE COUTINHO', N'8º ano', N'3 SIMULADO')
GO
INSERT [dbo].[TMP_IMP_ESCOLA_BLOQUEADA] ([ESCOLA_NOME], [SERIE], [PROCESSO]) VALUES (N'CEMOR', N'1ª série', N'3 BI')
INSERT [dbo].[TMP_IMP_ESCOLA_BLOQUEADA] ([ESCOLA_NOME], [SERIE], [PROCESSO]) VALUES (N'CEMOR', N'2ª série', N'3 BI')
INSERT [dbo].[TMP_IMP_ESCOLA_BLOQUEADA] ([ESCOLA_NOME], [SERIE], [PROCESSO]) VALUES (N'CEMOR', N'3ª série ', N'3 BI')
GO
