USE [erp_hmg]
GO
/****** Object:  StoredProcedure [dbo].[SET_ACADEMICO_PROFESSOR]    Script Date: 12/02/2020 15:40:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SET_ACADEMICO_PROFESSOR]
AS

--BEGIN TRAN

DECLARE @UNIVERSUS_NOME_PROFESSOR       VARCHAR(70)
DECLARE @UNIVERSUS_CODIGO_ESCOLA        INT
DECLARE @UNIVERSUS_CODIGO_PROFESSOR     INT
DECLARE @UNIVERSUS_CODPESSOA_PROFESSOR  INT
DECLARE @UNIVERSUS_LOGIN_PROFESSOR      VARCHAR(70)
DECLARE @UNIVERSUS_EMAIL_PROFESSOR      VARCHAR(70)

DECLARE @EDUCAT_PROFESSOR               INT
DECLARE @EDUCAT_USER_ID                 INT

DECLARE POPULA_PROFESSOR_EDUCAT CURSOR FOR

SELECT NOME, CODESCOLA, CODFUNCIONARIO, CODPESSOA, isnull(LOGIN,'professor.semlogin'), ISNULL(EMAIL,'professor@sememail.com')
FROM UNIVERSUS..FUNCIONARIO
WHERE CODESCOLA = 1 
AND ATIVO = 1
--AND NOME like 'LEONARDO%FLOR%NCIO%'
--AND NOME LIKE 'HUMBERTO%GAL%'

OPEN POPULA_PROFESSOR_EDUCAT
FETCH NEXT FROM POPULA_PROFESSOR_EDUCAT INTO @UNIVERSUS_NOME_PROFESSOR, @UNIVERSUS_CODIGO_ESCOLA, @UNIVERSUS_CODIGO_PROFESSOR, @UNIVERSUS_CODPESSOA_PROFESSOR, @UNIVERSUS_LOGIN_PROFESSOR, @UNIVERSUS_EMAIL_PROFESSOR
WHILE @@FETCH_STATUS = 0
BEGIN
  
  SET @EDUCAT_USER_ID = 0
  
  SELECT @EDUCAT_USER_ID = ID
  FROM AUTH_USER
  WHERE CADSOFT_ID = @UNIVERSUS_CODPESSOA_PROFESSOR

  SET @EDUCAT_PROFESSOR = 0
  
  SELECT @EDUCAT_PROFESSOR = ID
  FROM ACADEMICO_PROFESSOR
  WHERE PROFESSOR_UNIVERSUS_ID = @UNIVERSUS_CODIGO_PROFESSOR AND ESCOLA_PROFESSOR_UNIVERSUS_ID = @UNIVERSUS_CODIGO_ESCOLA

  IF (SELECT COUNT(1)
      FROM AUTH_USER
	  WHERE ID = @EDUCAT_USER_ID
      ) = 0

  BEGIN
	
	INSERT INTO AUTH_USER
	VALUES ('pbkdf2_sha256$120000$gcfwr11jgRNa$cBBzlfSbOk3Hv874m0Pwr7DVxwhah+SXhn91CsbCy3w=', NULL, 0, @UNIVERSUS_LOGIN_PROFESSOR, '', @UNIVERSUS_NOME_PROFESSOR, @UNIVERSUS_EMAIL_PROFESSOR, 0, 1, GETDATE(), 1, @UNIVERSUS_CODPESSOA_PROFESSOR)

	PRINT 'USUÁRIO CADASTRADO: ' +@UNIVERSUS_NOME_PROFESSOR+ ' NO SISTEMA EDUCAT'
  END
  ELSE
  BEGIN
    PRINT 'USUÁRIO: ' +@UNIVERSUS_NOME_PROFESSOR+ ' JÁ CADASTRADO NO SISTEMA EDUCAT'
  END

  IF (SELECT COUNT(1)
      FROM ACADEMICO_PROFESSOR
	  WHERE ID = @EDUCAT_PROFESSOR
      ) = 0

  BEGIN
    
	SET @EDUCAT_USER_ID = 0
	
	SELECT @EDUCAT_USER_ID = ISNULL(ID,0)
	FROM AUTH_USER
	WHERE CADSOFT_ID = @UNIVERSUS_CODPESSOA_PROFESSOR
	
	INSERT INTO ACADEMICO_PROFESSOR
	VALUES (@UNIVERSUS_NOME_PROFESSOR, @EDUCAT_USER_ID, NULL, @UNIVERSUS_CODIGO_PROFESSOR, @UNIVERSUS_CODIGO_ESCOLA, GETDATE())

	INSERT INTO AUTH_USER_GROUPS
	VALUES (@EDUCAT_USER_ID, 1)

	PRINT 'PROFESSOR: ' +@UNIVERSUS_NOME_PROFESSOR+ ' INSERIDO NO SISTEMA EDUCAT'
	PRINT 'USUÁRIO INSERIDO COMO PROFESSOR ' +@UNIVERSUS_NOME_PROFESSOR+ ' COM SUCESSO'
  END
  ELSE
  BEGIN
    PRINT 'PROFESSOR: ' +@UNIVERSUS_NOME_PROFESSOR+ ' JÁ EXISTENTE NO SISTEMA EDUCAT'
  END

  FETCH NEXT FROM POPULA_PROFESSOR_EDUCAT INTO @UNIVERSUS_NOME_PROFESSOR, @UNIVERSUS_CODIGO_ESCOLA, @UNIVERSUS_CODIGO_PROFESSOR, @UNIVERSUS_CODPESSOA_PROFESSOR, @UNIVERSUS_LOGIN_PROFESSOR, @UNIVERSUS_EMAIL_PROFESSOR

END
CLOSE POPULA_PROFESSOR_EDUCAT
DEALLOCATE POPULA_PROFESSOR_EDUCAT
GO
