USE [erp_hmg]
GO
/****** Object:  StoredProcedure [dbo].[SET_ACADEMICO_CURSO]    Script Date: 12/02/2020 15:40:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SET_ACADEMICO_CURSO]
AS
DECLARE @UNIVERSUS_CODESCOLA    INT
DECLARE @UNIVERSUS_CODCURSO     INT
DECLARE @UNIVERSUS_NOMECURSO    VARCHAR(70)

DECLARE @EDUCAT_CURSOID         INT
DECLARE @EDUCAT_ESCOLAID        INT

DECLARE POPULA_CURSO_EDUCAT CURSOR FOR

SELECT CODESCOLA, CODCURSO, NOME
FROM UNIVERSUS..CURSO
WHERE CODESCOLA = 1

OPEN POPULA_CURSO_EDUCAT
FETCH NEXT FROM POPULA_CURSO_EDUCAT INTO @UNIVERSUS_CODESCOLA, @UNIVERSUS_CODCURSO, @UNIVERSUS_NOMECURSO
WHILE @@FETCH_STATUS = 0
BEGIN
  
  SET @EDUCAT_CURSOID = 0
  
  SELECT @EDUCAT_CURSOID = ISNULL(ID,0)
  FROM ACADEMICO_CURSO
  WHERE ESCOLA_CURSO_UNIVERSUS_ID = @UNIVERSUS_CODESCOLA AND CURSO_UNIVERSUS_ID = @UNIVERSUS_CODCURSO
  
  IF (SELECT COUNT(1)
      FROM ACADEMICO_CURSO
	  WHERE ID = @EDUCAT_CURSOID
      ) = 0
  BEGIN
    
	SET @EDUCAT_ESCOLAID = 0

	SELECT @EDUCAT_ESCOLAID = ISNULL(ID,0)
	FROM ACADEMICO_ESCOLA
    WHERE ESCOLA_UNIVERSUS_ID = @UNIVERSUS_CODESCOLA
	
	INSERT INTO ACADEMICO_CURSO
	VALUES (@UNIVERSUS_NOMECURSO, @EDUCAT_ESCOLAID, NULL, @UNIVERSUS_CODCURSO, @UNIVERSUS_CODESCOLA)

	PRINT 'CURSO INSERIDO: ' + CONVERT(VARCHAR(100),@UNIVERSUS_NOMECURSO) 
  END
  ELSE
  BEGIN
    PRINT 'CURSO JÁ EXISTENTE: ' +@UNIVERSUS_NOMECURSO+ ' NÃO FOI INSERIDO NO EDUCAT'
  END

  FETCH NEXT FROM POPULA_CURSO_EDUCAT INTO @UNIVERSUS_CODESCOLA, @UNIVERSUS_CODCURSO, @UNIVERSUS_NOMECURSO

END
CLOSE POPULA_CURSO_EDUCAT
DEALLOCATE POPULA_CURSO_EDUCAT
GO
