USE [erp_hmg]
GO
/****** Object:  StoredProcedure [dbo].[SET_TURMA_DISCIPLINA_ALUNO]    Script Date: 12/02/2020 15:40:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SET_TURMA_DISCIPLINA_ALUNO] AS

DECLARE @UNIVERSUS_ESCOLA       INT
DECLARE @UNIVERSUS_ALUNO        INT
DECLARE @UNIVERSUS_TURMA        VARCHAR(20)
DECLARE @UNIVERSUS_DISCIPLINA   INT
DECLARE @UNIVERSUS_CODCURSO     INT

DECLARE @EDUCAT_TURMA           INT
DECLARE @EDUCAT_DISCIPLINA      INT
DECLARE @EDUCAT_ALUNO           INT
DECLARE @EDUCAT_TURMADISCIPLINA INT
DECLARE @EDUCAT_CODCURSO        INT

DECLARE POPULA_TURMADISCIPLINAALUNO_EDUCAT CURSOR FOR

SELECT CODESCOLA, CODALUNO, TURMA, CODDISCIPLINA, CODCURSO
FROM UNIVERSUS..ENTURMA
WHERE CODESCOLA = 1 
AND ANO = 2019 
AND CODSTATUS IN (1,2) 
--AND CODDISCIPLINA NOT IN (57) -- CLÍNICA MÉDICA II
AND TURMA NOT IN ('4MB1º(TPA)P01', '4MB1º(TPA)P02', '4MB1º(TPA)P03', '4MB1º(TPA)P04')
--AND CODCURSO = 1
AND TURMA IS NOT NULL
AND CODALUNO NOT IN (43382)
--AND TURMA = '4MB1º(TPA)'

OPEN POPULA_TURMADISCIPLINAALUNO_EDUCAT
FETCH NEXT FROM POPULA_TURMADISCIPLINAALUNO_EDUCAT INTO @UNIVERSUS_ESCOLA, @UNIVERSUS_ALUNO, @UNIVERSUS_TURMA, @UNIVERSUS_DISCIPLINA, @UNIVERSUS_CODCURSO
WHILE @@FETCH_STATUS = 0
BEGIN
  
  SET @EDUCAT_ALUNO = 0
  
  SELECT @EDUCAT_ALUNO = ISNULL(ID,0)
  FROM ACADEMICO_ALUNO
  WHERE ALUNO_UNIVERSUS_ID = @UNIVERSUS_ALUNO AND ESCOLA_ALUNO_UNIVERSUS_ID = @UNIVERSUS_ESCOLA

  SET @EDUCAT_CODCURSO = 0
	
  SELECT @EDUCAT_CODCURSO = ISNULL(ID,0)
  FROM ACADEMICO_CURSO
  WHERE CURSO_UNIVERSUS_ID = @UNIVERSUS_CODCURSO AND ESCOLA_CURSO_UNIVERSUS_ID = @UNIVERSUS_ESCOLA  

  SET @EDUCAT_TURMA = 0
  
  SELECT @EDUCAT_TURMA = ISNULL(ID,0)
  FROM ACADEMICO_TURMA
  WHERE NOME = @UNIVERSUS_TURMA AND CURSO_ID = @EDUCAT_CODCURSO

  /*
  SELECT ID
  FROM ACADEMICO_TURMA
  WHERE NOME = '4MB2º(TA)A02'
  */

  SET @EDUCAT_DISCIPLINA = 0
  
  SELECT @EDUCAT_DISCIPLINA = ISNULL(ID,0)
  FROM ACADEMICO_DISCIPLINA
  WHERE DISCIPLINA_UNIVERSUS_ID = @UNIVERSUS_DISCIPLINA

  /*
  SELECT ID
  FROM ACADEMICO_DISCIPLINA
  WHERE DISCIPLINA_UNIVERSUS_ID = 1534
  */

  SET @EDUCAT_TURMADISCIPLINA = 0
  
  SELECT @EDUCAT_TURMADISCIPLINA = ISNULL(ID,0)
  FROM ACADEMICO_TURMADISCIPLINA
  WHERE TURMA_UNIVERSUS = @UNIVERSUS_TURMA AND DISCIPLINA_UNIVERSUS_ID = @UNIVERSUS_DISCIPLINA
  
 /* 
  SELECT ID
  FROM ACADEMICO_TURMADISCIPLINA WITH(NOLOCK)
  WHERE TURMA_UNIVERSUS = '4MB2º(TA)A02' AND DISCIPLINA_UNIVERSUS_ID = 1534
  */

  IF (SELECT COUNT(1)
      FROM ACADEMICO_TURMADISCIPLINAALUNO
	  WHERE ALUNO_ID = @EDUCAT_ALUNO AND TURMA_DISCIPLINA_ID = @EDUCAT_TURMADISCIPLINA
      ) = 0

	  /*
	  SELECT COUNT(1)
      FROM ACADEMICO_TURMADISCIPLINAALUNO
	  WHERE ALUNO_ID = 45415 AND TURMA_DISCIPLINA_ID = @EDUCAT_TURMADISCIPLINA
	  */
  BEGIN
    
	INSERT INTO ACADEMICO_TURMADISCIPLINAALUNO
	VALUES (@EDUCAT_ALUNO, @EDUCAT_TURMADISCIPLINA, NULL, GETDATE())

	PRINT @UNIVERSUS_ALUNO
	PRINT 'ALUNO INSERIDO: ' +CONVERT(VARCHAR(100),@EDUCAT_ALUNO)+ ' NA TURMA: '+@UNIVERSUS_TURMA+ ' NESTE PROCESSO'
  END
  ELSE
  BEGIN
    PRINT 'NÃO INSERIU O ALUNO: ' +CONVERT(VARCHAR(100),@EDUCAT_ALUNO)+ ' NESTE PROCESSO'
  END

  FETCH NEXT FROM POPULA_TURMADISCIPLINAALUNO_EDUCAT INTO @UNIVERSUS_ESCOLA, @UNIVERSUS_ALUNO, @UNIVERSUS_TURMA, @UNIVERSUS_DISCIPLINA, @UNIVERSUS_CODCURSO

END
CLOSE POPULA_TURMADISCIPLINAALUNO_EDUCAT
DEALLOCATE POPULA_TURMADISCIPLINAALUNO_EDUCAT

GO
