/****** Object:  Table [dbo].[importacao_aluno]    Script Date: 15/10/2019 15:41:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[importacao_aluno](
	[Curso] [nvarchar](255) NULL,
	[Turma] [nvarchar](255) NULL,
	[Disciplina] [nvarchar](255) NULL,
	[ALUNO] [nvarchar](255) NULL,
	[RA] [nvarchar](255) NULL,
	[EMAIL] [nvarchar](255) NULL,
	[TEL1] [nvarchar](255) NULL,
	[CPF] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[importacao_aluno] ([Curso], [Turma], [Disciplina], [ALUNO], [RA], [EMAIL], [TEL1], [CPF]) VALUES (N'ENFERMAGEM DO TRABALHO', N'6001-18AA', N'METODOLOGIA CIENTÍFICA', N'ASSIMALUANA GRAÇAS OLIMPIO OLIVEIRA', N'3180.000075', N'dm.enfermagem@sada.com.br', N'31993749621', N'06680896606')
INSERT [dbo].[importacao_aluno] ([Curso], [Turma], [Disciplina], [ALUNO], [RA], [EMAIL], [TEL1], [CPF]) VALUES (N'ENFERMAGEM DO TRABALHO', N'6001-18AA', N'METODOLOGIA CIENTÍFICA', N'DANIELE CARDOSO NUNES SOUZA', N'3180.000128', N'dcnsouza87@gmail.com', N'31993350438', N'09010928608')
INSERT [dbo].[importacao_aluno] ([Curso], [Turma], [Disciplina], [ALUNO], [RA], [EMAIL], [TEL1], [CPF]) VALUES (N'ENFERMAGEM DO TRABALHO', N'6001-18AA', N'METODOLOGIA CIENTÍFICA', N'JAQUELINE SILVA SOARES', N'3180.000129', N'jaque.soares95@hotmail.com', N'37998406772', N'12920802640')
GO
