/****** Object:  Synonym [dbo].[sn_usuarios_pessoa_log]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_usuarios_pessoa_log]
GO
/****** Object:  Synonym [dbo].[sn_usuarios_pessoa]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_usuarios_pessoa]
GO
/****** Object:  Synonym [dbo].[sn_usuarios_hierarquia_usuarios_log]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_usuarios_hierarquia_usuarios_log]
GO
/****** Object:  Synonym [dbo].[sn_usuarios_hierarquia_usuarios]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_usuarios_hierarquia_usuarios]
GO
/****** Object:  Synonym [dbo].[sn_usuarios_hierarquia_log]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_usuarios_hierarquia_log]
GO
/****** Object:  Synonym [dbo].[sn_usuarios_hierarquia]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_usuarios_hierarquia]
GO
/****** Object:  Synonym [dbo].[sn_usuarios_grupousuario_log]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_usuarios_grupousuario_log]
GO
/****** Object:  Synonym [dbo].[sn_usuarios_grupousuario]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_usuarios_grupousuario]
GO
/****** Object:  Synonym [dbo].[sn_usuarios_grupo_log]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_usuarios_grupo_log]
GO
/****** Object:  Synonym [dbo].[sn_usuarios_grupo]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_usuarios_grupo]
GO
/****** Object:  Synonym [dbo].[sn_usuarios_funcao_log]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_usuarios_funcao_log]
GO
/****** Object:  Synonym [dbo].[sn_usuarios_funcao]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_usuarios_funcao]
GO
/****** Object:  Synonym [dbo].[sn_PROJETO_PROJETO_USUARIOS_LOG]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_PROJETO_PROJETO_USUARIOS_LOG]
GO
/****** Object:  Synonym [dbo].[sn_PROJETO_PROJETO_USUARIOS]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_PROJETO_PROJETO_USUARIOS]
GO
/****** Object:  Synonym [dbo].[sn_projeto_projeto_log]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_projeto_projeto_log]
GO
/****** Object:  Synonym [dbo].[sn_projeto_projeto]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_projeto_projeto]
GO
/****** Object:  Synonym [dbo].[sn_ocorrencias_ocorrencia_log]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_ocorrencias_ocorrencia_log]
GO
/****** Object:  Synonym [dbo].[sn_ocorrencias_ocorrencia]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_ocorrencias_ocorrencia]
GO
/****** Object:  Synonym [dbo].[sn_inep_n91]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_inep_n91]
GO
/****** Object:  Synonym [dbo].[sn_inep_n02]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_inep_n02]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_tipoauditoria]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_tipoauditoria]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_tipo]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_tipo]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_status_log]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_status_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_status]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_status]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_situacao_log]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_situacao_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_situacao_competencia_log]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_situacao_competencia_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_situacao_competencia]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_situacao_competencia]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_situacao]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_situacao]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_redacaoouro_log]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_redacaoouro_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_redacaoouro]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_redacaoouro]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_redacao_log]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_redacao_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_redacao]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_redacao]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_gabarito_log]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_gabarito_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_gabarito]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_gabarito]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_filapessoal_log]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_filapessoal_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_filapessoal]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_filapessoal]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_filaouro_log]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_filaouro_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_filaouro]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_filaouro]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_filaordem_log]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_filaordem_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_filaordem]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_filaordem]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_filamoda_log]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_filamoda_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_filamoda]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_filamoda]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_filaauditoria_log]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_filaauditoria_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_filaauditoria]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_filaauditoria]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_fila4_log]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_fila4_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_fila4]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_fila4]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_fila3_log]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_fila3_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_fila3]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_fila3]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_fila2_log]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_fila2_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_fila2]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_fila2]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_fila1_log]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_fila1_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_fila1]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_fila1]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_corretor_log]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_corretor_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_corretor_indicadores_log]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_corretor_indicadores_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_corretor_indicadores]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_corretor_indicadores]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_corretor]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_corretor]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_correcao_log]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_correcao_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_correcao]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_correcao]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_conclusao_analise_log]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_conclusao_analise_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_conclusao_analise]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_conclusao_analise]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_analise_log]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_analise_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_analise]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_correcoes_analise]
GO
/****** Object:  Synonym [dbo].[sn_auth_user_groups_log]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_auth_user_groups_log]
GO
/****** Object:  Synonym [dbo].[sn_auth_user_groups]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_auth_user_groups]
GO
/****** Object:  Synonym [dbo].[sn_auth_group_log]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_auth_group_log]
GO
/****** Object:  Synonym [dbo].[sn_auth_group]    Script Date: 27/11/2018 10:31:20 ******/
DROP SYNONYM [dbo].[sn_auth_group]
GO
/****** Object:  Synonym [dbo].[sn_auth_group]    Script Date: 27/11/2018 10:31:20 ******/
CREATE SYNONYM [dbo].[sn_auth_group] FOR [principal].[correcao_redacao_regular].[dbo].[auth_group]
GO
/****** Object:  Synonym [dbo].[sn_auth_group_log]    Script Date: 27/11/2018 10:31:20 ******/
CREATE SYNONYM [dbo].[sn_auth_group_log] FOR [principal].[correcao_redacao_regular].[dbo].[auth_group_log]
GO
/****** Object:  Synonym [dbo].[sn_auth_user_groups]    Script Date: 27/11/2018 10:31:20 ******/
CREATE SYNONYM [dbo].[sn_auth_user_groups] FOR [principal].[correcao_redacao_regular].[dbo].[auth_user_groups]
GO
/****** Object:  Synonym [dbo].[sn_auth_user_groups_log]    Script Date: 27/11/2018 10:31:20 ******/
CREATE SYNONYM [dbo].[sn_auth_user_groups_log] FOR [principal].[correcao_redacao_regular].[dbo].[auth_user_groups_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_analise]    Script Date: 27/11/2018 10:31:20 ******/
CREATE SYNONYM [dbo].[sn_correcoes_analise] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_analise]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_analise_log]    Script Date: 27/11/2018 10:31:20 ******/
CREATE SYNONYM [dbo].[sn_correcoes_analise_log] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_analise_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_conclusao_analise]    Script Date: 27/11/2018 10:31:20 ******/
CREATE SYNONYM [dbo].[sn_correcoes_conclusao_analise] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_conclusao_analise]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_conclusao_analise_log]    Script Date: 27/11/2018 10:31:20 ******/
CREATE SYNONYM [dbo].[sn_correcoes_conclusao_analise_log] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_conclusao_analise_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_correcao]    Script Date: 27/11/2018 10:31:20 ******/
CREATE SYNONYM [dbo].[sn_correcoes_correcao] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_correcao]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_correcao_log]    Script Date: 27/11/2018 10:31:20 ******/
CREATE SYNONYM [dbo].[sn_correcoes_correcao_log] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_correcao_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_corretor]    Script Date: 27/11/2018 10:31:20 ******/
CREATE SYNONYM [dbo].[sn_correcoes_corretor] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_corretor]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_corretor_indicadores]    Script Date: 27/11/2018 10:31:20 ******/
CREATE SYNONYM [dbo].[sn_correcoes_corretor_indicadores] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_corretor_indicadores]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_corretor_indicadores_log]    Script Date: 27/11/2018 10:31:20 ******/
CREATE SYNONYM [dbo].[sn_correcoes_corretor_indicadores_log] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_corretor_indicadores_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_corretor_log]    Script Date: 27/11/2018 10:31:20 ******/
CREATE SYNONYM [dbo].[sn_correcoes_corretor_log] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_corretor_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_fila1]    Script Date: 27/11/2018 10:31:20 ******/
CREATE SYNONYM [dbo].[sn_correcoes_fila1] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_fila1]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_fila1_log]    Script Date: 27/11/2018 10:31:20 ******/
CREATE SYNONYM [dbo].[sn_correcoes_fila1_log] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_fila1_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_fila2]    Script Date: 27/11/2018 10:31:20 ******/
CREATE SYNONYM [dbo].[sn_correcoes_fila2] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_fila2]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_fila2_log]    Script Date: 27/11/2018 10:31:20 ******/
CREATE SYNONYM [dbo].[sn_correcoes_fila2_log] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_fila2_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_fila3]    Script Date: 27/11/2018 10:31:20 ******/
CREATE SYNONYM [dbo].[sn_correcoes_fila3] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_fila3]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_fila3_log]    Script Date: 27/11/2018 10:31:20 ******/
CREATE SYNONYM [dbo].[sn_correcoes_fila3_log] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_fila3_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_fila4]    Script Date: 27/11/2018 10:31:21 ******/
CREATE SYNONYM [dbo].[sn_correcoes_fila4] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_fila4]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_fila4_log]    Script Date: 27/11/2018 10:31:21 ******/
CREATE SYNONYM [dbo].[sn_correcoes_fila4_log] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_fila4_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_filaauditoria]    Script Date: 27/11/2018 10:31:21 ******/
CREATE SYNONYM [dbo].[sn_correcoes_filaauditoria] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_filaauditoria]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_filaauditoria_log]    Script Date: 27/11/2018 10:31:21 ******/
CREATE SYNONYM [dbo].[sn_correcoes_filaauditoria_log] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_filaauditoria_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_filamoda]    Script Date: 27/11/2018 10:31:21 ******/
CREATE SYNONYM [dbo].[sn_correcoes_filamoda] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_filamoda]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_filamoda_log]    Script Date: 27/11/2018 10:31:21 ******/
CREATE SYNONYM [dbo].[sn_correcoes_filamoda_log] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_filamoda_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_filaordem]    Script Date: 27/11/2018 10:31:21 ******/
CREATE SYNONYM [dbo].[sn_correcoes_filaordem] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_filaordem]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_filaordem_log]    Script Date: 27/11/2018 10:31:21 ******/
CREATE SYNONYM [dbo].[sn_correcoes_filaordem_log] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_filaordem_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_filaouro]    Script Date: 27/11/2018 10:31:21 ******/
CREATE SYNONYM [dbo].[sn_correcoes_filaouro] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_filaouro]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_filaouro_log]    Script Date: 27/11/2018 10:31:21 ******/
CREATE SYNONYM [dbo].[sn_correcoes_filaouro_log] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_filaouro_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_filapessoal]    Script Date: 27/11/2018 10:31:21 ******/
CREATE SYNONYM [dbo].[sn_correcoes_filapessoal] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_filapessoal]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_filapessoal_log]    Script Date: 27/11/2018 10:31:21 ******/
CREATE SYNONYM [dbo].[sn_correcoes_filapessoal_log] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_filapessoal_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_gabarito]    Script Date: 27/11/2018 10:31:21 ******/
CREATE SYNONYM [dbo].[sn_correcoes_gabarito] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_gabarito]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_gabarito_log]    Script Date: 27/11/2018 10:31:21 ******/
CREATE SYNONYM [dbo].[sn_correcoes_gabarito_log] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_gabarito_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_redacao]    Script Date: 27/11/2018 10:31:21 ******/
CREATE SYNONYM [dbo].[sn_correcoes_redacao] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_redacao]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_redacao_log]    Script Date: 27/11/2018 10:31:21 ******/
CREATE SYNONYM [dbo].[sn_correcoes_redacao_log] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_redacao_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_redacaoouro]    Script Date: 27/11/2018 10:31:21 ******/
CREATE SYNONYM [dbo].[sn_correcoes_redacaoouro] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_redacaoouro]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_redacaoouro_log]    Script Date: 27/11/2018 10:31:21 ******/
CREATE SYNONYM [dbo].[sn_correcoes_redacaoouro_log] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_redacaoouro_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_situacao]    Script Date: 27/11/2018 10:31:21 ******/
CREATE SYNONYM [dbo].[sn_correcoes_situacao] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_situacao]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_situacao_competencia]    Script Date: 27/11/2018 10:31:21 ******/
CREATE SYNONYM [dbo].[sn_correcoes_situacao_competencia] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_situacao_competencia]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_situacao_competencia_log]    Script Date: 27/11/2018 10:31:21 ******/
CREATE SYNONYM [dbo].[sn_correcoes_situacao_competencia_log] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_situacao_competencia_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_situacao_log]    Script Date: 27/11/2018 10:31:21 ******/
CREATE SYNONYM [dbo].[sn_correcoes_situacao_log] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_situacao_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_status]    Script Date: 27/11/2018 10:31:21 ******/
CREATE SYNONYM [dbo].[sn_correcoes_status] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_status]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_status_log]    Script Date: 27/11/2018 10:31:21 ******/
CREATE SYNONYM [dbo].[sn_correcoes_status_log] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_status_log]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_tipo]    Script Date: 27/11/2018 10:31:21 ******/
CREATE SYNONYM [dbo].[sn_correcoes_tipo] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_tipo]
GO
/****** Object:  Synonym [dbo].[sn_correcoes_tipoauditoria]    Script Date: 27/11/2018 10:31:21 ******/
CREATE SYNONYM [dbo].[sn_correcoes_tipoauditoria] FOR [principal].[correcao_redacao_regular].[dbo].[correcoes_tipoauditoria]
GO
/****** Object:  Synonym [dbo].[sn_inep_n02]    Script Date: 27/11/2018 10:31:21 ******/
CREATE SYNONYM [dbo].[sn_inep_n02] FOR [principal].[inep_regular].[dbo].[inep_n02]
GO
/****** Object:  Synonym [dbo].[sn_inep_n91]    Script Date: 27/11/2018 10:31:21 ******/
CREATE SYNONYM [dbo].[sn_inep_n91] FOR [principal].[inep_regular].[dbo].[inep_n91]
GO
/****** Object:  Synonym [dbo].[sn_ocorrencias_ocorrencia]    Script Date: 27/11/2018 10:31:21 ******/
CREATE SYNONYM [dbo].[sn_ocorrencias_ocorrencia] FOR [principal].[correcao_redacao_regular].[dbo].[ocorrencias_ocorrencia]
GO
/****** Object:  Synonym [dbo].[sn_ocorrencias_ocorrencia_log]    Script Date: 27/11/2018 10:31:21 ******/
CREATE SYNONYM [dbo].[sn_ocorrencias_ocorrencia_log] FOR [principal].[correcao_redacao_regular].[dbo].[ocorrencias_ocorrencia_log]
GO
/****** Object:  Synonym [dbo].[sn_projeto_projeto]    Script Date: 27/11/2018 10:31:21 ******/
CREATE SYNONYM [dbo].[sn_projeto_projeto] FOR [principal].[correcao_redacao_regular].[dbo].[projeto_projeto]
GO
/****** Object:  Synonym [dbo].[sn_projeto_projeto_log]    Script Date: 27/11/2018 10:31:21 ******/
CREATE SYNONYM [dbo].[sn_projeto_projeto_log] FOR [principal].[correcao_redacao_regular].[dbo].[projeto_projeto_log]
GO
/****** Object:  Synonym [dbo].[sn_PROJETO_PROJETO_USUARIOS]    Script Date: 27/11/2018 10:31:21 ******/
CREATE SYNONYM [dbo].[sn_PROJETO_PROJETO_USUARIOS] FOR [principal].[correcao_redacao_regular].[dbo].[PROJETO_PROJETO_USUARIOS]
GO
/****** Object:  Synonym [dbo].[sn_PROJETO_PROJETO_USUARIOS_LOG]    Script Date: 27/11/2018 10:31:21 ******/
CREATE SYNONYM [dbo].[sn_PROJETO_PROJETO_USUARIOS_LOG] FOR [principal].[correcao_redacao_regular].[dbo].[PROJETO_PROJETO_USUARIOS_LOG]
GO
/****** Object:  Synonym [dbo].[sn_usuarios_funcao]    Script Date: 27/11/2018 10:31:21 ******/
CREATE SYNONYM [dbo].[sn_usuarios_funcao] FOR [principal].[correcao_redacao_regular].[dbo].[usuarios_funcao]
GO
/****** Object:  Synonym [dbo].[sn_usuarios_funcao_log]    Script Date: 27/11/2018 10:31:21 ******/
CREATE SYNONYM [dbo].[sn_usuarios_funcao_log] FOR [principal].[correcao_redacao_regular].[dbo].[usuarios_funcao_log]
GO
/****** Object:  Synonym [dbo].[sn_usuarios_grupo]    Script Date: 27/11/2018 10:31:22 ******/
CREATE SYNONYM [dbo].[sn_usuarios_grupo] FOR [principal].[correcao_redacao_regular].[dbo].[usuarios_grupo]
GO
/****** Object:  Synonym [dbo].[sn_usuarios_grupo_log]    Script Date: 27/11/2018 10:31:22 ******/
CREATE SYNONYM [dbo].[sn_usuarios_grupo_log] FOR [principal].[correcao_redacao_regular].[dbo].[usuarios_grupo_log]
GO
/****** Object:  Synonym [dbo].[sn_usuarios_grupousuario]    Script Date: 27/11/2018 10:31:22 ******/
CREATE SYNONYM [dbo].[sn_usuarios_grupousuario] FOR [principal].[correcao_redacao_regular].[dbo].[usuarios_grupousuario]
GO
/****** Object:  Synonym [dbo].[sn_usuarios_grupousuario_log]    Script Date: 27/11/2018 10:31:22 ******/
CREATE SYNONYM [dbo].[sn_usuarios_grupousuario_log] FOR [principal].[correcao_redacao_regular].[dbo].[usuarios_grupousuario_log]
GO
/****** Object:  Synonym [dbo].[sn_usuarios_hierarquia]    Script Date: 27/11/2018 10:31:22 ******/
CREATE SYNONYM [dbo].[sn_usuarios_hierarquia] FOR [principal].[correcao_redacao_regular].[dbo].[usuarios_hierarquia]
GO
/****** Object:  Synonym [dbo].[sn_usuarios_hierarquia_log]    Script Date: 27/11/2018 10:31:22 ******/
CREATE SYNONYM [dbo].[sn_usuarios_hierarquia_log] FOR [principal].[correcao_redacao_regular].[dbo].[usuarios_hierarquia_log]
GO
/****** Object:  Synonym [dbo].[sn_usuarios_hierarquia_usuarios]    Script Date: 27/11/2018 10:31:22 ******/
CREATE SYNONYM [dbo].[sn_usuarios_hierarquia_usuarios] FOR [principal].[correcao_redacao_regular].[dbo].[usuarios_hierarquia_usuarios]
GO
/****** Object:  Synonym [dbo].[sn_usuarios_hierarquia_usuarios_log]    Script Date: 27/11/2018 10:31:22 ******/
CREATE SYNONYM [dbo].[sn_usuarios_hierarquia_usuarios_log] FOR [principal].[correcao_redacao_regular].[dbo].[usuarios_hierarquia_usuarios_log]
GO
/****** Object:  Synonym [dbo].[sn_usuarios_pessoa]    Script Date: 27/11/2018 10:31:22 ******/
CREATE SYNONYM [dbo].[sn_usuarios_pessoa] FOR [principal].[correcao_redacao_regular].[dbo].[usuarios_pessoa]
GO
/****** Object:  Synonym [dbo].[sn_usuarios_pessoa_log]    Script Date: 27/11/2018 10:31:22 ******/
CREATE SYNONYM [dbo].[sn_usuarios_pessoa_log] FOR [principal].[correcao_redacao_regular].[dbo].[usuarios_pessoa_log]
GO


select * from sn_usuarios_hierarquia_usuarios