/****** Object:  Table [dbo].[tmp_core_feature]    Script Date: 10/27/2020 10:52:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_core_feature](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [nvarchar](50) NOT NULL,
	[descricao] [nvarchar](255) NULL,
	[ativo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, FILLFACTOR = 50) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tmp_core_feature] ON 

INSERT [dbo].[tmp_core_feature] ([id], [codigo], [descricao], [ativo]) VALUES (1, N'ocorrencia', N'libera funcionalidade de ocorrências', 0)
INSERT [dbo].[tmp_core_feature] ([id], [codigo], [descricao], [ativo]) VALUES (2, N'login_duas_etapas', N'Autenticação após verificação de duas etapas', 0)
INSERT [dbo].[tmp_core_feature] ([id], [codigo], [descricao], [ativo]) VALUES (3, N'login_local', N'Utilizar serviço de autenticação local', 1)
SET IDENTITY_INSERT [dbo].[tmp_core_feature] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__core_fea__40F9A2062DC9984C]    Script Date: 10/27/2020 10:52:22 AM ******/
ALTER TABLE [dbo].[tmp_core_feature] ADD UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, FILLFACTOR = 50) ON [PRIMARY]
GO
