/****** Object:  Table [dbo].[item_alternative]    Script Date: 29/04/2020 19:19:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item_alternative](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[is_answer] [bit] NOT NULL,
	[position] [smallint] NOT NULL,
	[letter] [nvarchar](1) NOT NULL,
	[item_id] [int] NOT NULL,
	[external_id] [nvarchar](1000) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[item_alternative] ON 

INSERT [dbo].[item_alternative] ([id], [content], [is_answer], [position], [letter], [item_id], [external_id], [created_at], [updated_at]) VALUES (1, N'<p>“teoria do negócio jurídico”, de matriz inglesa;</p>', 0, 1, N'A', 1, N'53939', CAST(N'2020-04-23T00:05:46.4483930' AS DateTime2), CAST(N'2020-04-23T00:05:46.4484140' AS DateTime2))
INSERT [dbo].[item_alternative] ([id], [content], [is_answer], [position], [letter], [item_id], [external_id], [created_at], [updated_at]) VALUES (2, N'<p>“teoria dos atos de comércio”, de matriz francesa;</p>', 0, 2, N'B', 1, N'53940', CAST(N'2020-04-23T00:05:46.7746220' AS DateTime2), CAST(N'2020-04-23T00:05:46.7746430' AS DateTime2))
INSERT [dbo].[item_alternative] ([id], [content], [is_answer], [position], [letter], [item_id], [external_id], [created_at], [updated_at]) VALUES (3, N'<p> “teoria da empresa”, de matriz italiana;</p>', 0, 3, N'C', 1, N'53941', CAST(N'2020-04-23T00:05:47.0954080' AS DateTime2), CAST(N'2020-04-23T00:05:47.0954290' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[item_alternative] OFF
ALTER TABLE [dbo].[item_alternative]  WITH CHECK ADD  CONSTRAINT [item_alternative_item_id_c30b6d03_fk_item_item_id] FOREIGN KEY([item_id])
REFERENCES [dbo].[item_item] ([id])
GO
ALTER TABLE [dbo].[item_alternative] CHECK CONSTRAINT [item_alternative_item_id_c30b6d03_fk_item_item_id]
GO
ALTER TABLE [dbo].[item_alternative]  WITH CHECK ADD  CONSTRAINT [item_alternative_position_7cb546d5_check] CHECK  (([position]>=(0)))
GO
ALTER TABLE [dbo].[item_alternative] CHECK CONSTRAINT [item_alternative_position_7cb546d5_check]
GO
