/****** Object:  Table [dbo].[application_answer]    Script Date: 29/04/2020 15:30:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[application_answer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[position] [smallint] NOT NULL,
	[free_response] [nvarchar](max) NULL,
	[alternative_id] [int] NULL,
	[application_id] [int] NOT NULL,
	[item_id] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[seconds] [int] NOT NULL,
	[value] [numeric](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[application_application]    Script Date: 29/04/2020 15:30:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[application_application](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[started_at] [datetime2](7) NULL,
	[finished_at] [datetime2](7) NULL,
	[exam_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[should_update_answers] [bit] NOT NULL,
	[timeout] [datetime2](7) NULL,
	[forced_status] [nvarchar](30) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_user]    Script Date: 29/04/2020 15:30:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[password] [nvarchar](128) NOT NULL,
	[last_login] [datetime2](7) NULL,
	[is_superuser] [bit] NOT NULL,
	[username] [nvarchar](150) NOT NULL,
	[first_name] [nvarchar](30) NOT NULL,
	[last_name] [nvarchar](150) NOT NULL,
	[email] [nvarchar](254) NOT NULL,
	[is_staff] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[date_joined] [datetime2](7) NOT NULL,
	[name] [nvarchar](1000) NULL,
	[public_identifier] [nvarchar](100) NULL,
	[extra] [nvarchar](max) NULL,
	[provider_id] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exam_exam]    Script Date: 29/04/2020 15:30:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exam_exam](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](4000) NOT NULL,
	[shuffle_items] [bit] NOT NULL,
	[extra] [nvarchar](max) NULL,
	[external_id] [nvarchar](1000) NOT NULL,
	[instructions] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[collection_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exam_examitem]    Script Date: 29/04/2020 15:30:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exam_examitem](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[position] [smallint] NOT NULL,
	[exam_id] [int] NOT NULL,
	[item_id] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[value] [numeric](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[item_item]    Script Date: 29/04/2020 15:30:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item_item](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[introduction] [nvarchar](max) NULL,
	[question] [nvarchar](max) NULL,
	[category] [nvarchar](50) NOT NULL,
	[free_response_max_length] [int] NULL,
	[external_id] [nvarchar](1000) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[unibh]    Script Date: 29/04/2020 15:30:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[unibh](
	[id] [int] NOT NULL,
	[password] [nvarchar](1000) NOT NULL,
	[last_login] [nvarchar](1000) NOT NULL,
	[is_superuser] [int] NOT NULL,
	[username] [nvarchar](1000) NOT NULL,
	[first_name] [nvarchar](1000) NULL,
	[last_name] [nvarchar](1000) NULL,
	[email] [nvarchar](1000) NOT NULL,
	[is_staff] [nvarchar](1000) NOT NULL,
	[is_active] [nvarchar](1000) NOT NULL,
	[date_joined] [datetime2](7) NOT NULL,
	[name] [nvarchar](1000) NOT NULL,
	[public_identifier] [nvarchar](1000) NOT NULL,
	[extra] [nvarchar](1000) NOT NULL,
	[provider_id] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[application_answer] ON 

INSERT [dbo].[application_answer] ([id], [position], [free_response], [alternative_id], [application_id], [item_id], [created_at], [updated_at], [seconds], [value]) VALUES (1, 1, NULL, 42, 1, 9, CAST(N'2020-04-23T01:27:24.1033333' AS DateTime2), CAST(N'2020-04-23T01:27:24.1033333' AS DateTime2), 283, NULL)
INSERT [dbo].[application_answer] ([id], [position], [free_response], [alternative_id], [application_id], [item_id], [created_at], [updated_at], [seconds], [value]) VALUES (2, 1, NULL, 45, 2, 9, CAST(N'2020-04-23T01:27:24.1033333' AS DateTime2), CAST(N'2020-04-23T01:27:24.1033333' AS DateTime2), 434, NULL)
INSERT [dbo].[application_answer] ([id], [position], [free_response], [alternative_id], [application_id], [item_id], [created_at], [updated_at], [seconds], [value]) VALUES (3, 1, NULL, 45, 3, 9, CAST(N'2020-04-23T01:27:24.1033333' AS DateTime2), CAST(N'2020-04-23T01:27:24.1033333' AS DateTime2), 218, NULL)
GO
SET IDENTITY_INSERT [dbo].[application_answer] OFF
SET IDENTITY_INSERT [dbo].[application_application] ON 

INSERT [dbo].[application_application] ([id], [started_at], [finished_at], [exam_id], [user_id], [should_update_answers], [timeout], [forced_status], [created_at], [updated_at]) VALUES (1, CAST(N'2020-04-23T10:40:52.6401280' AS DateTime2), CAST(N'2020-04-23T12:34:49.0774420' AS DateTime2), 4, 1, 0, CAST(N'2020-04-23T12:35:00.0000000' AS DateTime2), NULL, CAST(N'2020-04-23T01:27:20.5333330' AS DateTime2), CAST(N'2020-04-23T12:34:49.0775600' AS DateTime2))
INSERT [dbo].[application_application] ([id], [started_at], [finished_at], [exam_id], [user_id], [should_update_answers], [timeout], [forced_status], [created_at], [updated_at]) VALUES (2, CAST(N'2020-04-23T10:41:00.6974560' AS DateTime2), CAST(N'2020-04-23T12:31:27.9316130' AS DateTime2), 4, 2, 0, CAST(N'2020-04-23T12:35:00.0000000' AS DateTime2), NULL, CAST(N'2020-04-23T01:27:20.5333330' AS DateTime2), CAST(N'2020-04-23T12:31:27.9317560' AS DateTime2))
INSERT [dbo].[application_application] ([id], [started_at], [finished_at], [exam_id], [user_id], [should_update_answers], [timeout], [forced_status], [created_at], [updated_at]) VALUES (3, CAST(N'2020-04-23T10:45:41.2293290' AS DateTime2), CAST(N'2020-04-23T12:19:41.4495540' AS DateTime2), 4, 3, 0, CAST(N'2020-04-23T12:35:00.0000000' AS DateTime2), NULL, CAST(N'2020-04-23T01:27:20.5333330' AS DateTime2), CAST(N'2020-04-23T12:19:41.4497720' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[application_application] OFF
SET IDENTITY_INSERT [dbo].[auth_user] ON 

GO
SET IDENTITY_INSERT [dbo].[auth_user] OFF
SET IDENTITY_INSERT [dbo].[exam_exam] ON 

INSERT [dbo].[exam_exam] ([id], [name], [shuffle_items], [extra], [external_id], [instructions], [created_at], [updated_at], [collection_id]) VALUES (3, N'Direito Empresarial I – DIR1BN-ESA', 0, NULL, N'1444', NULL, CAST(N'2020-04-23T00:05:45.1944460' AS DateTime2), CAST(N'2020-04-23T00:05:45.1944650' AS DateTime2), 2)
SET IDENTITY_INSERT [dbo].[exam_exam] OFF
SET IDENTITY_INSERT [dbo].[exam_examitem] ON 

INSERT [dbo].[exam_examitem] ([id], [position], [exam_id], [item_id], [created_at], [updated_at], [value]) VALUES (1, 1, 3, 1, CAST(N'2020-04-23T00:05:48.0302290' AS DateTime2), CAST(N'2020-04-23T00:05:48.0302500' AS DateTime2), CAST(1.00 AS Numeric(18, 2)))
INSERT [dbo].[exam_examitem] ([id], [position], [exam_id], [item_id], [created_at], [updated_at], [value]) VALUES (2, 2, 3, 2, CAST(N'2020-04-23T00:05:50.9927910' AS DateTime2), CAST(N'2020-04-23T00:05:50.9928130' AS DateTime2), CAST(1.00 AS Numeric(18, 2)))
INSERT [dbo].[exam_examitem] ([id], [position], [exam_id], [item_id], [created_at], [updated_at], [value]) VALUES (3, 3, 3, 3, CAST(N'2020-04-23T00:05:53.9962370' AS DateTime2), CAST(N'2020-04-23T00:05:53.9962580' AS DateTime2), CAST(1.00 AS Numeric(18, 2)))
SET IDENTITY_INSERT [dbo].[exam_examitem] OFF
SET IDENTITY_INSERT [dbo].[item_item] ON 

INSERT [dbo].[item_item] ([id], [introduction], [question], [category], [free_response_max_length], [external_id], [created_at], [updated_at]) VALUES (1, N'', N'<p>(VUNESP/TJMG/JUIZ/2012 – adaptada) Com a vigência do Código Civil de 2002, à luz do artigo 966, é correto afirmar que o Direito brasileiro adotou a seguinte teoria:</p>', N'MULTIPLE_CHOICE', NULL, N'12121', CAST(N'2020-04-23T00:05:45.9642020' AS DateTime2), CAST(N'2020-04-23T00:05:45.9642260' AS DateTime2))
INSERT [dbo].[item_item] ([id], [introduction], [question], [category], [free_response_max_length], [external_id], [created_at], [updated_at]) VALUES (3, N'', N'<p>De acordo com o Código Civil Brasileiro de 2002, a correta definição para o termo jurídico “empresa” é:</p>', N'MULTIPLE_CHOICE', NULL, N'12129', CAST(N'2020-04-23T00:05:51.9301670' AS DateTime2), CAST(N'2020-04-23T00:05:51.9301910' AS DateTime2))
SET IDENTITY_INSERT [dbo].[item_item] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__auth_use__F3DBC572F325ECD0]    Script Date: 29/04/2020 15:30:16 ******/
ALTER TABLE [dbo].[auth_user] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[application_answer]  WITH CHECK ADD  CONSTRAINT [application_answer_alternative_id_819362e0_fk_item_alternative_id] FOREIGN KEY([alternative_id])
REFERENCES [dbo].[item_alternative] ([id])
GO
ALTER TABLE [dbo].[application_answer] CHECK CONSTRAINT [application_answer_alternative_id_819362e0_fk_item_alternative_id]
GO
ALTER TABLE [dbo].[application_answer]  WITH CHECK ADD  CONSTRAINT [application_answer_application_id_430a513e_fk_application_application_id] FOREIGN KEY([application_id])
REFERENCES [dbo].[application_application] ([id])
GO
ALTER TABLE [dbo].[application_answer] CHECK CONSTRAINT [application_answer_application_id_430a513e_fk_application_application_id]
GO
ALTER TABLE [dbo].[application_answer]  WITH CHECK ADD  CONSTRAINT [application_answer_item_id_1fe7357c_fk_item_item_id] FOREIGN KEY([item_id])
REFERENCES [dbo].[item_item] ([id])
GO
ALTER TABLE [dbo].[application_answer] CHECK CONSTRAINT [application_answer_item_id_1fe7357c_fk_item_item_id]
GO
ALTER TABLE [dbo].[application_application]  WITH CHECK ADD  CONSTRAINT [application_application_exam_id_acf385a3_fk_exam_exam_id] FOREIGN KEY([exam_id])
REFERENCES [dbo].[exam_exam] ([id])
GO
ALTER TABLE [dbo].[application_application] CHECK CONSTRAINT [application_application_exam_id_acf385a3_fk_exam_exam_id]
GO
ALTER TABLE [dbo].[application_application]  WITH CHECK ADD  CONSTRAINT [application_application_user_id_4a508f9e_fk_auth_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[application_application] CHECK CONSTRAINT [application_application_user_id_4a508f9e_fk_auth_user_id]
GO
ALTER TABLE [dbo].[auth_user]  WITH CHECK ADD  CONSTRAINT [auth_user_provider_id_ec4a0803_fk_login_provider_id] FOREIGN KEY([provider_id])
REFERENCES [dbo].[login_provider] ([id])
GO
ALTER TABLE [dbo].[auth_user] CHECK CONSTRAINT [auth_user_provider_id_ec4a0803_fk_login_provider_id]
GO
ALTER TABLE [dbo].[exam_exam]  WITH CHECK ADD  CONSTRAINT [exam_exam_collection_id_148a7ce5_fk_exam_collection_id] FOREIGN KEY([collection_id])
REFERENCES [dbo].[exam_collection] ([id])
GO
ALTER TABLE [dbo].[exam_exam] CHECK CONSTRAINT [exam_exam_collection_id_148a7ce5_fk_exam_collection_id]
GO
ALTER TABLE [dbo].[exam_examitem]  WITH CHECK ADD  CONSTRAINT [exam_examitem_exam_id_e913bae0_fk_exam_exam_id] FOREIGN KEY([exam_id])
REFERENCES [dbo].[exam_exam] ([id])
GO
ALTER TABLE [dbo].[exam_examitem] CHECK CONSTRAINT [exam_examitem_exam_id_e913bae0_fk_exam_exam_id]
GO
ALTER TABLE [dbo].[exam_examitem]  WITH CHECK ADD  CONSTRAINT [exam_examitem_item_id_a8af27fe_fk_item_item_id] FOREIGN KEY([item_id])
REFERENCES [dbo].[item_item] ([id])
GO
ALTER TABLE [dbo].[exam_examitem] CHECK CONSTRAINT [exam_examitem_item_id_a8af27fe_fk_item_item_id]
GO
ALTER TABLE [dbo].[application_answer]  WITH CHECK ADD  CONSTRAINT [application_answer_position_563f2feb_check] CHECK  (([position]>=(0)))
GO
ALTER TABLE [dbo].[application_answer] CHECK CONSTRAINT [application_answer_position_563f2feb_check]
GO
ALTER TABLE [dbo].[exam_examitem]  WITH CHECK ADD  CONSTRAINT [exam_examitem_position_42fe5db4_check] CHECK  (([position]>=(0)))
GO
ALTER TABLE [dbo].[exam_examitem] CHECK CONSTRAINT [exam_examitem_position_42fe5db4_check]
GO
