/****** Object:  Table [dbo].[IMP_USUARIO]    Script Date: 29/04/2020 17:23:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMP_USUARIO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[password] [nvarchar](128) NOT NULL,
	[last_login] [datetime2](7) NULL,
	[is_superuser] [bit] NOT NULL,
	[username] [nvarchar](150) NOT NULL,
	[first_name] [nvarchar](30) NOT NULL,
	[last_name] [nvarchar](150) NOT NULL,
	[email] [nvarchar](254) NOT NULL,
	[is_staff] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[date_joined] [datetime2](7) NOT NULL,
	[name] [nvarchar](1000) NULL,
	[public_identifier] [nvarchar](100) NULL,
	[extra] [nvarchar](max) NULL,
	[provider_id] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[IMP_USUARIO] ON 

GO
SET IDENTITY_INSERT [dbo].[IMP_USUARIO] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__auth_use__F3DBC572F325ECD0]    Script Date: 29/04/2020 17:23:03 ******/
ALTER TABLE [dbo].[IMP_USUARIO] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IMP_USUARIO]  WITH CHECK ADD  CONSTRAINT [auth_user_provider_id_ec4a0803_fk_login_provider_id] FOREIGN KEY([provider_id])
REFERENCES [dbo].[login_provider] ([id])
GO
ALTER TABLE [dbo].[IMP_USUARIO] CHECK CONSTRAINT [auth_user_provider_id_ec4a0803_fk_login_provider_id]
GO
