/****** Object:  StoredProcedure [dbo].[sp_recalcular_grupoaula]    Script Date: 28/11/2019 11:40:16 ******/
DROP PROCEDURE [dbo].[sp_recalcular_grupoaula]
GO
/****** Object:  StoredProcedure [dbo].[sp_inserir_atividade_complementar]    Script Date: 28/11/2019 11:40:16 ******/
DROP PROCEDURE [dbo].[sp_inserir_atividade_complementar]
GO
/****** Object:  StoredProcedure [dbo].[sp_gerar_log_academico_turmadisciplinaprofessor]    Script Date: 28/11/2019 11:40:16 ******/
DROP PROCEDURE [dbo].[sp_gerar_log_academico_turmadisciplinaprofessor]
GO
/****** Object:  StoredProcedure [dbo].[sp_gerar_log_academico_turmadisciplinaaluno]    Script Date: 28/11/2019 11:40:16 ******/
DROP PROCEDURE [dbo].[sp_gerar_log_academico_turmadisciplinaaluno]
GO
/****** Object:  StoredProcedure [dbo].[sp_gerar_log_academico_grupoaula]    Script Date: 28/11/2019 11:40:16 ******/
DROP PROCEDURE [dbo].[sp_gerar_log_academico_grupoaula]
GO
/****** Object:  StoredProcedure [dbo].[sp_gerar_log_academico_aula]    Script Date: 28/11/2019 11:40:16 ******/
DROP PROCEDURE [dbo].[sp_gerar_log_academico_aula]
GO
/****** Object:  StoredProcedure [dbo].[SP_GERAR_BACKUP_NUVEM]    Script Date: 28/11/2019 11:40:16 ******/
DROP PROCEDURE [dbo].[SP_GERAR_BACKUP_NUVEM]
GO
/****** Object:  StoredProcedure [dbo].[sp_excluir_atividade_complementar]    Script Date: 28/11/2019 11:40:16 ******/
DROP PROCEDURE [dbo].[sp_excluir_atividade_complementar]
GO
/****** Object:  StoredProcedure [dbo].[sp_agrupar_aula]    Script Date: 28/11/2019 11:40:16 ******/
DROP PROCEDURE [dbo].[sp_agrupar_aula]
GO
/****** Object:  StoredProcedure [dbo].[SP_ACAD_ACERTA_DATAS_GRUPO_AULA]    Script Date: 28/11/2019 11:40:16 ******/
DROP PROCEDURE [dbo].[SP_ACAD_ACERTA_DATAS_GRUPO_AULA]
GO
/****** Object:  StoredProcedure [dbo].[SET_TURMA_DISCIPLINA_ALUNO_2018]    Script Date: 28/11/2019 11:40:16 ******/
DROP PROCEDURE [dbo].[SET_TURMA_DISCIPLINA_ALUNO_2018]
GO
/****** Object:  StoredProcedure [dbo].[SET_TURMA_DISCIPLINA_ALUNO]    Script Date: 28/11/2019 11:40:16 ******/
DROP PROCEDURE [dbo].[SET_TURMA_DISCIPLINA_ALUNO]
GO
/****** Object:  StoredProcedure [dbo].[SET_ACADEMICO_TURMADISCIPLINA_2018]    Script Date: 28/11/2019 11:40:16 ******/
DROP PROCEDURE [dbo].[SET_ACADEMICO_TURMADISCIPLINA_2018]
GO
/****** Object:  StoredProcedure [dbo].[SET_ACADEMICO_TURMADISCIPLINA]    Script Date: 28/11/2019 11:40:16 ******/
DROP PROCEDURE [dbo].[SET_ACADEMICO_TURMADISCIPLINA]
GO
/****** Object:  StoredProcedure [dbo].[SET_ACADEMICO_TURMA_2018]    Script Date: 28/11/2019 11:40:16 ******/
DROP PROCEDURE [dbo].[SET_ACADEMICO_TURMA_2018]
GO
/****** Object:  StoredProcedure [dbo].[SET_ACADEMICO_TURMA]    Script Date: 28/11/2019 11:40:16 ******/
DROP PROCEDURE [dbo].[SET_ACADEMICO_TURMA]
GO
/****** Object:  StoredProcedure [dbo].[SET_ACADEMICO_PROFESSOR]    Script Date: 28/11/2019 11:40:16 ******/
DROP PROCEDURE [dbo].[SET_ACADEMICO_PROFESSOR]
GO
/****** Object:  StoredProcedure [dbo].[SET_ACADEMICO_ESCOLA]    Script Date: 28/11/2019 11:40:16 ******/
DROP PROCEDURE [dbo].[SET_ACADEMICO_ESCOLA]
GO
/****** Object:  StoredProcedure [dbo].[SET_ACADEMICO_DISCIPLINA]    Script Date: 28/11/2019 11:40:16 ******/
DROP PROCEDURE [dbo].[SET_ACADEMICO_DISCIPLINA]
GO
/****** Object:  StoredProcedure [dbo].[SET_ACADEMICO_CURSO]    Script Date: 28/11/2019 11:40:16 ******/
DROP PROCEDURE [dbo].[SET_ACADEMICO_CURSO]
GO
/****** Object:  StoredProcedure [dbo].[SET_ACADEMICO_ALUNO_2018]    Script Date: 28/11/2019 11:40:16 ******/
DROP PROCEDURE [dbo].[SET_ACADEMICO_ALUNO_2018]
GO
/****** Object:  StoredProcedure [dbo].[SET_ACADEMICO_ALUNO]    Script Date: 28/11/2019 11:40:16 ******/
DROP PROCEDURE [dbo].[SET_ACADEMICO_ALUNO]
GO
/****** Object:  StoredProcedure [dbo].[pr_criar_agendamento]    Script Date: 28/11/2019 11:40:16 ******/
DROP PROCEDURE [dbo].[pr_criar_agendamento]
GO
/****** Object:  StoredProcedure [dbo].[EXEC_CARGA_ACADEMICO_2019]    Script Date: 28/11/2019 11:40:16 ******/
DROP PROCEDURE [dbo].[EXEC_CARGA_ACADEMICO_2019]
GO
/****** Object:  StoredProcedure [dbo].[EXEC_CARGA_ACADEMICO_2018]    Script Date: 28/11/2019 11:40:16 ******/
DROP PROCEDURE [dbo].[EXEC_CARGA_ACADEMICO_2018]
GO
/****** Object:  StoredProcedure [dbo].[EXEC_CARGA_ACADEMICO]    Script Date: 28/11/2019 11:40:16 ******/
DROP PROCEDURE [dbo].[EXEC_CARGA_ACADEMICO]
GO
/****** Object:  StoredProcedure [dbo].[DEL_ACADEMICO_TURMADISCIPLINAALUNO_2018]    Script Date: 28/11/2019 11:40:16 ******/
DROP PROCEDURE [dbo].[DEL_ACADEMICO_TURMADISCIPLINAALUNO_2018]
GO
/****** Object:  StoredProcedure [dbo].[DEL_ACADEMICO_TURMADISCIPLINAALUNO]    Script Date: 28/11/2019 11:40:16 ******/
DROP PROCEDURE [dbo].[DEL_ACADEMICO_TURMADISCIPLINAALUNO]
GO
/****** Object:  StoredProcedure [dbo].[DEL_ACADEMICO_TURMADISCIPLINAALUNO]    Script Date: 28/11/2019 11:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DEL_ACADEMICO_TURMADISCIPLINAALUNO] AS

DECLARE @UNIVERSUS_ESCOLA             INT
DECLARE @UNIVERSUS_ALUNO              INT
DECLARE @UNIVERSUS_TURMA              VARCHAR(20)
DECLARE @UNIVERSUS_DISCIPLINA         INT
DECLARE @UNIVERSUS_CODCURSO           INT
								      
DECLARE @EDUCAT_TURMA                 INT
DECLARE @EDUCAT_DISCIPLINA            INT
DECLARE @EDUCAT_ALUNO                 INT
DECLARE @EDUCAT_TURMADISCIPLINA       INT
DECLARE @EDUCAT_TURMADISCIPLINAALUNO  INT
DECLARE @EDUCAT_CODCURSO              INT

DECLARE APAGA_ALUNO_TURMA_DISCIPLINA_APOS_REMANEJAMENTO CURSOR FOR

SELECT E.CODESCOLA, E.CODALUNO, E.TURMA, E.CODDISCIPLINA, E.CODCURSO
FROM UNIVERSUS..ENTURMA E
WHERE E.CODESCOLA = 1 
AND E.ANO = 2019 
AND CODSTATUS NOT IN (1,2) -- 3,4,5,6,7,8
--AND CODDISCIPLINA NOT IN (57) -- CLÍNICA MÉDICA II
AND TURMA NOT IN ('4MB1º(TPA)P01', '4MB1º(TPA)P02', '4MB1º(TPA)P03', '4MB1º(TPA)P04')
AND CODALUNO NOT IN (43382)
--AND CODCURSO = 1

OPEN APAGA_ALUNO_TURMA_DISCIPLINA_APOS_REMANEJAMENTO
FETCH NEXT FROM APAGA_ALUNO_TURMA_DISCIPLINA_APOS_REMANEJAMENTO INTO @UNIVERSUS_ESCOLA, @UNIVERSUS_ALUNO, @UNIVERSUS_TURMA, @UNIVERSUS_DISCIPLINA, @UNIVERSUS_CODCURSO
WHILE @@FETCH_STATUS = 0
BEGIN
  
  SET @EDUCAT_ALUNO = 0
  
  SELECT @EDUCAT_ALUNO = ISNULL(ID,0)
  FROM ACADEMICO_ALUNO
  WHERE ALUNO_UNIVERSUS_ID = @UNIVERSUS_ALUNO AND ESCOLA_ALUNO_UNIVERSUS_ID = @UNIVERSUS_ESCOLA

  SET @EDUCAT_CODCURSO = 0
	
  SELECT @EDUCAT_CODCURSO = ISNULL(ID,0)
  FROM ACADEMICO_CURSO
  WHERE CURSO_UNIVERSUS_ID = @UNIVERSUS_CODCURSO AND ESCOLA_CURSO_UNIVERSUS_ID = @UNIVERSUS_ESCOLA  

  SET @EDUCAT_TURMA = 0
  
  SELECT @EDUCAT_TURMA = ISNULL(ID,0)
  FROM ACADEMICO_TURMA
  WHERE NOME = @UNIVERSUS_TURMA AND CURSO_ID = @EDUCAT_CODCURSO

  SET @EDUCAT_DISCIPLINA = 0
  
  SELECT @EDUCAT_DISCIPLINA = ISNULL(ID,0)
  FROM ACADEMICO_DISCIPLINA
  WHERE DISCIPLINA_UNIVERSUS_ID = @UNIVERSUS_DISCIPLINA

  SET @EDUCAT_TURMADISCIPLINA = 0
  
  SELECT @EDUCAT_TURMADISCIPLINA = ISNULL(ID,0)
  FROM ACADEMICO_TURMADISCIPLINA
  WHERE TURMA_UNIVERSUS = @UNIVERSUS_TURMA AND DISCIPLINA_UNIVERSUS_ID = @UNIVERSUS_DISCIPLINA
  
  IF (SELECT COUNT(1)
      FROM ACADEMICO_TURMADISCIPLINAALUNO
	  WHERE ALUNO_ID = @EDUCAT_ALUNO AND TURMA_DISCIPLINA_ID = @EDUCAT_TURMADISCIPLINA
      ) > 0
  BEGIN
    
    /*
	SELECT ID = @EDUCAT_TURMADISCIPLINAALUNO
    FROM ACADEMICO_TURMADISCIPLINAALUNO
	WHERE ALUNO_ID = @EDUCAT_ALUNO AND TURMA_DISCIPLINA_ID = @EDUCAT_TURMADISCIPLINA
	*/

	DELETE FROM ACADEMICO_TURMADISCIPLINAALUNO
	WHERE ALUNO_ID = @EDUCAT_ALUNO AND TURMA_DISCIPLINA_ID = @EDUCAT_TURMADISCIPLINA

	/*
	INSERT INTO ACADEMICO_TURMADISCIPLINAALUNOLOG
	VALUES (1, @EDUCAT_TURMADISCIPLINAALUNO, @EDUCAT_TURMADISCIPLINA, @EDUCAT_ALUNO, NULL, GETDATE(), NULL, NULL)
	*/

	PRINT 'O ALUNO ' +CONVERT(VARCHAR(100),@UNIVERSUS_ALUNO)+ ' FOI EXCLUIDO NA TURMA: '+@UNIVERSUS_TURMA+' / ' +CONVERT(VARCHAR(100),@EDUCAT_TURMA)+ ' DISCIPLINA: ' +CONVERT(VARCHAR(100),@UNIVERSUS_DISCIPLINA)+ ' / ' +CONVERT(VARCHAR(100),@EDUCAT_DISCIPLINA)+ ' NESTE PROCESSO'
  END
  ELSE
  BEGIN
    PRINT 'O ALUNO: ' +CONVERT(VARCHAR(100),@EDUCAT_ALUNO)+ ' NÃO ESTA VINCULADO A TURMA:' +@UNIVERSUS_TURMA+' / ' +CONVERT(VARCHAR(100),@EDUCAT_TURMA)+ ' DISCIPLINA: ' +CONVERT(VARCHAR(100),@UNIVERSUS_DISCIPLINA)+ ' / ' +CONVERT(VARCHAR(100),@EDUCAT_DISCIPLINA)+ ' NESTE PROCESSO'
  END

  FETCH NEXT FROM APAGA_ALUNO_TURMA_DISCIPLINA_APOS_REMANEJAMENTO INTO @UNIVERSUS_ESCOLA, @UNIVERSUS_ALUNO, @UNIVERSUS_TURMA, @UNIVERSUS_DISCIPLINA, @UNIVERSUS_CODCURSO

END
CLOSE APAGA_ALUNO_TURMA_DISCIPLINA_APOS_REMANEJAMENTO
DEALLOCATE APAGA_ALUNO_TURMA_DISCIPLINA_APOS_REMANEJAMENTO

GO
/****** Object:  StoredProcedure [dbo].[DEL_ACADEMICO_TURMADISCIPLINAALUNO_2018]    Script Date: 28/11/2019 11:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DEL_ACADEMICO_TURMADISCIPLINAALUNO_2018] AS

DECLARE @UNIVERSUS_ESCOLA             INT
DECLARE @UNIVERSUS_ALUNO              INT
DECLARE @UNIVERSUS_TURMA              VARCHAR(20)
DECLARE @UNIVERSUS_DISCIPLINA         INT
DECLARE @UNIVERSUS_CODCURSO           INT
								      
DECLARE @EDUCAT_TURMA                 INT
DECLARE @EDUCAT_DISCIPLINA            INT
DECLARE @EDUCAT_ALUNO                 INT
DECLARE @EDUCAT_TURMADISCIPLINA       INT
DECLARE @EDUCAT_TURMADISCIPLINAALUNO  INT
DECLARE @EDUCAT_CODCURSO              INT

DECLARE APAGA_ALUNO_TURMA_DISCIPLINA_APOS_REMANEJAMENTO CURSOR FOR

SELECT E.CODESCOLA, E.CODALUNO, E.TURMA, E.CODDISCIPLINA, E.CODCURSO
FROM UNIVERSUS..ENTURMA E
JOIN UNIVERSUS..TURMA T ON T.CODESCOLA = E.CODESCOLA
                       AND T.ANO = E.ANO
					   AND T.REGIME = E.REGIME
					   AND T.PERIODO = E.PERIODO
					   AND T.TURMA = E.TURMA
WHERE E.CODESCOLA = 1 
AND E.ANO = 2018 
AND E.CODSTATUS NOT IN (1,2) -- 3,4,5,6,7,8
--AND E.CODDISCIPLINA NOT IN (57) -- CLÍNICA MÉDICA II
AND E.TURMA NOT IN ('4MB1º(TPA)P01', '4MB1º(TPA)P02', '4MB1º(TPA)P03', '4MB1º(TPA)P04')
--AND E.CODCURSO = 1
AND T.DTINICIAL >= CONVERT(DATETIME,'01/01/2019',103)
AND CODALUNO NOT IN (43382)

-- SELECT * FROM UNIVERSUS..PESSOA WHERE CODPESSOA IN (SELECT CODPESSOA FROM UNIVERSUS..ALUNO WHERE CODALUNO = 47606)

OPEN APAGA_ALUNO_TURMA_DISCIPLINA_APOS_REMANEJAMENTO
FETCH NEXT FROM APAGA_ALUNO_TURMA_DISCIPLINA_APOS_REMANEJAMENTO INTO @UNIVERSUS_ESCOLA, @UNIVERSUS_ALUNO, @UNIVERSUS_TURMA, @UNIVERSUS_DISCIPLINA, @UNIVERSUS_CODCURSO
WHILE @@FETCH_STATUS = 0
BEGIN
  
  SET @EDUCAT_ALUNO = 0
  
  SELECT @EDUCAT_ALUNO = ISNULL(ID,0)
  FROM ACADEMICO_ALUNO
  WHERE ALUNO_UNIVERSUS_ID = @UNIVERSUS_ALUNO AND ESCOLA_ALUNO_UNIVERSUS_ID = @UNIVERSUS_ESCOLA

  SET @EDUCAT_CODCURSO = 0
	
  SELECT @EDUCAT_CODCURSO = ISNULL(ID,0)
  FROM ACADEMICO_CURSO
  WHERE CURSO_UNIVERSUS_ID = @UNIVERSUS_CODCURSO AND ESCOLA_CURSO_UNIVERSUS_ID = @UNIVERSUS_ESCOLA  

  SET @EDUCAT_TURMA = 0
  
  SELECT @EDUCAT_TURMA = ISNULL(ID,0)
  FROM ACADEMICO_TURMA
  WHERE NOME = @UNIVERSUS_TURMA AND CURSO_ID = @EDUCAT_CODCURSO

  SET @EDUCAT_DISCIPLINA = 0
  
  SELECT @EDUCAT_DISCIPLINA = ISNULL(ID,0)
  FROM ACADEMICO_DISCIPLINA
  WHERE DISCIPLINA_UNIVERSUS_ID = @UNIVERSUS_DISCIPLINA

  SET @EDUCAT_TURMADISCIPLINA = 0
  
  SELECT @EDUCAT_TURMADISCIPLINA = ISNULL(ID,0)
  FROM ACADEMICO_TURMADISCIPLINA
  WHERE TURMA_UNIVERSUS = @UNIVERSUS_TURMA AND DISCIPLINA_UNIVERSUS_ID = @UNIVERSUS_DISCIPLINA
  
  IF (SELECT COUNT(1)
      FROM ACADEMICO_TURMADISCIPLINAALUNO
	  WHERE ALUNO_ID = @EDUCAT_ALUNO AND TURMA_DISCIPLINA_ID = @EDUCAT_TURMADISCIPLINA
      ) > 0
  BEGIN
    
    /*
	SELECT ID = @EDUCAT_TURMADISCIPLINAALUNO
    FROM ACADEMICO_TURMADISCIPLINAALUNO
	WHERE ALUNO_ID = @EDUCAT_ALUNO AND TURMA_DISCIPLINA_ID = @EDUCAT_TURMADISCIPLINA
	*/

	DELETE FROM ACADEMICO_TURMADISCIPLINAALUNO
	WHERE ALUNO_ID = @EDUCAT_ALUNO AND TURMA_DISCIPLINA_ID = @EDUCAT_TURMADISCIPLINA

	/*
	INSERT INTO ACADEMICO_TURMADISCIPLINAALUNOLOG
	VALUES (1, @EDUCAT_TURMADISCIPLINAALUNO, @EDUCAT_TURMADISCIPLINA, @EDUCAT_ALUNO, NULL, GETDATE(), NULL, NULL)
	*/

	PRINT 'O ALUNO ' +CONVERT(VARCHAR(100),@UNIVERSUS_ALUNO)+ ' FOI EXCLUIDO NA TURMA: '+@UNIVERSUS_TURMA+' / ' +CONVERT(VARCHAR(100),@EDUCAT_TURMA)+ ' DISCIPLINA: ' +CONVERT(VARCHAR(100),@UNIVERSUS_DISCIPLINA)+ ' / ' +CONVERT(VARCHAR(100),@EDUCAT_DISCIPLINA)+ ' NESTE PROCESSO'
  END
  ELSE
  BEGIN
    PRINT 'O ALUNO: ' +CONVERT(VARCHAR(100),@EDUCAT_ALUNO)+ ' NÃO ESTA VINCULADO A TURMA:' +@UNIVERSUS_TURMA+' / ' +CONVERT(VARCHAR(100),@EDUCAT_TURMA)+ ' DISCIPLINA: ' +CONVERT(VARCHAR(100),@UNIVERSUS_DISCIPLINA)+ ' / ' +CONVERT(VARCHAR(100),@EDUCAT_DISCIPLINA)+ ' NESTE PROCESSO'
  END

  FETCH NEXT FROM APAGA_ALUNO_TURMA_DISCIPLINA_APOS_REMANEJAMENTO INTO @UNIVERSUS_ESCOLA, @UNIVERSUS_ALUNO, @UNIVERSUS_TURMA, @UNIVERSUS_DISCIPLINA, @UNIVERSUS_CODCURSO

END
CLOSE APAGA_ALUNO_TURMA_DISCIPLINA_APOS_REMANEJAMENTO
DEALLOCATE APAGA_ALUNO_TURMA_DISCIPLINA_APOS_REMANEJAMENTO
GO
/****** Object:  StoredProcedure [dbo].[EXEC_CARGA_ACADEMICO]    Script Date: 28/11/2019 11:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[EXEC_CARGA_ACADEMICO] AS
  /*----------------------------------------------
    CARGA TABELAS QUE INDEPENDEM DE ANO/REGIME/PERIODO
  ----------------------------------------------*/
  EXEC SET_ACADEMICO_ESCOLA
  EXEC SET_ACADEMICO_DISCIPLINA
  EXEC SET_ACADEMICO_CURSO
  EXEC SET_ACADEMICO_PROFESSOR
  /*----------------------------------------------
    CARGA COM FILTROS DE 2018
  ----------------------------------------------*/
  EXEC SET_ACADEMICO_ALUNO_2018
  EXEC SET_ACADEMICO_TURMA_2018
  EXEC SET_ACADEMICO_TURMADISCIPLINA_2018
  EXEC SET_TURMA_DISCIPLINA_ALUNO_2018
  EXEC DEL_ACADEMICO_TURMADISCIPLINAALUNO_2018
  /*----------------------------------------------
    CARGA COM FILTROS DE 2019
    ----------------------------------------------*/
  EXEC SET_ACADEMICO_ALUNO
  EXEC SET_ACADEMICO_TURMA
  EXEC SET_ACADEMICO_TURMADISCIPLINA
  EXEC SET_TURMA_DISCIPLINA_ALUNO
  EXEC DEL_ACADEMICO_TURMADISCIPLINAALUNO
GO
/****** Object:  StoredProcedure [dbo].[EXEC_CARGA_ACADEMICO_2018]    Script Date: 28/11/2019 11:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EXEC_CARGA_ACADEMICO_2018] AS
  EXEC SET_ACADEMICO_ALUNO_2018
  EXEC SET_ACADEMICO_TURMA_2018
  EXEC SET_ACADEMICO_TURMADISCIPLINA_2018
  EXEC SET_TURMA_DISCIPLINA_ALUNO_2018
  EXEC DEL_ACADEMICO_TURMADISCIPLINAALUNO_2018
  EXEC SET_ACADEMICO_CURSO
  EXEC SET_ACADEMICO_DISCIPLINA
GO
/****** Object:  StoredProcedure [dbo].[EXEC_CARGA_ACADEMICO_2019]    Script Date: 28/11/2019 11:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EXEC_CARGA_ACADEMICO_2019] AS
  EXEC SET_ACADEMICO_DISCIPLINA
  EXEC SET_ACADEMICO_CURSO
  EXEC SET_ACADEMICO_ALUNO
  EXEC SET_ACADEMICO_TURMA
  EXEC SET_ACADEMICO_TURMADISCIPLINA
  EXEC SET_TURMA_DISCIPLINA_ALUNO
  EXEC DEL_ACADEMICO_TURMADISCIPLINAALUNO
GO
/****** Object:  StoredProcedure [dbo].[pr_criar_agendamento]    Script Date: 28/11/2019 11:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[pr_criar_agendamento]
    @dias_semana varchar(15),
    @data_inicio date,
    @data_termino date,
    @periodicidade int,
    @usuario_id int,
    @turma nvarchar(200),
    @disciplina nvarchar(200),
    @professor_id int,
    @sala_id int,
    @json nvarchar(max)
as

SET DATEFIRST 1

    declare @i int
    set @i = 1

    declare @agendamento_id int
    declare @aula_agendamento_id int
    declare @grupo_aula_id int
    declare @inicio time
    declare @termino time

    declare @min_inicio time
    declare @max_termino time

    declare @dias_semana_json nvarchar(max)
    declare @dia_atual date

    declare @turma_disciplina_id int

    select @turma_disciplina_id = td.id
      from academico_turmadisciplina td
           inner join academico_turma turma on turma.id = td.turma_id
           inner join academico_disciplina disc on disc.id = td.disciplina_id
     where turma.nome = @turma
       and disc.nome = @disciplina

    if not @turma_disciplina_id  is null begin

        insert into agendamento_agendamento (criado_em, atualizado_em, dias_semana, data_inicio, data_termino, periodicidade_id, tipo_id, criado_por, atualizado_por)
        values (getdate(), getdate(), @dias_semana, @data_inicio, @data_termino, @periodicidade, 1, @usuario_id, @usuario_id)

        set @agendamento_id = SCOPE_IDENTITY()

        insert into aulas_agendamento (criado_em, atualizado_em, criado_por, atualizado_por, professor_id, turma_disciplina_id, agendamento_id, sala_id)
        values (getdate(), getdate(), @usuario_id, @usuario_id, @professor_id, @turma_disciplina_id, @agendamento_id, @sala_id)

        set @aula_agendamento_id = SCOPE_IDENTITY()


        while substring(@dias_semana, @i, 1) <> '' begin

            declare @dia_semana char(1);
            set @dia_semana = substring(@dias_semana, @i, 1);

            declare cur_dias_semana cursor for
            select value from openjson(@json) order by 1
            OFFSET @i - 1 ROWS
            FETCH NEXT 1 ROWS ONLY;

            open cur_dias_semana
            fetch next from cur_dias_semana into @dias_semana_json
            while @@FETCH_STATUS = 0 begin

                select @min_inicio = min(inicio), @max_termino = max(termino) from openjson(@dias_semana_json)
                with (   
                    inicio   time '$.inicio', 
                    termino  time '$.termino'
                )


                
                set @dia_atual = @data_inicio
                while @dia_atual <= @data_termino begin

                    if (DATEPART(WEEKDAY, @dia_atual) - 1) = convert(int, @dia_semana) begin

                        insert into academico_grupoaula (criado_em, atualizado_em, criado_por, atualizado_por, data_inicio, data_termino, turma_disciplina_id, status_id, professor_id, agendamento_id, sala_id)
                        values (getdate(), getdate(), @usuario_id, @usuario_id, convert(varchar, @dia_atual) + ' ' + convert(varchar, @min_inicio), convert(varchar, @dia_atual) + ' ' + convert(varchar, @max_termino), @turma_disciplina_id, 1, @professor_id, @aula_agendamento_id, @sala_id)

                        set @grupo_aula_id = SCOPE_IDENTITY()


                        declare cur_horarios cursor for
                        select inicio, termino from openjson(@dias_semana_json)
                        with (   
                            inicio   time '$.inicio', 
                            termino  time '$.termino'
                        )                        

                        open cur_horarios
                        fetch next from cur_horarios into @inicio, @termino
                        while @@FETCH_STATUS = 0 begin


                            if not exists(select top 1 1 from agendamento_horarioprogramado where agendamento_id = @agendamento_id and dia_semana = @dia_semana and inicio = @inicio) begin
                                insert into agendamento_horarioprogramado (criado_em, atualizado_em, criado_por, atualizado_por, dia_semana, inicio, termino, agendamento_id)
                                values (getdate(), getdate(), @usuario_id, @usuario_id, @dia_semana, @inicio, @termino, @agendamento_id)
                            end

                            insert into agendamento_horariocriado (criado_em, atualizado_em, criado_por, atualizado_por, dia, inicio, termino, agendamento_id)
                            values (getdate(), getdate(), @usuario_id, @usuario_id, @dia_atual, @inicio, @termino, @agendamento_id)


                            print 'agendamento_id: ' + convert(varchar(50), @agendamento_id)

                            insert into academico_aula (criado_em, atualizado_em, criado_por, atualizado_por, data_inicio, data_termino, turma_disciplina_id, duracao, status_id, professor_id, agendamento_id, sala_id)
                            values (getdate(), getdate(), @usuario_id, @usuario_id, convert(varchar, @dia_atual) + ' ' + convert(varchar, @inicio), convert(varchar, @dia_atual) + ' ' + convert(varchar, @termino), @turma_disciplina_id, 50, 1, @professor_id, @aula_agendamento_id, @sala_id)


                            fetch next from cur_horarios into @inicio, @termino
                        end

                        close cur_horarios 
                        deallocate cur_horarios

                    end
                    set @dia_atual = dateadd(day, 1, @dia_atual)
                end                    

                fetch next from cur_dias_semana into @dias_semana_json
            end

            close cur_dias_semana 
            deallocate cur_dias_semana


            set @i = @i + 1
        end
    end

    SET DATEFIRST 7

GO
/****** Object:  StoredProcedure [dbo].[SET_ACADEMICO_ALUNO]    Script Date: 28/11/2019 11:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SET_ACADEMICO_ALUNO]
AS
DECLARE @UNIVERSUS_NOME         VARCHAR(100)
DECLARE @UNIVERSUS_ALUNO        INT
DECLARE @UNIVERSUS_ESCOLA       INT

DECLARE @EDUCAT_ALUNO           INT

DECLARE POPULA_ALUNO_EDUCAT CURSOR FOR

SELECT DISTINCT NOME, E.CODALUNO, E.CODESCOLA
FROM UNIVERSUS..ALUNO A
JOIN UNIVERSUS..PESSOA P ON P.CODPESSOA = A.CODPESSOA
JOIN UNIVERSUS..ENTURMA E ON E.CODESCOLA = A.CODESCOLA AND
                  E.CODALUNO = A.CODALUNO
WHERE E.CODESCOLA = 1
AND E.ANO = 2019
--AND E.CODALUNO = 51698
--AND E.CODCURSO = 1
--AND E.CODALUNO = 51695

OPEN POPULA_ALUNO_EDUCAT
FETCH NEXT FROM POPULA_ALUNO_EDUCAT INTO @UNIVERSUS_NOME, @UNIVERSUS_ALUNO, @UNIVERSUS_ESCOLA
WHILE @@FETCH_STATUS = 0
BEGIN
  
  SET @EDUCAT_ALUNO = 0
  
  SELECT @EDUCAT_ALUNO = ISNULL(ID,0)
  FROM ACADEMICO_ALUNO
  WHERE ALUNO_UNIVERSUS_ID = @UNIVERSUS_ALUNO AND ESCOLA_ALUNO_UNIVERSUS_ID = @UNIVERSUS_ESCOLA
  
  IF (SELECT COUNT(1)
      FROM ACADEMICO_ALUNO
	  WHERE ID = @EDUCAT_ALUNO
      ) = 0
  BEGIN
    
	INSERT INTO ACADEMICO_ALUNO
	VALUES (@UNIVERSUS_NOME, NULL, @UNIVERSUS_ALUNO, @UNIVERSUS_ESCOLA, GETDATE(), NULL)

	PRINT 'ALUNO INSERIDO: '+ CONVERT(VARCHAR(100),@UNIVERSUS_NOME) 
  END
  ELSE
  BEGIN
    PRINT 'NÃO INSERIU O ALUNO: ' +@UNIVERSUS_NOME+ ' NESTE PROCESSO'
  END

  FETCH NEXT FROM POPULA_ALUNO_EDUCAT INTO @UNIVERSUS_NOME, @UNIVERSUS_ALUNO, @UNIVERSUS_ESCOLA

END
CLOSE POPULA_ALUNO_EDUCAT
DEALLOCATE POPULA_ALUNO_EDUCAT

GO
/****** Object:  StoredProcedure [dbo].[SET_ACADEMICO_ALUNO_2018]    Script Date: 28/11/2019 11:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SET_ACADEMICO_ALUNO_2018] AS

DECLARE @UNIVERSUS_NOME         VARCHAR(100)
DECLARE @UNIVERSUS_ALUNO        INT
DECLARE @UNIVERSUS_ESCOLA       INT

DECLARE @EDUCAT_ALUNO           INT

DECLARE POPULA_ALUNO_EDUCAT CURSOR FOR

SELECT DISTINCT NOME, E.CODALUNO, E.CODESCOLA
FROM UNIVERSUS..ALUNO A
JOIN UNIVERSUS..PESSOA P ON P.CODPESSOA = A.CODPESSOA
JOIN UNIVERSUS..ENTURMA E ON E.CODESCOLA = A.CODESCOLA AND
                  E.CODALUNO = A.CODALUNO
JOIN UNIVERSUS..TURMA T ON T.CODESCOLA = E.CODESCOLA
                       AND T.ANO = E.ANO
					   AND T.REGIME = E.REGIME
					   AND T.PERIODO = E.PERIODO
					   AND T.TURMA = E.TURMA
WHERE E.CODESCOLA = 1
AND E.ANO = 2018
--AND E.CODCURSO = 1
AND T.DTINICIAL >= CONVERT(DATETIME,'01/01/2019',103)

OPEN POPULA_ALUNO_EDUCAT
FETCH NEXT FROM POPULA_ALUNO_EDUCAT INTO @UNIVERSUS_NOME, @UNIVERSUS_ALUNO, @UNIVERSUS_ESCOLA
WHILE @@FETCH_STATUS = 0
BEGIN
  
  SET @EDUCAT_ALUNO = 0
  
  SELECT @EDUCAT_ALUNO = ISNULL(ID,0)
  FROM ACADEMICO_ALUNO
  WHERE ALUNO_UNIVERSUS_ID = @UNIVERSUS_ALUNO AND ESCOLA_ALUNO_UNIVERSUS_ID = @UNIVERSUS_ESCOLA
  
  IF (SELECT COUNT(1)
      FROM ACADEMICO_ALUNO
	  WHERE ID = @EDUCAT_ALUNO
      ) = 0
  BEGIN
    
	INSERT INTO ACADEMICO_ALUNO
	VALUES (@UNIVERSUS_NOME, NULL, @UNIVERSUS_ALUNO, @UNIVERSUS_ESCOLA, GETDATE(), NULL)

	PRINT 'ALUNO INSERIDO: '+ CONVERT(VARCHAR(100),@UNIVERSUS_NOME) 
  END
  ELSE
  BEGIN
    PRINT 'NÃO INSERIU O ALUNO: ' +@UNIVERSUS_NOME+ ' NESTE PROCESSO'
  END

  FETCH NEXT FROM POPULA_ALUNO_EDUCAT INTO @UNIVERSUS_NOME, @UNIVERSUS_ALUNO, @UNIVERSUS_ESCOLA

END
CLOSE POPULA_ALUNO_EDUCAT
DEALLOCATE POPULA_ALUNO_EDUCAT

GO
/****** Object:  StoredProcedure [dbo].[SET_ACADEMICO_CURSO]    Script Date: 28/11/2019 11:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SET_ACADEMICO_CURSO]
AS
DECLARE @UNIVERSUS_CODESCOLA    INT
DECLARE @UNIVERSUS_CODCURSO     INT
DECLARE @UNIVERSUS_NOMECURSO    VARCHAR(70)

DECLARE @EDUCAT_CURSOID         INT
DECLARE @EDUCAT_ESCOLAID        INT

DECLARE POPULA_CURSO_EDUCAT CURSOR FOR

SELECT CODESCOLA, CODCURSO, NOME
FROM UNIVERSUS..CURSO
WHERE CODESCOLA = 1

OPEN POPULA_CURSO_EDUCAT
FETCH NEXT FROM POPULA_CURSO_EDUCAT INTO @UNIVERSUS_CODESCOLA, @UNIVERSUS_CODCURSO, @UNIVERSUS_NOMECURSO
WHILE @@FETCH_STATUS = 0
BEGIN
  
  SET @EDUCAT_CURSOID = 0
  
  SELECT @EDUCAT_CURSOID = ISNULL(ID,0)
  FROM ACADEMICO_CURSO
  WHERE ESCOLA_CURSO_UNIVERSUS_ID = @UNIVERSUS_CODESCOLA AND CURSO_UNIVERSUS_ID = @UNIVERSUS_CODCURSO
  
  IF (SELECT COUNT(1)
      FROM ACADEMICO_CURSO
	  WHERE ID = @EDUCAT_CURSOID
      ) = 0
  BEGIN
    
	SET @EDUCAT_ESCOLAID = 0

	SELECT @EDUCAT_ESCOLAID = ISNULL(ID,0)
	FROM ACADEMICO_ESCOLA
    WHERE ESCOLA_UNIVERSUS_ID = @UNIVERSUS_CODESCOLA
	
	INSERT INTO ACADEMICO_CURSO
	VALUES (@UNIVERSUS_NOMECURSO, @EDUCAT_ESCOLAID, NULL, @UNIVERSUS_CODCURSO, @UNIVERSUS_CODESCOLA)

	PRINT 'CURSO INSERIDO: ' + CONVERT(VARCHAR(100),@UNIVERSUS_NOMECURSO) 
  END
  ELSE
  BEGIN
    PRINT 'CURSO JÁ EXISTENTE: ' +@UNIVERSUS_NOMECURSO+ ' NÃO FOI INSERIDO NO EDUCAT'
  END

  FETCH NEXT FROM POPULA_CURSO_EDUCAT INTO @UNIVERSUS_CODESCOLA, @UNIVERSUS_CODCURSO, @UNIVERSUS_NOMECURSO

END
CLOSE POPULA_CURSO_EDUCAT
DEALLOCATE POPULA_CURSO_EDUCAT
GO
/****** Object:  StoredProcedure [dbo].[SET_ACADEMICO_DISCIPLINA]    Script Date: 28/11/2019 11:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SET_ACADEMICO_DISCIPLINA]
AS

DECLARE @UNIVERSUS_NOMEDISCIPLINA  VARCHAR(70)
DECLARE @UNIVERSUS_CODDISCIPLINA   INT

DECLARE @EDUCAT_DISCIPLINAID       INT

DECLARE POPULA_DISCIPLINA_EDUCAT CURSOR FOR

SELECT NOME, CODDISCIPLINA
FROM UNIVERSUS..DISCIPLINA

OPEN POPULA_DISCIPLINA_EDUCAT
FETCH NEXT FROM POPULA_DISCIPLINA_EDUCAT INTO @UNIVERSUS_NOMEDISCIPLINA, @UNIVERSUS_CODDISCIPLINA
WHILE @@FETCH_STATUS = 0
BEGIN
  
  SET @EDUCAT_DISCIPLINAID = 0
  
  SELECT @EDUCAT_DISCIPLINAID = ISNULL(ID,0)
  FROM ACADEMICO_DISCIPLINA
  WHERE DISCIPLINA_UNIVERSUS_ID = @UNIVERSUS_CODDISCIPLINA
  
  IF (SELECT COUNT(1)
      FROM ACADEMICO_DISCIPLINA
	  WHERE ID = @EDUCAT_DISCIPLINAID
      ) = 0
  BEGIN
    
	INSERT INTO ACADEMICO_DISCIPLINA
	VALUES (@UNIVERSUS_NOMEDISCIPLINA, NULL, @UNIVERSUS_CODDISCIPLINA, GETDATE())

	PRINT 'DISCIPLINA INSERIDA: ' + CONVERT(VARCHAR(100),@UNIVERSUS_NOMEDISCIPLINA) 
  END
  ELSE
  BEGIN
    PRINT 'DISCIPLINA JÁ EXISTENTE: ' +@UNIVERSUS_NOMEDISCIPLINA+ ' NÃO FOI INSERIDA NO EDUCAT'
  END

  FETCH NEXT FROM POPULA_DISCIPLINA_EDUCAT INTO @UNIVERSUS_NOMEDISCIPLINA, @UNIVERSUS_CODDISCIPLINA

END
CLOSE POPULA_DISCIPLINA_EDUCAT
DEALLOCATE POPULA_DISCIPLINA_EDUCAT
GO
/****** Object:  StoredProcedure [dbo].[SET_ACADEMICO_ESCOLA]    Script Date: 28/11/2019 11:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SET_ACADEMICO_ESCOLA]
AS

DECLARE @UNIVERSUS_NOMEESCOLA  VARCHAR(70)
DECLARE @UNIVERSUS_CODESCOLA   INT

DECLARE @EDUCAT_ESCOLAID       INT

DECLARE POPULA_ESCOLA_EDUCAT CURSOR FOR

SELECT NOME, CODESCOLA
FROM UNIVERSUS..ESCOLA

OPEN POPULA_ESCOLA_EDUCAT
FETCH NEXT FROM POPULA_ESCOLA_EDUCAT INTO @UNIVERSUS_NOMEESCOLA, @UNIVERSUS_CODESCOLA
WHILE @@FETCH_STATUS = 0
BEGIN
  
  SET @EDUCAT_ESCOLAID = 0
  
  SELECT @EDUCAT_ESCOLAID = ISNULL(ID,0)
  FROM ACADEMICO_ESCOLA
  WHERE ESCOLA_UNIVERSUS_ID = @UNIVERSUS_CODESCOLA
  
  IF (SELECT COUNT(1)
      FROM ACADEMICO_ESCOLA
	  WHERE ID = @EDUCAT_ESCOLAID
      ) = 0
  BEGIN
    
	INSERT INTO ACADEMICO_ESCOLA
	VALUES (@UNIVERSUS_NOMEESCOLA, NULL, @UNIVERSUS_CODESCOLA)

	PRINT 'ESCOLA INSERIDA: ' + CONVERT(VARCHAR(100),@UNIVERSUS_NOMEESCOLA) 
  END
  ELSE
  BEGIN
    PRINT 'ESCOLA JÁ EXISTENTE: ' + CONVERT(VARCHAR(100),@UNIVERSUS_NOMEESCOLA)+ ' NÃO FOI INSERIDA NO EDUCAT'
  END

  FETCH NEXT FROM POPULA_ESCOLA_EDUCAT INTO @UNIVERSUS_NOMEESCOLA, @UNIVERSUS_CODESCOLA

END
CLOSE POPULA_ESCOLA_EDUCAT
DEALLOCATE POPULA_ESCOLA_EDUCAT
GO
/****** Object:  StoredProcedure [dbo].[SET_ACADEMICO_PROFESSOR]    Script Date: 28/11/2019 11:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SET_ACADEMICO_PROFESSOR]
AS

--BEGIN TRAN

DECLARE @UNIVERSUS_NOME_PROFESSOR       VARCHAR(70)
DECLARE @UNIVERSUS_CODIGO_ESCOLA        INT
DECLARE @UNIVERSUS_CODIGO_PROFESSOR     INT
DECLARE @UNIVERSUS_CODPESSOA_PROFESSOR  INT
DECLARE @UNIVERSUS_LOGIN_PROFESSOR      VARCHAR(70)
DECLARE @UNIVERSUS_EMAIL_PROFESSOR      VARCHAR(70)

DECLARE @EDUCAT_PROFESSOR               INT
DECLARE @EDUCAT_USER_ID                 INT

DECLARE POPULA_PROFESSOR_EDUCAT CURSOR FOR

SELECT NOME, CODESCOLA, CODFUNCIONARIO, CODPESSOA, isnull(LOGIN,'professor.semlogin'), ISNULL(EMAIL,'professor@sememail.com')
FROM UNIVERSUS..FUNCIONARIO
WHERE CODESCOLA = 1 
AND ATIVO = 1
--AND NOME like 'LEONARDO%FLOR%NCIO%'
--AND NOME LIKE 'HUMBERTO%GAL%'

OPEN POPULA_PROFESSOR_EDUCAT
FETCH NEXT FROM POPULA_PROFESSOR_EDUCAT INTO @UNIVERSUS_NOME_PROFESSOR, @UNIVERSUS_CODIGO_ESCOLA, @UNIVERSUS_CODIGO_PROFESSOR, @UNIVERSUS_CODPESSOA_PROFESSOR, @UNIVERSUS_LOGIN_PROFESSOR, @UNIVERSUS_EMAIL_PROFESSOR
WHILE @@FETCH_STATUS = 0
BEGIN
  
  SET @EDUCAT_USER_ID = 0
  
  SELECT @EDUCAT_USER_ID = ID
  FROM AUTH_USER
  WHERE CADSOFT_ID = @UNIVERSUS_CODPESSOA_PROFESSOR

  SET @EDUCAT_PROFESSOR = 0
  
  SELECT @EDUCAT_PROFESSOR = ID
  FROM ACADEMICO_PROFESSOR
  WHERE PROFESSOR_UNIVERSUS_ID = @UNIVERSUS_CODIGO_PROFESSOR AND ESCOLA_PROFESSOR_UNIVERSUS_ID = @UNIVERSUS_CODIGO_ESCOLA

  IF (SELECT COUNT(1)
      FROM AUTH_USER
	  WHERE ID = @EDUCAT_USER_ID
      ) = 0

  BEGIN
	
	INSERT INTO AUTH_USER
	VALUES ('pbkdf2_sha256$120000$gcfwr11jgRNa$cBBzlfSbOk3Hv874m0Pwr7DVxwhah+SXhn91CsbCy3w=', NULL, 0, @UNIVERSUS_LOGIN_PROFESSOR, '', @UNIVERSUS_NOME_PROFESSOR, @UNIVERSUS_EMAIL_PROFESSOR, 0, 1, GETDATE(), 1, @UNIVERSUS_CODPESSOA_PROFESSOR)

	PRINT 'USUÁRIO CADASTRADO: ' +@UNIVERSUS_NOME_PROFESSOR+ ' NO SISTEMA EDUCAT'
  END
  ELSE
  BEGIN
    PRINT 'USUÁRIO: ' +@UNIVERSUS_NOME_PROFESSOR+ ' JÁ CADASTRADO NO SISTEMA EDUCAT'
  END

  IF (SELECT COUNT(1)
      FROM ACADEMICO_PROFESSOR
	  WHERE ID = @EDUCAT_PROFESSOR
      ) = 0

  BEGIN
    
	SET @EDUCAT_USER_ID = 0
	
	SELECT @EDUCAT_USER_ID = ISNULL(ID,0)
	FROM AUTH_USER
	WHERE CADSOFT_ID = @UNIVERSUS_CODPESSOA_PROFESSOR
	
	INSERT INTO ACADEMICO_PROFESSOR
	VALUES (@UNIVERSUS_NOME_PROFESSOR, @EDUCAT_USER_ID, NULL, @UNIVERSUS_CODIGO_PROFESSOR, @UNIVERSUS_CODIGO_ESCOLA, GETDATE())

	INSERT INTO AUTH_USER_GROUPS
	VALUES (@EDUCAT_USER_ID, 1)

	PRINT 'PROFESSOR: ' +@UNIVERSUS_NOME_PROFESSOR+ ' INSERIDO NO SISTEMA EDUCAT'
	PRINT 'USUÁRIO INSERIDO COMO PROFESSOR ' +@UNIVERSUS_NOME_PROFESSOR+ ' COM SUCESSO'
  END
  ELSE
  BEGIN
    PRINT 'PROFESSOR: ' +@UNIVERSUS_NOME_PROFESSOR+ ' JÁ EXISTENTE NO SISTEMA EDUCAT'
  END

  FETCH NEXT FROM POPULA_PROFESSOR_EDUCAT INTO @UNIVERSUS_NOME_PROFESSOR, @UNIVERSUS_CODIGO_ESCOLA, @UNIVERSUS_CODIGO_PROFESSOR, @UNIVERSUS_CODPESSOA_PROFESSOR, @UNIVERSUS_LOGIN_PROFESSOR, @UNIVERSUS_EMAIL_PROFESSOR

END
CLOSE POPULA_PROFESSOR_EDUCAT
DEALLOCATE POPULA_PROFESSOR_EDUCAT
GO
/****** Object:  StoredProcedure [dbo].[SET_ACADEMICO_TURMA]    Script Date: 28/11/2019 11:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SET_ACADEMICO_TURMA] AS

DECLARE @UNIVERSUS_ESCOLA    INT
DECLARE @UNIVERSUS_ANO          INT
DECLARE @UNIVERSUS_REGIME       INT
DECLARE @UNIVERSUS_PERIODO      INT
DECLARE @UNIVERSUS_TURMA        VARCHAR(20)
DECLARE @UNIVERSUS_DISCIPLINA   INT
DECLARE @UNIVERSUS_CODCURSO     INT

DECLARE @EDUCAT_TURMA           INT
DECLARE @EDUCAT_DISCIPLINA      INT
DECLARE @EDUCAT_CODCURSO        INT

DECLARE POPULA_TURMA_DISCIPLINA_EDUCAT CURSOR FOR

SELECT T.CODESCOLA, T.ANO, T.REGIME, T.PERIODO, T.TURMA, T.CODCURSO
FROM UNIVERSUS..TURMA T
WHERE T.CODESCOLA = 1 AND T.ANO = 2019 
--AND T.CODCURSO = 1
ORDER BY TURMA

OPEN POPULA_TURMA_DISCIPLINA_EDUCAT
FETCH NEXT FROM POPULA_TURMA_DISCIPLINA_EDUCAT INTO @UNIVERSUS_ESCOLA, @UNIVERSUS_ANO, @UNIVERSUS_REGIME, @UNIVERSUS_PERIODO, @UNIVERSUS_TURMA, @UNIVERSUS_CODCURSO
WHILE @@FETCH_STATUS = 0
BEGIN
  
  SET @EDUCAT_TURMA = 0
  
  SET @EDUCAT_CODCURSO = 0
	
  SELECT @EDUCAT_CODCURSO = ISNULL(ID,0)
  FROM ACADEMICO_CURSO
  WHERE CURSO_UNIVERSUS_ID = @UNIVERSUS_CODCURSO AND ESCOLA_CURSO_UNIVERSUS_ID = @UNIVERSUS_ESCOLA  

  SELECT @EDUCAT_TURMA = ISNULL(ID,0)
  FROM ACADEMICO_TURMA
  WHERE NOME = @UNIVERSUS_TURMA AND CURSO_ID = @EDUCAT_CODCURSO

/*
  SELECT *
  --ISNULL(ID,0)
  FROM ACADEMICO_TURMA
  WHERE NOME = '10E1º' AND CURSO_ID = 6
*/

  IF (SELECT COUNT(1)
      FROM ACADEMICO_TURMA
	  WHERE ID = @EDUCAT_TURMA
      ) = 0
  BEGIN
    
	SET @EDUCAT_CODCURSO = 0
	
	SELECT @EDUCAT_CODCURSO = ISNULL(ID,0)
	FROM ACADEMICO_CURSO
	WHERE CURSO_UNIVERSUS_ID = @UNIVERSUS_CODCURSO AND ESCOLA_CURSO_UNIVERSUS_ID = @UNIVERSUS_ESCOLA
	
	INSERT INTO ACADEMICO_TURMA
	VALUES (@UNIVERSUS_TURMA, @EDUCAT_CODCURSO, NULL, GETDATE())

	PRINT 'TURMA INSERIDA: '+@UNIVERSUS_TURMA+ ' NESTE PROCESSO'
  END
  ELSE
  BEGIN
    PRINT 'NÃO INSERIU UMA TURMA: ' +@UNIVERSUS_TURMA+ ' NESTE PROCESSO'
  END

  FETCH NEXT FROM POPULA_TURMA_DISCIPLINA_EDUCAT INTO @UNIVERSUS_ESCOLA, @UNIVERSUS_ANO, @UNIVERSUS_REGIME, @UNIVERSUS_PERIODO, @UNIVERSUS_TURMA, @UNIVERSUS_CODCURSO

END
CLOSE POPULA_TURMA_DISCIPLINA_EDUCAT
DEALLOCATE POPULA_TURMA_DISCIPLINA_EDUCAT

GO
/****** Object:  StoredProcedure [dbo].[SET_ACADEMICO_TURMA_2018]    Script Date: 28/11/2019 11:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SET_ACADEMICO_TURMA_2018] AS

DECLARE @UNIVERSUS_ESCOLA    INT
DECLARE @UNIVERSUS_ANO          INT
DECLARE @UNIVERSUS_REGIME       INT
DECLARE @UNIVERSUS_PERIODO      INT
DECLARE @UNIVERSUS_TURMA        VARCHAR(20)
DECLARE @UNIVERSUS_DISCIPLINA   INT
DECLARE @UNIVERSUS_CODCURSO     INT

DECLARE @EDUCAT_TURMA           INT
DECLARE @EDUCAT_DISCIPLINA      INT
DECLARE @EDUCAT_CODCURSO        INT

DECLARE POPULA_TURMA_DISCIPLINA_EDUCAT CURSOR FOR

SELECT T.CODESCOLA, T.ANO, T.REGIME, T.PERIODO, T.TURMA, T.CODCURSO
FROM UNIVERSUS..TURMA T
WHERE T.CODESCOLA = 1 AND T.ANO = 2018 
--AND T.CODCURSO = 1 
AND DTINICIAL >= CONVERT(DATETIME,'01/01/2019',103)
ORDER BY TURMA

OPEN POPULA_TURMA_DISCIPLINA_EDUCAT
FETCH NEXT FROM POPULA_TURMA_DISCIPLINA_EDUCAT INTO @UNIVERSUS_ESCOLA, @UNIVERSUS_ANO, @UNIVERSUS_REGIME, @UNIVERSUS_PERIODO, @UNIVERSUS_TURMA, @UNIVERSUS_CODCURSO
WHILE @@FETCH_STATUS = 0
BEGIN
  
  SET @EDUCAT_TURMA = 0
  
  SET @EDUCAT_CODCURSO = 0
	
  SELECT @EDUCAT_CODCURSO = ISNULL(ID,0)
  FROM ACADEMICO_CURSO
  WHERE CURSO_UNIVERSUS_ID = @UNIVERSUS_CODCURSO AND ESCOLA_CURSO_UNIVERSUS_ID = @UNIVERSUS_ESCOLA  

  SELECT @EDUCAT_TURMA = ISNULL(ID,0)
  FROM ACADEMICO_TURMA
  WHERE NOME = @UNIVERSUS_TURMA AND CURSO_ID = @EDUCAT_CODCURSO

/*
  SELECT ISNULL(ID,0)
  FROM ACADEMICO_TURMA
  WHERE NOME = '10EP011º' AND CURSO_ID = 6

*/

  IF (SELECT COUNT(1)
      FROM ACADEMICO_TURMA
	  WHERE ID = @EDUCAT_TURMA
      ) = 0
  BEGIN
    
	SET @EDUCAT_CODCURSO = 0
	
	SELECT @EDUCAT_CODCURSO = ID
	FROM ACADEMICO_CURSO
	WHERE CURSO_UNIVERSUS_ID = @UNIVERSUS_CODCURSO AND ESCOLA_CURSO_UNIVERSUS_ID = @UNIVERSUS_ESCOLA
	
	INSERT INTO ACADEMICO_TURMA
	VALUES (@UNIVERSUS_TURMA, @EDUCAT_CODCURSO, NULL, GETDATE())

	PRINT 'TURMA INSERIDA: '+@UNIVERSUS_TURMA+ ' NESTE PROCESSO'
  END
  ELSE
  BEGIN
    PRINT 'NÃO INSERIU UMA TURMA: ' +@UNIVERSUS_TURMA+ ' NESTE PROCESSO'
  END

  FETCH NEXT FROM POPULA_TURMA_DISCIPLINA_EDUCAT INTO @UNIVERSUS_ESCOLA, @UNIVERSUS_ANO, @UNIVERSUS_REGIME, @UNIVERSUS_PERIODO, @UNIVERSUS_TURMA, @UNIVERSUS_CODCURSO

END
CLOSE POPULA_TURMA_DISCIPLINA_EDUCAT
DEALLOCATE POPULA_TURMA_DISCIPLINA_EDUCAT

GO
/****** Object:  StoredProcedure [dbo].[SET_ACADEMICO_TURMADISCIPLINA]    Script Date: 28/11/2019 11:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SET_ACADEMICO_TURMADISCIPLINA] AS

DECLARE @UNIVERSUS_ESCOLA    INT
DECLARE @UNIVERSUS_ANO          INT
DECLARE @UNIVERSUS_REGIME       INT
DECLARE @UNIVERSUS_PERIODO      INT
DECLARE @UNIVERSUS_TURMA        VARCHAR(20)
DECLARE @UNIVERSUS_DISCIPLINA   INT
DECLARE @UNIVERSUS_CODCURSO     INT

DECLARE @EDUCAT_TURMA           VARCHAR(20)
DECLARE @EDUCAT_DISCIPLINA      INT
DECLARE @EDUCAT_CODCURSO        INT
DECLARE @EDUCAT_TURMADISCIPLINA INT

DECLARE POPULA_TURMA_DISCIPLINA_EDUCAT CURSOR FOR

SELECT T.CODESCOLA, T.ANO, T.REGIME, T.PERIODO, T.TURMA, TA.CODDISCIPLINA, T.CODCURSO
FROM UNIVERSUS..TURMAVAL TA
JOIN UNIVERSUS..TURMA T ON T.CODESCOLA = TA.CODESCOLA AND
                         T.ANO       = TA.ANO       AND
						 T.REGIME    = TA.REGIME    AND
						 T.PERIODO   = TA.PERIODO   AND
						 T.TURMA     = TA.TURMA
WHERE T.CODESCOLA = 1 AND T.ANO = 2019 
--AND T.CODCURSO = 1
ORDER BY CODDISCIPLINA,TURMA

OPEN POPULA_TURMA_DISCIPLINA_EDUCAT
FETCH NEXT FROM POPULA_TURMA_DISCIPLINA_EDUCAT INTO @UNIVERSUS_ESCOLA, @UNIVERSUS_ANO, @UNIVERSUS_REGIME, @UNIVERSUS_PERIODO, @UNIVERSUS_TURMA, @UNIVERSUS_DISCIPLINA, @UNIVERSUS_CODCURSO
WHILE @@FETCH_STATUS = 0
BEGIN
  
  SET @EDUCAT_DISCIPLINA = 0
  
  SELECT @EDUCAT_DISCIPLINA = ISNULL(ID,0)
  FROM ACADEMICO_DISCIPLINA
  WHERE DISCIPLINA_UNIVERSUS_ID = @UNIVERSUS_DISCIPLINA

  SET @EDUCAT_CODCURSO = 0
	
  SELECT @EDUCAT_CODCURSO = ISNULL(ID,0)
  FROM ACADEMICO_CURSO
  WHERE CURSO_UNIVERSUS_ID = @UNIVERSUS_CODCURSO AND ESCOLA_CURSO_UNIVERSUS_ID = @UNIVERSUS_ESCOLA  

  SET @EDUCAT_TURMA = 0
  
  SELECT @EDUCAT_TURMA = ISNULL(ID,0)
  FROM ACADEMICO_TURMA
  WHERE NOME = @UNIVERSUS_TURMA AND CURSO_ID = @EDUCAT_CODCURSO

  SET @EDUCAT_TURMADISCIPLINA = 0
  
  SELECT @EDUCAT_TURMADISCIPLINA = ISNULL(ID,0)
  FROM ACADEMICO_TURMADISCIPLINA
  WHERE TURMA_ID = @EDUCAT_TURMA AND DISCIPLINA_ID = @EDUCAT_DISCIPLINA

  IF (SELECT COUNT(1)
      FROM ACADEMICO_TURMADISCIPLINA TD
	  WHERE ID = @EDUCAT_TURMADISCIPLINA
      ) = 0
  BEGIN
	
	print @UNIVERSUS_DISCIPLINA
	
	INSERT INTO ACADEMICO_TURMADISCIPLINA
	VALUES (@EDUCAT_DISCIPLINA, @EDUCAT_TURMA, NULL, @UNIVERSUS_TURMA, NULL, @UNIVERSUS_DISCIPLINA, @UNIVERSUS_ESCOLA, @UNIVERSUS_ANO, @UNIVERSUS_REGIME, @UNIVERSUS_PERIODO, GETDATE())

	PRINT 'TURMA INSERIDA: '+ CONVERT(VARCHAR(100),@EDUCAT_TURMA) +' DISCIPLINA: ' +CONVERT(VARCHAR(100),@EDUCAT_DISCIPLINA)+ ' COM SUCESSO'
  END
  ELSE
  BEGIN
    PRINT 'NÃO INSERIU TURMA: ' +@UNIVERSUS_TURMA+ ' DISCIPLINA: ' +CONVERT(VARCHAR(100),@UNIVERSUS_DISCIPLINA)+ ' NESTE PROCESSO'
  END

  FETCH NEXT FROM POPULA_TURMA_DISCIPLINA_EDUCAT INTO @UNIVERSUS_ESCOLA, @UNIVERSUS_ANO, @UNIVERSUS_REGIME, @UNIVERSUS_PERIODO, @UNIVERSUS_TURMA, @UNIVERSUS_DISCIPLINA, @UNIVERSUS_CODCURSO

END
CLOSE POPULA_TURMA_DISCIPLINA_EDUCAT
DEALLOCATE POPULA_TURMA_DISCIPLINA_EDUCAT

GO
/****** Object:  StoredProcedure [dbo].[SET_ACADEMICO_TURMADISCIPLINA_2018]    Script Date: 28/11/2019 11:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SET_ACADEMICO_TURMADISCIPLINA_2018] AS

DECLARE @UNIVERSUS_ESCOLA    INT
DECLARE @UNIVERSUS_ANO          INT
DECLARE @UNIVERSUS_REGIME       INT
DECLARE @UNIVERSUS_PERIODO      INT
DECLARE @UNIVERSUS_TURMA        VARCHAR(20)
DECLARE @UNIVERSUS_DISCIPLINA   INT
DECLARE @UNIVERSUS_CODCURSO     INT

DECLARE @EDUCAT_TURMA           VARCHAR(20)
DECLARE @EDUCAT_DISCIPLINA      INT
DECLARE @EDUCAT_CODCURSO        INT
DECLARE @EDUCAT_TURMADISCIPLINA INT

DECLARE POPULA_TURMA_DISCIPLINA_EDUCAT CURSOR FOR

SELECT T.CODESCOLA, T.ANO, T.REGIME, T.PERIODO, T.TURMA, TA.CODDISCIPLINA, T.CODCURSO
FROM UNIVERSUS..TURMAVAL TA
JOIN UNIVERSUS..TURMA T ON T.CODESCOLA = TA.CODESCOLA AND
                         T.ANO       = TA.ANO       AND
						 T.REGIME    = TA.REGIME    AND
						 T.PERIODO   = TA.PERIODO   AND
						 T.TURMA     = TA.TURMA
WHERE T.CODESCOLA = 1 AND T.ANO = 2018 
--AND T.CODCURSO = 1 
AND T.DTINICIAL >= CONVERT(DATETIME,'01/01/2019',103)
ORDER BY CODDISCIPLINA,TURMA

OPEN POPULA_TURMA_DISCIPLINA_EDUCAT
FETCH NEXT FROM POPULA_TURMA_DISCIPLINA_EDUCAT INTO @UNIVERSUS_ESCOLA, @UNIVERSUS_ANO, @UNIVERSUS_REGIME, @UNIVERSUS_PERIODO, @UNIVERSUS_TURMA, @UNIVERSUS_DISCIPLINA, @UNIVERSUS_CODCURSO
WHILE @@FETCH_STATUS = 0
BEGIN
  
  SET @EDUCAT_DISCIPLINA = 0
  
  SELECT @EDUCAT_DISCIPLINA = ISNULL(ID,0)
  FROM ACADEMICO_DISCIPLINA
  WHERE DISCIPLINA_UNIVERSUS_ID = @UNIVERSUS_DISCIPLINA

  SET @EDUCAT_CODCURSO = 0
	
  SELECT @EDUCAT_CODCURSO = ISNULL(ID,0)
  FROM ACADEMICO_CURSO
  WHERE CURSO_UNIVERSUS_ID = @UNIVERSUS_CODCURSO AND ESCOLA_CURSO_UNIVERSUS_ID = @UNIVERSUS_ESCOLA  

  SET @EDUCAT_TURMA = 0
  
  SELECT @EDUCAT_TURMA = ISNULL(ID,0)
  FROM ACADEMICO_TURMA
  WHERE NOME = @UNIVERSUS_TURMA AND CURSO_ID = @EDUCAT_CODCURSO

  SET @EDUCAT_TURMADISCIPLINA = 0
  
  SELECT @EDUCAT_TURMADISCIPLINA = ISNULL(ID,0)
  FROM ACADEMICO_TURMADISCIPLINA
  WHERE TURMA_ID = @EDUCAT_TURMA AND DISCIPLINA_ID = @EDUCAT_DISCIPLINA

  IF (SELECT COUNT(1)
      FROM ACADEMICO_TURMADISCIPLINA TD
	  WHERE ID = @EDUCAT_TURMADISCIPLINA
      ) = 0
  BEGIN
	
	INSERT INTO ACADEMICO_TURMADISCIPLINA
	VALUES (@EDUCAT_DISCIPLINA, @EDUCAT_TURMA, NULL, @UNIVERSUS_TURMA, NULL, @UNIVERSUS_DISCIPLINA, @UNIVERSUS_ESCOLA, @UNIVERSUS_ANO, @UNIVERSUS_REGIME, @UNIVERSUS_PERIODO, GETDATE())

	PRINT 'TURMA INSERIDA: '+ CONVERT(VARCHAR(100),@EDUCAT_TURMA) +' DISCIPLINA: ' +CONVERT(VARCHAR(100),@EDUCAT_DISCIPLINA)+ ' COM SUCESSO'
  END
  ELSE
  BEGIN
    PRINT 'NÃO INSERIU TURMA: ' +@UNIVERSUS_TURMA+ ' DISCIPLINA: ' +CONVERT(VARCHAR(100),@UNIVERSUS_DISCIPLINA)+ ' NESTE PROCESSO'
  END

  FETCH NEXT FROM POPULA_TURMA_DISCIPLINA_EDUCAT INTO @UNIVERSUS_ESCOLA, @UNIVERSUS_ANO, @UNIVERSUS_REGIME, @UNIVERSUS_PERIODO, @UNIVERSUS_TURMA, @UNIVERSUS_DISCIPLINA, @UNIVERSUS_CODCURSO

END
CLOSE POPULA_TURMA_DISCIPLINA_EDUCAT
DEALLOCATE POPULA_TURMA_DISCIPLINA_EDUCAT

GO
/****** Object:  StoredProcedure [dbo].[SET_TURMA_DISCIPLINA_ALUNO]    Script Date: 28/11/2019 11:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SET_TURMA_DISCIPLINA_ALUNO] AS

DECLARE @UNIVERSUS_ESCOLA       INT
DECLARE @UNIVERSUS_ALUNO        INT
DECLARE @UNIVERSUS_TURMA        VARCHAR(20)
DECLARE @UNIVERSUS_DISCIPLINA   INT
DECLARE @UNIVERSUS_CODCURSO     INT

DECLARE @EDUCAT_TURMA           INT
DECLARE @EDUCAT_DISCIPLINA      INT
DECLARE @EDUCAT_ALUNO           INT
DECLARE @EDUCAT_TURMADISCIPLINA INT
DECLARE @EDUCAT_CODCURSO        INT

DECLARE POPULA_TURMADISCIPLINAALUNO_EDUCAT CURSOR FOR

SELECT CODESCOLA, CODALUNO, TURMA, CODDISCIPLINA, CODCURSO
FROM UNIVERSUS..ENTURMA
WHERE CODESCOLA = 1 
AND ANO = 2019 
AND CODSTATUS IN (1,2) 
--AND CODDISCIPLINA NOT IN (57) -- CLÍNICA MÉDICA II
AND TURMA NOT IN ('4MB1º(TPA)P01', '4MB1º(TPA)P02', '4MB1º(TPA)P03', '4MB1º(TPA)P04')
--AND CODCURSO = 1
AND TURMA IS NOT NULL
AND CODALUNO NOT IN (43382)
--AND TURMA = '4MB1º(TPA)'

OPEN POPULA_TURMADISCIPLINAALUNO_EDUCAT
FETCH NEXT FROM POPULA_TURMADISCIPLINAALUNO_EDUCAT INTO @UNIVERSUS_ESCOLA, @UNIVERSUS_ALUNO, @UNIVERSUS_TURMA, @UNIVERSUS_DISCIPLINA, @UNIVERSUS_CODCURSO
WHILE @@FETCH_STATUS = 0
BEGIN
  
  SET @EDUCAT_ALUNO = 0
  
  SELECT @EDUCAT_ALUNO = ISNULL(ID,0)
  FROM ACADEMICO_ALUNO
  WHERE ALUNO_UNIVERSUS_ID = @UNIVERSUS_ALUNO AND ESCOLA_ALUNO_UNIVERSUS_ID = @UNIVERSUS_ESCOLA

  SET @EDUCAT_CODCURSO = 0
	
  SELECT @EDUCAT_CODCURSO = ISNULL(ID,0)
  FROM ACADEMICO_CURSO
  WHERE CURSO_UNIVERSUS_ID = @UNIVERSUS_CODCURSO AND ESCOLA_CURSO_UNIVERSUS_ID = @UNIVERSUS_ESCOLA  

  SET @EDUCAT_TURMA = 0
  
  SELECT @EDUCAT_TURMA = ISNULL(ID,0)
  FROM ACADEMICO_TURMA
  WHERE NOME = @UNIVERSUS_TURMA AND CURSO_ID = @EDUCAT_CODCURSO

  /*
  SELECT ID
  FROM ACADEMICO_TURMA
  WHERE NOME = '4MB2º(TA)A02'
  */

  SET @EDUCAT_DISCIPLINA = 0
  
  SELECT @EDUCAT_DISCIPLINA = ISNULL(ID,0)
  FROM ACADEMICO_DISCIPLINA
  WHERE DISCIPLINA_UNIVERSUS_ID = @UNIVERSUS_DISCIPLINA

  /*
  SELECT ID
  FROM ACADEMICO_DISCIPLINA
  WHERE DISCIPLINA_UNIVERSUS_ID = 1534
  */

  SET @EDUCAT_TURMADISCIPLINA = 0
  
  SELECT @EDUCAT_TURMADISCIPLINA = ISNULL(ID,0)
  FROM ACADEMICO_TURMADISCIPLINA
  WHERE TURMA_UNIVERSUS = @UNIVERSUS_TURMA AND DISCIPLINA_UNIVERSUS_ID = @UNIVERSUS_DISCIPLINA
  
 /* 
  SELECT ID
  FROM ACADEMICO_TURMADISCIPLINA WITH(NOLOCK)
  WHERE TURMA_UNIVERSUS = '4MB2º(TA)A02' AND DISCIPLINA_UNIVERSUS_ID = 1534
  */

  IF (SELECT COUNT(1)
      FROM ACADEMICO_TURMADISCIPLINAALUNO
	  WHERE ALUNO_ID = @EDUCAT_ALUNO AND TURMA_DISCIPLINA_ID = @EDUCAT_TURMADISCIPLINA
      ) = 0

	  /*
	  SELECT COUNT(1)
      FROM ACADEMICO_TURMADISCIPLINAALUNO
	  WHERE ALUNO_ID = 45415 AND TURMA_DISCIPLINA_ID = @EDUCAT_TURMADISCIPLINA
	  */
  BEGIN
    
	INSERT INTO ACADEMICO_TURMADISCIPLINAALUNO
	VALUES (@EDUCAT_ALUNO, @EDUCAT_TURMADISCIPLINA, NULL, GETDATE())

	PRINT @UNIVERSUS_ALUNO
	PRINT 'ALUNO INSERIDO: ' +CONVERT(VARCHAR(100),@EDUCAT_ALUNO)+ ' NA TURMA: '+@UNIVERSUS_TURMA+ ' NESTE PROCESSO'
  END
  ELSE
  BEGIN
    PRINT 'NÃO INSERIU O ALUNO: ' +CONVERT(VARCHAR(100),@EDUCAT_ALUNO)+ ' NESTE PROCESSO'
  END

  FETCH NEXT FROM POPULA_TURMADISCIPLINAALUNO_EDUCAT INTO @UNIVERSUS_ESCOLA, @UNIVERSUS_ALUNO, @UNIVERSUS_TURMA, @UNIVERSUS_DISCIPLINA, @UNIVERSUS_CODCURSO

END
CLOSE POPULA_TURMADISCIPLINAALUNO_EDUCAT
DEALLOCATE POPULA_TURMADISCIPLINAALUNO_EDUCAT

GO
/****** Object:  StoredProcedure [dbo].[SET_TURMA_DISCIPLINA_ALUNO_2018]    Script Date: 28/11/2019 11:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[SET_TURMA_DISCIPLINA_ALUNO_2018] AS

DECLARE @UNIVERSUS_ESCOLA       INT
DECLARE @UNIVERSUS_ALUNO        INT
DECLARE @UNIVERSUS_TURMA        VARCHAR(20)
DECLARE @UNIVERSUS_DISCIPLINA   INT
DECLARE @UNIVERSUS_CODCURSO     INT

DECLARE @EDUCAT_TURMA           INT
DECLARE @EDUCAT_DISCIPLINA      INT
DECLARE @EDUCAT_ALUNO           INT
DECLARE @EDUCAT_TURMADISCIPLINA INT
DECLARE @EDUCAT_CODCURSO        INT

DECLARE POPULA_TURMADISCIPLINAALUNO_EDUCAT CURSOR FOR

SELECT E.CODESCOLA, E.CODALUNO, E.TURMA, E.CODDISCIPLINA, E.CODCURSO
FROM UNIVERSUS..ENTURMA E
JOIN UNIVERSUS..TURMA T ON T.CODESCOLA = E.CODESCOLA
                       AND T.ANO = E.ANO
					   AND T.REGIME = E.REGIME
					   AND T.PERIODO = E.PERIODO
					   AND T.TURMA = E.TURMA
WHERE E.CODESCOLA = 1 
AND E.ANO = 2018 
AND E.CODSTATUS IN (1,2) 
--AND E.CODDISCIPLINA NOT IN (57) -- CLÍNICA MÉDICA II
AND E.TURMA NOT IN ('4MB1º(TPA)P01', '4MB1º(TPA)P02', '4MB1º(TPA)P03', '4MB1º(TPA)P04')
--AND E.CODCURSO = 1
AND E.TURMA IS NOT NULL
AND T.DTINICIAL >= CONVERT(DATETIME,'01/01/2019',103)
--AND CODALUNO = 43382

OPEN POPULA_TURMADISCIPLINAALUNO_EDUCAT
FETCH NEXT FROM POPULA_TURMADISCIPLINAALUNO_EDUCAT INTO @UNIVERSUS_ESCOLA, @UNIVERSUS_ALUNO, @UNIVERSUS_TURMA, @UNIVERSUS_DISCIPLINA, @UNIVERSUS_CODCURSO
WHILE @@FETCH_STATUS = 0
BEGIN
  
  SET @EDUCAT_ALUNO = 0
  
  SELECT @EDUCAT_ALUNO = ISNULL(ID,0)
  FROM ACADEMICO_ALUNO
  WHERE ALUNO_UNIVERSUS_ID = @UNIVERSUS_ALUNO AND ESCOLA_ALUNO_UNIVERSUS_ID = @UNIVERSUS_ESCOLA

  SET @EDUCAT_CODCURSO = 0
	
  SELECT @EDUCAT_CODCURSO = ISNULL(ID,0)
  FROM ACADEMICO_CURSO
  WHERE CURSO_UNIVERSUS_ID = @UNIVERSUS_CODCURSO AND ESCOLA_CURSO_UNIVERSUS_ID = @UNIVERSUS_ESCOLA  

  SET @EDUCAT_TURMA = 0
  
  SELECT @EDUCAT_TURMA = ISNULL(ID,0)
  FROM ACADEMICO_TURMA
  WHERE NOME = @UNIVERSUS_TURMA AND CURSO_ID = @EDUCAT_CODCURSO

  /*
  SELECT ID
  FROM ACADEMICO_TURMA
  WHERE NOME = '4MB2º(TA)A02'
  */

  SET @EDUCAT_DISCIPLINA = 0

  SELECT @EDUCAT_DISCIPLINA = ISNULL(ID,0)
  FROM ACADEMICO_DISCIPLINA
  WHERE DISCIPLINA_UNIVERSUS_ID = @UNIVERSUS_DISCIPLINA

  /*
  SELECT ID
  FROM EDUCAT_ERP_FREQUENCIA.DBO.ACADEMICO_DISCIPLINA
  WHERE DISCIPLINA_UNIVERSUS_ID = 1534
  */

  SET @EDUCAT_TURMADISCIPLINA = 0
  
  SELECT @EDUCAT_TURMADISCIPLINA = ISNULL(ID,0)
  FROM ACADEMICO_TURMADISCIPLINA
  WHERE TURMA_UNIVERSUS = @UNIVERSUS_TURMA AND DISCIPLINA_UNIVERSUS_ID = @UNIVERSUS_DISCIPLINA
  
 /* 
  SELECT ID
  FROM ACADEMICO_TURMADISCIPLINA WITH(NOLOCK)
  WHERE TURMA_UNIVERSUS = '4MB2º(TA)A02' AND DISCIPLINA_UNIVERSUS_ID = 1534
  */

  IF (SELECT COUNT(1)
      FROM ACADEMICO_TURMADISCIPLINAALUNO
	  WHERE ALUNO_ID = @EDUCAT_ALUNO AND TURMA_DISCIPLINA_ID = @EDUCAT_TURMADISCIPLINA
      ) = 0

	  /*
	  SELECT COUNT(1)
      FROM ACADEMICO_TURMADISCIPLINAALUNO
	  WHERE ALUNO_ID = 45415 AND TURMA_DISCIPLINA_ID = @EDUCAT_TURMADISCIPLINA
	  */
  BEGIN
    
	INSERT INTO ACADEMICO_TURMADISCIPLINAALUNO
	VALUES (@EDUCAT_ALUNO, @EDUCAT_TURMADISCIPLINA, NULL, GETDATE())

	PRINT 'ALUNO INSERIDO: ' +CONVERT(VARCHAR(100),@EDUCAT_ALUNO)+ ' NA TURMA: '+@UNIVERSUS_TURMA+ ' NESTE PROCESSO'
  END
  ELSE
  BEGIN
    PRINT 'NÃO INSERIU O ALUNO: ' +CONVERT(VARCHAR(100),@EDUCAT_ALUNO)+ ' NESTE PROCESSO'
  END

  FETCH NEXT FROM POPULA_TURMADISCIPLINAALUNO_EDUCAT INTO @UNIVERSUS_ESCOLA, @UNIVERSUS_ALUNO, @UNIVERSUS_TURMA, @UNIVERSUS_DISCIPLINA, @UNIVERSUS_CODCURSO

END
CLOSE POPULA_TURMADISCIPLINAALUNO_EDUCAT
DEALLOCATE POPULA_TURMADISCIPLINAALUNO_EDUCAT

GO
/****** Object:  StoredProcedure [dbo].[SP_ACAD_ACERTA_DATAS_GRUPO_AULA]    Script Date: 28/11/2019 11:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_ACAD_ACERTA_DATAS_GRUPO_AULA] AS 
DECLARE @GRUPO_ID INT, @INICIO DATETIME, @TERMINO DATETIME

-- **** APGAR OS GRUPOS QUE NAO POSSUEM AULA ASSOCIADAS  
	   DELETE 
	  FROM academico_grupoaula 
	 WHERE id IN (SELECT ID FROM VW_ACAD_AULA_GRUPO_DIVERGENCIA WHERE TIPO = 'GRUPO_SEM_AULA')

 -- **** ATUALIZAR AS DATAS DE INICIO E TERMINO DO GRUPO
declare abc cursor for 
	SELECT ID, INICIO, TERMINO 
	  FROM VW_AULA_GRUPO_DIVERGENCIA_DATA_INICIO_OU_TERMINO
	open abc 
		fetch next from abc into @GRUPO_ID, @INICIO, @TERMINO
		while @@FETCH_STATUS = 0
			BEGIN
				UPDATE academico_grupoaula SET data_inicio = @INICIO, data_termino = @TERMINO WHERE id = @GRUPO_ID

				fetch next from abc into @GRUPO_ID, @INICIO, @TERMINO
			END
	close abc 
deallocate abc 
GO
/****** Object:  StoredProcedure [dbo].[sp_agrupar_aula]    Script Date: 28/11/2019 11:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec sp_agrupar_aula 73224 
CREATE   procedure [dbo].[sp_agrupar_aula] @grupo_id int as 
-- **** APAGO TABELAS TEMPORARIAS  *****
if (object_id('tempdb..#temp') is not null)
  drop table #temp;

if (object_id('tempdb..#temp_grupo') is not null)
  drop table #temp_grupo;
-- **** APAGO TABELAS TEMPORARIAS - FIM *****  

-- **** BUSCO REFERENCIA DO GRUPO PARA ALTERACAO CRIACAO ****

-- **** BUSCO REFERENCIA DO GRUPO PARA ALTERACAO CRIACAO - FIM ****

-- **** CTE QUE BUSCA AS REFERENCIAS DA AULA COM BASE NOS PARAMETROS PASSADOS ****
with cte_professor_turma_data as (
		select CAST(data_inicio as date) as dt_ini, turma_disciplina_id, professor_id, id as aula_id
		  from academico_aula with(nolock)
		  where grupo_id =@grupo_id -- 73224
		 group by CAST(data_inicio as date), turma_disciplina_id, professor_id, id
)
	-- **** CTE QUE TRAS A DATA ANTERIOR TERMINO ****
	,cte_prof_tur_dat_ant as (
		select ptd.*, aul.data_inicio, aul.data_termino, aul.GRUPO_ID, 
		       data_termino_anterior = (select top 1 aulx.data_termino 
	                                      from academico_aula aulx
	                                     where CAST(aulx.data_inicio as date) = ptd.dt_ini and 
										       aulx.professor_id = ptd.professor_id and 
											   aulx.turma_disciplina_id = ptd.turma_disciplina_id and
											   aulx.data_inicio < aul.data_inicio order by aulx.data_termino desc)
		  from cte_professor_turma_data ptd with(nolock) join academico_aula aul  with(nolock) on (ptd.aula_id = aul.id )
	)
		    
		-- **** MONTO TABELA TEMPORARIA QUE SINALIZA QUAL A PRIMEIRA TUPLA PARA O AGRUPAMENTO DE CADA CONJUNTO turma_disciplina_id, professor_id,  data_inicio ****
		select * , case when data_termino_anterior is null then 'inicio'
		                when DATEDIFF(minute,  data_termino_anterior, data_inicio)> 50 then 'inicio' else 'agrupar' end as tipo, grupo = 0
						into #temp
		  from cte_prof_tur_dat_ant
				order by turma_disciplina_id, professor_id,  data_inicio

	-- **** CURSOR QUE SEPARA POR GRUPOAULA LEVANDO EM CONTA O PARAMETRO DE TEMPO LIMITE DE INTERVALO ENTRE CADA AULA ****
	declare @cont int, @aula_id int, @tipo varchar(50), @professor_id int, @turma_disciplina_id int
	set @cont = 0
	declare abc cursor for 
	select aula_id, tipo, turma_disciplina_id, professor_id from #temp order by turma_disciplina_id, professor_id, aula_id
	open abc 
		fetch next from abc into @aula_id, @tipo, @turma_disciplina_id, @professor_id
		while @@FETCH_STATUS = 0
			BEGIN
				if(@tipo = 'inicio')
					begin
						set @cont = @cont + 1						
					end
				update #temp set grupo = @cont where aula_id = @aula_id
			fetch next from abc into @aula_id, @tipo, @turma_disciplina_id, @professor_id
			END
	close abc 
deallocate abc 
	PRINT 'TABELA TEMPORARIA ORGANIZADA'
	-- **** CRIO TABELA TEMPORARIA PARA AGRUPAMENTO DE GRUPOSAULA ****
	select grupo,grupo_id, turma_disciplina_id, professor_id, MIN(data_inicio) as data_ini, MAX(data_termino) as data_ter
	 into #temp_grupo
	from #temp 
	 group by grupo, grupo_id, turma_disciplina_id, professor_id
	 --PRINT 'TABELA GRUPO CRIADA'
	 --PRINT 'INICIO CURSOR AUX'
	 
BEGIN TRAN
	BEGIN TRY
			-- **** CURSOR PARA PROCESSAMENTO DO AGRUPAMENTO *****
			DECLARE @GRUPO_AUX INT, @GRUPO_ID_AUX INT, @GRUPO_AULA_ID INT  
			declare abc_GRUP cursor for 
				SELECT GRUPO FROM #temp_grupo
				open abc_GRUP 
					fetch next from abc_GRUP into @GRUPO_AUX
					while @@FETCH_STATUS = 0
						BEGIN
						    PRINT 'INSERT NA TABELA GRUPOAULA'

							--DECLARE @GRUPO_AUX INT, @GRUPO_ID_AUX INT, @GRUPO_AULA_ID INT  
							--begin tran
							INSERT INTO academico_grupoaula (criado_em, atualizado_em, data_inicio, data_termino,conteudo, data_envio_frequencia, agendamento_id, 
										criado_por, professor_id, sala_id, status_id, turma_disciplina_id, atualizado_por, user_envio_frequencia_id)
							select distinct criado_em = GETDATE(), atualizado_em = GETDATE(), data_inicio = dateadd(second,1,tem.data_ini), data_termino = tem.data_ter, aul.conteudo, 
										data_envio_frequencia = aul.data_envio_frequencia, agendamento_id = aul.agendamento_id, 
										criado_por = null, tem.professor_id, sala_id = aul.sala_id,  status_id = aul.status_id, tem.turma_disciplina_id, 
										aul.atualizado_por, aul.user_envio_frequencia_id
							from academico_grupoaula gpa     join #temp_grupo    tem on (tem.grupo_id = GPA.ID ) 
														left join academico_aula aul on (gpa.id = aul.grupo_id)
						    WHERE tem.grupo = @GRUPO_AUX

						SET @GRUPO_ID_AUX = @@IDENTITY
						-- PRINT 'ID GRUPO NOVO'
						-- PRINT @GRUPO_ID_AUX
						EXEC sp_gerar_log_academico_grupoaula NULL, NULL, NULL, '+',NULL, @GRUPO_ID_AUX

						-- **** RECUPERAR GRUPO_ID SE EXISTIR ****      rollback 
						SELECT DISTINCT  @GRUPO_AULA_ID = AUL.grupo_id
						  FROM academico_aula AUL JOIN #temp_grupo TMP ON (AUL.turma_disciplina_id = TMP.turma_disciplina_id AND 
																		   AUL.professor_id        = TMP.professor_id        AND
																		   AUL.data_inicio  BETWEEN TMP.data_ini AND TMP.data_ter)
						  where AUL.grupo_id <> @GRUPO_ID_AUX
						 PRINT 'INSERIR' PRINT @GRUPO_ID_AUX PRINT @@ROWCOUNT
						  -- **** ATUALIZAR GRUPO_ID DAS AULA *****
						  UPDATE AUL SET AUL.grupo_id = @GRUPO_ID_AUX
						  FROM academico_aula AUL JOIN #temp_grupo TMP ON (AUL.turma_disciplina_id = TMP.turma_disciplina_id AND 
																		   AUL.professor_id        = TMP.professor_id        AND
																		   AUL.data_inicio  BETWEEN TMP.data_ini AND TMP.data_ter)
						  where aul.grupo_id = @GRUPO_AULA_ID
                          
						  -- **** APAGAR GRUPO AULAS ANTIGOS ****
						  EXEC sp_gerar_log_academico_grupoaula NULL, NULL, NULL, '-',NULL, @GRUPO_AULA_ID
						  DELETE FROM academico_grupoaula 
						  WHERE id = @GRUPO_AULA_ID 

						  --**** CORRIGO A DATA DE INICIO NA GRUPO AULA, TIVE QUE ACRESCENTAR UM ANTERIORMENTE PARA PODER INSERIR (CONSTRAINT QUE NAO PERMITE A MESMA DATA)
						  update academico_grupoaula set data_inicio = DATEADD(second,-1,data_inicio) where id = @GRUPO_ID_AUX

						fetch next from abc_GRUP into @GRUPO_AUX
						END
				close abc_GRUP 
			deallocate abc_GRUP 
			PRINT 'PROCESSO CONCLUIDO COM SUSCESSO - SP_AGRUPAR_AULA'
			COMMIT
	END TRY
	BEGIN CATCH
	    PRINT 'ERRO'
	    PRINT @@ERROR
		ROLLBACK 
	END CATCH

GO
/****** Object:  StoredProcedure [dbo].[sp_excluir_atividade_complementar]    Script Date: 28/11/2019 11:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**********************************************************************************************************************************
*                                              [SP_EXCLUIR_ATIVIDADE_COMPLEMENTAR]                                                *
*                                                                                                                                 *
*  PROCEDURE QUE APAGA OS LANCAMENTOS FEITOS PELO SISTEMA DE ATIVIDADE COMPLEMENTAR PARA UM ALUNO EM UM CURRICULO                 *
*                                                                                                                                 *
*                                                                                                                                 *
* BANCO_SISTEMA : ATIVIDADE COMPLEMENTAR - EDUCAT                                                                                 *
* CRIADO POR    : WEMERSON BITTORI MADURO                                                                         DATA:20/11/2019 *
* ALTERADO POR  : WEMERSON BITTORI MADURO                                                                         DATA:20/11/2019 *
**********************************************************************************************************************************/

-- EXEC sp_excluir_atividade_complementar '12901375600', 'psicologia'

create   procedure [dbo].[sp_excluir_atividade_complementar] 
    @aluno_cpf varchar(20), @curso_nome varchar(500) as
	
	declare @curriculoalunoid int

	-- **** encontrar o curriculo aluno id do aluno no educat
	select DISTINCT @curriculoalunoid =  CURRICULOALUNO_ID
	  from vw_aluno_curriculo_curso_turma_etapa_discplina 
	 WHERE ALUNO_CPF = @aluno_cpf  AND 
		   STATUSCURRICULO_ID = 13 and 
		   CURSO_NOME = @curso_nome

delete from atividades_complementares_atividade 
where curriculo_aluno_id = @curriculoalunoid and 
      atributos = 'origem:Sistema Atividade Complementar' and criado_por is null 
GO
/****** Object:  StoredProcedure [dbo].[SP_GERAR_BACKUP_NUVEM]    Script Date: 28/11/2019 11:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_GERAR_BACKUP_NUVEM] AS
declare @banco varchar(200)
declare @endereco varchar(500)

declare @data varchar(16)

declare abc cursor for 

	select distinct name from sys.databases
     where name in (db_name()) 

	open abc 
		fetch next from abc into @banco
		while @@FETCH_STATUS = 0
			BEGIN
				set @data = replace((select convert(varchar(4),year(getdate())) + '_' + right('0'+convert(varchar(2),month(getdate())),2) + '_' + right('0'+convert(varchar(2),day(getdate())),2) + '_'+ CONVERT(VARCHAR(15),GETDATE(),(114))),':','_')
				set @endereco = 'arn:aws:s3:::educat-feluma-rds-backups/ERP/PRD/' + @banco + '_' + @data +'_from_aws.bak'
				print '*******************************************************'
				PRINT @BANCO
				print getdate()
				  exec msdb.dbo.rds_backup_database @source_db_name= @banco, @s3_arn_to_backup_to= @endereco
				print getdate()
				print '*******************************************************'

			fetch next from abc into @banco
			END
	close abc 
deallocate abc
GO
/****** Object:  StoredProcedure [dbo].[sp_gerar_log_academico_aula]    Script Date: 28/11/2019 11:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**********************************************************************************************************************************
*                                                 [SP_GERAR_LOG_ACADEMICO_AULA]                                                   *
*                                                                                                                                 *
*  PROCEDURE QUE GERA O LOG DA TABELA ACADEMICO_AULA - ### IMPLEMENTADO APENAS PARA DELECAO ###                                   *
*                                                                                                                                 *
*                                                                                                                                 *
* BANCO_SISTEMA : EDUCAT                                                                                                          *
* CRIADO POR    : WEMERSON BITTORI MADURO                                                                         DATA:01/11/2019 *
* ALTERADO POR  : WEMERSON BITTORI MADURO                                                                         DATA:01/11/2019 *
**********************************************************************************************************************************/

create      procedure [dbo].[sp_gerar_log_academico_aula] 
        @atributos_log nvarchar(max), @observacao nvarchar(max), @history_change_reason  nvarchar(200), 
        @history_type varchar(2), @history_user_id int, @aula_id int as 

	if(@history_type = '-')
		begin 
			insert LOG_ACADEMICO_AULA (atributos_log , observacao, history_date, history_change_reason, history_type, history_user_id, 
				   id, atributos, criado_em, atualizado_em, data_inicio, data_termino, duracao, conteudo, data_envio_frequencia, 
				   agendamento_id, criado_por, professor_id, status_id, turma_disciplina_id, atualizado_por, 
				   user_envio_frequencia_id, sala_id, metodologia_id, plano, tipo_id, grupo_id, data_envio_conteudo, user_envio_conteudo_id
				   )
			select top 1 
			       atributos_log = @atributos_log, observacao = @observacao, history_date = GETDATE(), history_change_reason = @history_change_reason, 
				   history_type = @history_type, history_user_id = @history_user_id, 
				   id, atributos, criado_em, atualizado_em, data_inicio, data_termino, duracao, conteudo, data_envio_frequencia, 
				   agendamento_id, criado_por, professor_id, status_id, turma_disciplina_id, atualizado_por, 
				   user_envio_frequencia_id, sala_id, metodologia_id, plano, tipo_id, grupo_id, data_envio_conteudo, user_envio_conteudo_id

			      
			 from academico_aula where id = @aula_id
		end 

	if(@history_type = '+')
		begin 
			insert LOG_ACADEMICO_AULA (atributos_log , observacao, history_date, history_change_reason, history_type, history_user_id, 
				   id, atributos, criado_em, atualizado_em, data_inicio, data_termino, duracao, conteudo, data_envio_frequencia, 
				   agendamento_id, criado_por, professor_id, status_id, turma_disciplina_id, atualizado_por, 
				   user_envio_frequencia_id, sala_id, metodologia_id, plano, tipo_id, grupo_id, data_envio_conteudo, user_envio_conteudo_id
				   )
			select top 1 
			       atributos_log = @atributos_log, observacao = @observacao, history_date = GETDATE(), history_change_reason = @history_change_reason, 
				   history_type = @history_type, history_user_id = @history_user_id, 
				   id, atributos, criado_em, atualizado_em, data_inicio, data_termino, duracao, conteudo, data_envio_frequencia, 
				   agendamento_id, criado_por, professor_id, status_id, turma_disciplina_id, atualizado_por, 
				   user_envio_frequencia_id, sala_id, metodologia_id, plano, tipo_id, grupo_id, data_envio_conteudo, user_envio_conteudo_id

			      
			 from academico_aula where id = @aula_id
		end 
GO
/****** Object:  StoredProcedure [dbo].[sp_gerar_log_academico_grupoaula]    Script Date: 28/11/2019 11:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************************************************************
*                                                 [SP_GERAR_LOG_ACADEMICO_GRUPOAULA]                                              *
*                                                                                                                                 *
*  PROCEDURE QUE GERA O LOG DA TABELA ACADEMICO_GRUPOAULA -                                                                       *
*  ### IMPLEMENTADO APENAS PARA DELECAO, INSERCAO ###                                                                             *
*                                                                                                                                 *
*                                                                                                                                 *
* BANCO_SISTEMA : EDUCAT                                                                                                          *
* CRIADO POR    : WEMERSON BITTORI MADURO                                                                         DATA:01/11/2019 *
* ALTERADO POR  : WEMERSON BITTORI MADURO                                                                         DATA:01/11/2019 *
**********************************************************************************************************************************/

CREATE     procedure [dbo].[sp_gerar_log_academico_grupoaula] 
        @atributos_log nvarchar(max), @observacao nvarchar(max), @history_change_reason  nvarchar(200), 
        @history_type varchar(2), @history_user_id int, @grupoaula_id int as 

	if(@history_type = '-')
		begin 
			insert log_academico_grupoaula (atributos_log, observacao, history_date , history_change_reason, history_type, history_user_id, 
			       id, criado_em, atualizado_em, data_inicio, data_termino, conteudo, data_envio_frequencia, agendamento_id, 
			       criado_por, professor_id, sala_id, status_id, turma_disciplina_id, atualizado_por, user_envio_frequencia_id
				   )
			select atributos_log = @atributos_log, observacao = @observacao, history_date = GETDATE(), history_change_reason = @history_change_reason, 
			       history_type = @history_type, history_user_id = @history_user_id, 
			       id, criado_em, atualizado_em, data_inicio, data_termino, conteudo, data_envio_frequencia, agendamento_id, 
			       criado_por, professor_id, sala_id, status_id, turma_disciplina_id, atualizado_por, user_envio_frequencia_id

			 from academico_grupoaula where id = @grupoaula_id
		end 

	if(@history_type = '+')
		begin 
			insert log_academico_grupoaula (atributos_log, observacao, history_date , history_change_reason, history_type, history_user_id, 
			       id, criado_em, atualizado_em, data_inicio, data_termino, conteudo, data_envio_frequencia, agendamento_id, 
			       criado_por, professor_id, sala_id, status_id, turma_disciplina_id, atualizado_por, user_envio_frequencia_id
				   )
			select atributos_log = @atributos_log, observacao = @observacao, history_date = GETDATE(), history_change_reason = @history_change_reason, 
			       history_type = @history_type, history_user_id = @history_user_id, 
			       id, criado_em, atualizado_em, data_inicio, data_termino, conteudo, data_envio_frequencia, agendamento_id, 
			       criado_por, professor_id, sala_id, status_id, turma_disciplina_id, atualizado_por, user_envio_frequencia_id

			 from academico_grupoaula where id = @grupoaula_id
		end 
GO
/****** Object:  StoredProcedure [dbo].[sp_gerar_log_academico_turmadisciplinaaluno]    Script Date: 28/11/2019 11:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**********************************************************************************************************************************
*                                         [SP_GERAR_LOG_ACADEMICO_TURMADISCIPLINAALUNO]                                           *
*                                                                                                                                 *
*  PROCEDURE QUE GERA O LOG DA TABELA ACADEMICO_TURMADISCIPLINAALUNO - ### IMPLEMENTADO APENAS PARA DELECAO ###                   *
*                                                                                                                                 *
*                                                                                                                                 *
* BANCO_SISTEMA : EDUCAT                                                                                                          *
* CRIADO POR    : WEMERSON BITTORI MADURO                                                                         DATA:28/10/2019 *
* ALTERADO POR  : WEMERSON BITTORI MADURO                                                                         DATA:28/10/2019 *
**********************************************************************************************************************************/
-- EXEC sp_gerar_log_academico_turmadisciplinaaluno NULL, NULL, NULL, '-',NULL, ID_TURMA_DISCIPLINA 
CREATE   procedure [dbo].[sp_gerar_log_academico_turmadisciplinaaluno] 
        @atributos_log nvarchar(max), @observacao nvarchar(max), @history_change_reason  nvarchar(200), 
        @history_type varchar(2), @history_user_id int, @turmadisciplinaaluno_id int as 

	if(@history_type = '-')
		begin 
			insert log_academico_turmadisciplinaaluno (atributos_log, observacao, history_date, history_change_reason, history_type,  history_user_id,
				   id, atributos, criado_em, atualizado_em, aluno_id, criado_por, turma_disciplina_id, atualizado_por, exigencia_matricula_disciplina_id, 
				   tipo_matricula_id, status_matricula_disciplina_id, fechado_em, tentar_fechamento
				   )
			select atributos_log = @atributos_log, observacao = @observacao, history_date = getdate(), history_change_reason = @history_change_reason, 
				   history_type = @history_type,  history_user_id = @history_user_id,
				   id, atributos, criado_em, atualizado_em, aluno_id, criado_por, turma_disciplina_id, atualizado_por, exigencia_matricula_disciplina_id, 
				   tipo_matricula_id, status_matricula_disciplina_id, fechado_em, tentar_fechamento
			 from academico_turmadisciplinaaluno where id = @turmadisciplinaaluno_id
		end 


GO
/****** Object:  StoredProcedure [dbo].[sp_gerar_log_academico_turmadisciplinaprofessor]    Script Date: 28/11/2019 11:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**********************************************************************************************************************************
*                                                 [LOG_ACADEMICO_TURMADISCIPLINAPROFESSOR]                                        *
*                                                                                                                                 *
*  PROCEDURE QUE GERA O LOG DA TABELA ACADEMICO_TURMADISCIPLINAPROFESSOR                                                          *
*     - ### IMPLEMENTADO APENAS PARA DELECAO ###                                                                                  *
*     - ### IMPLEMENTADO APENAS PARA INSERCAO ###                                                                                 *
*                                                                                                                                 *
*                                                                                                                                 *
* BANCO_SISTEMA : EDUCAT                                                                                                          *
* CRIADO POR    : WEMERSON BITTORI MADURO                                                                         DATA:07/11/2019 *
* ALTERADO POR  : WEMERSON BITTORI MADURO                                                                         DATA:07/11/2019 *
**********************************************************************************************************************************/

CREATE   procedure [dbo].[sp_gerar_log_academico_turmadisciplinaprofessor] 
        @atributos_log nvarchar(max), @observacao nvarchar(max), @history_change_reason  nvarchar(200), 
        @history_type varchar(2), @history_user_id int, @aula_id int as 

	if(@history_type IN ('-','+'))
		begin 
			insert LOG_ACADEMICO_TURMADISCIPLINAPROFESSOR (atributos_log, observacao, history_date, history_change_reason, 
				   history_type, history_user_id, 
				   id, atributos, tipo_id, professor_id, turma_disciplina_id, criado_em, criado_por, atualizado_em, atualizado_por )
			select top 1 
			       atributos_log = @atributos_log, observacao = @observacao, history_date = GETDATE(), history_change_reason = @history_change_reason, 
				   history_type = @history_type, history_user_id = @history_user_id, 
				   id, atributos, tipo_id, professor_id, turma_disciplina_id, criado_em, criado_por, atualizado_em, atualizado_por	      
			 from log_academico_turmadisciplinaprofessor where id = @aula_id
		end 
GO
/****** Object:  StoredProcedure [dbo].[sp_inserir_atividade_complementar]    Script Date: 28/11/2019 11:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**********************************************************************************************************************************
*                                              [SP_INSERIR_ATIVIDADE_COMPLEMENTAR]                                                *
*                                                                                                                                 *
*  PROCEDURE QUE FAZ O INSERT DE ATIVIDADES COMPLEMENTARES DEFERIDAS NO SISTEMA "ATIVIDADE COMPLEMENTAR" NO SISTEMA EDUCAT        *
*  TENDO COMO RETORNO 0 PARA NAO INSERIDO E 1 PARA INSERIDO                                                                       *
*                                                                                                                                 *
*  É NECESSARIO CRIAR UM LINKED SERVER NO SERVIDOR DO SISTEMA DE ATIVIDADES COM PERMICAO DE EXECUCAO PARA ESTA PROCEDURE          *
*                                                                                                                                 *
* BANCO_SISTEMA : ATIVIDADE COMPLEMENTAR/EDUCAT                                                                                   *
* CRIADO POR    : WEMERSON BITTORI MADURO                                                                         DATA:20/11/2019 *
* ALTERADO POR  : WEMERSON BITTORI MADURO                                                                         DATA:20/11/2019 *
**********************************************************************************************************************************/


create   procedure [dbo].[sp_inserir_atividade_complementar]
   @cpf        varchar(20),
   @modalidade varchar(500), -- @funcao
   @tipo       varchar(500) ,-- @grupo 
   @curso      varchar(500),
   @HORACOMPUTADA float ,
   @DATACERTIFICADO DATETIME,
   @OBS VARCHAR(8000),
   @RETORNO INT OUTPUT  as 
 
   declare @tipoid       int
   declare @modalidadeid int
   declare @curriculoalunoid int 
   declare @PERIODO INT

set @periodo = CASE WHEN MONTH(@DATACERTIFICADO) <7 THEN 1 ELSE 2 END
set @RETORNO = 0

-- **** BUSCO OS CODIGOS DA MODALIDADE E DO TIPO  ****
select @modalidadeid = min(id) from atividades_complementares_modalidade where replace(LTRIM(rtrim(@modalidade)),' ','') = replace(LTRIM(rtrim(nome)),' ','')
select @tipoid = MIN(id) from atividades_complementares_tipo where replace(LTRIM(rtrim(@tipo)),' ','') = replace(LTRIM(rtrim(nome)),' ','')
-- ****

if(@modalidadeid is not null and @tipoid is not null)
	begin 
	    PRINT @CPF
		-- **** encontrar o curriculo aluno id do aluno no educat
		select DISTINCT @curriculoalunoid =  CURRICULOALUNO_ID
		  from vw_aluno_curriculo_curso_turma_etapa_discplina 
		 WHERE REPLACE(REPLACE(ALUNO_CPF,'.',''),'-','') = REPLACE(REPLACE(@cpf,'.',''),'-','')       AND 
			  STATUSCURRICULO_ID = 13 and 
			  CURSO_NOME = @curso
			  PRINT @CPF

		insert into atividades_complementares_atividade (criado_em, atualizado_em, atributos,
		       carga_horaria, data_realizacao, observacoes, periodo,
			   ano, criado_por, modalidade_id, curriculo_aluno_id, tipo_id, atualizado_por)
		select criado_em = GETDATE(), atualizado_em = GETDATE(), atributos = 'origem:Sistema Atividade Complementar',
		       carga_horaria = @HORACOMPUTADA,data_realizacao = @DATACERTIFICADO, observacoes = @OBS, periodo = @PERIODO,
			   ano = YEAR(@DATACERTIFICADO), criado_por = null, modalidade_id = @modalidadeid, curriculo_aluno_id = @curriculoalunoid, 
			   tipo_id = @tipoid, atualizado_por = null 
			   
			   where not exists (select 1
			   from atividades_complementares_atividade aca 
			   where aca.data_realizacao = @DATACERTIFICADO and 
			         modalidade_id = @modalidadeid and 
					 tipo_id       = @tipoid and 
					 observacoes   = @OBS    and
					 curriculo_aluno_id = @curriculoalunoid) 

				SET @RETORNO = @@IDENTITY
	end
	
--#######################################################################################################################################

/*                         ### SCRIPT DO LADO DO SISTEMA DE ATIVIDADE COMPLEMENTAR ###


/*****************************************************************************************************************
*                              IMPORTACAO ATIVIDADES COMPLEMENTARES PARA UNIVERSUS                               *
*                                                                                                                *
* ESTRUTURA QUE BUSCA AS ATIVIDADES COMPLEMENTARES DO SISTEMAS ATIVIDADE QUE ESTAO COM O STATUS DEFERIDO OU EXCE *
* DIDO E OS INSERE NA BASE DE DADOS DO SISTEMA UNIVERSUS.                                                        *
*                                                                                                                *
* BANCO_SISTEMA: ATIVIDADE - UNIVERSUS                                                                           *
* AUTOR: WEMERSON BITTORI MADURO                                                                 DATA:23/11/2015 *
******************************************************************************************************************/
--exec SP_EXPORTA_PARTICIPACAO_UNIVERSUS

ALTER  PROCEDURE [dbo].[SP_EXPORTA_PARTICIPACAO_EDUCAT_JOB] AS 
--  **************** DECLARAÇAO DAS VARIAVEIS NECESSARIAS ************************
DECLARE @CPFALUNO VARCHAR(20),@CODPARTICIPACAO INT, @HORACOMPUTADA FLOAT, @DATACERTIFICADO DATETIME, @OBS VARCHAR(8000),
        @FUNCAO VARCHAR(255), @CATEGORIA VARCHAR(255), @CURSO_NOME VARCHAR(500), @RETORNO INT 
 
     
-- **************** CURSOR QUE CORRE AS ATIVIDADES APROVADAS QUE AINDA NAO FORAM EXPORTADAS ****************
declare abc cursor for 

SELECT distinct 
       CPFALUNO        = USU.CPF_USU,  
       CODPARTICIPACAO = PAR.COD_PAR, 
       HORCOMPUTADA    = CAST(PAR.HOR_CON AS float), 
       DATACERTIFICADO = PAR.DAT_CER,
       OBSERVACAO      = ISNULL(PAR.DES_PAR,' - * - ') ,
       FUNCAO          = ' ' + UPPER(DES_FUN),
       CURSO_NOME      = CUR.DES_CUR,
       CATEGORIA       = cat.des_cat

  FROM PARTICIPACAO PAR with(nolock) JOIN ATIVIDADE  ATI with(nolock) ON (PAR.COD_ATI = ATI.COD_ATI)
                                     JOIN FUNCAO     FUN with(nolock) ON (FUN.COD_FUN = ATI.COD_FUN)
                                     JOIN CATEGORIA  CAT with(nolock) ON (CAT.COD_CAT = ATI.COD_CAT)
                                     JOIN GRUPO      GRU with(nolock) ON (GRU.COD_GRU = CAT.COD_GRU)
                                     JOIN USUARIO    USU with(nolock) ON (USU.COD_USU = PAR.COD_USU)
                                LEFT JOIN CURSO      CUR with(nolock) ON (CUR.COD_CUR = USU.COD_CUR)
  WHERE des_sta IN ('DEFERIDO') AND  PAR.FLG_EXP = 0
  ORDER BY CPFALUNO,DATACERTIFICADO
        
open abc 
fetch next from abc into @CPFALUNO, @CODPARTICIPACAO, @HORACOMPUTADA, @DATACERTIFICADO, @OBS, @FUNCAO, @CURSO_NOME, @CATEGORIA
while @@FETCH_STATUS = 0
BEGIN

	SET @RETORNO = 0
	Exec [EDUCAT_ATIVIDADE_COMPLEMENTAR].erp_hmg.DBO.sp_inserir_atividade_complementar @CPFALUNO, @FUNCAO, @CATEGORIA, @CURSO_NOME, @HORACOMPUTADA, @DATACERTIFICADO, @OBS, @RETORNO OUTPUT
	
	IF(@RETORNO > 0) 
		BEGIN
           UPDATE participacao SET flg_exp = 1, int_uni = @RETORNO WHERE cod_par = @CODPARTICIPACAO 
		END
          
	fetch next from abc into @CPFALUNO, @CODPARTICIPACAO, @HORACOMPUTADA, @DATACERTIFICADO, @OBS, @FUNCAO, @CURSO_NOME, @CATEGORIA
END
close abc 
deallocate abc 
-- **************** FIM  CURSOR QUE CORRE AS ATIVIDADES APROVADAS QUE AINDA NAO FORAM EXPORTADAS ****************

*/


--#######################################################################################################################################
GO
/****** Object:  StoredProcedure [dbo].[sp_recalcular_grupoaula]    Script Date: 28/11/2019 11:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[sp_recalcular_grupoaula] @grupoaula_id int as 

select * from log_academico_grupoaula where id = @grupoaula_id
GO
