/****** Object:  StoredProcedure [dbo].[sp_avalia_aproveitamento]    Script Date: 04/10/2019 10:14:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_avalia_aproveitamento]
    @REDACAO_ID INT,
	@ID_PROJETO INT
	AS

DECLARE @CONCLUSAO1 INT
DECLARE @CONCLUSAO2 INT
DECLARE @ID_CORRECAO1 INT
DECLARE @ID_CORRECAO2 INT
DECLARE @APROVEITAMENTO1 INT
DECLARE @APROVEITAMENTO2 INT
DECLARE @DIFERENCA_NOTAFINAL1 FLOAT
DECLARE @DIFERENCA_NOTAFINAL2 FLOAT
DECLARE @ID_ANALISE1 INT
DECLARE @ID_ANALISE2 INT
DECLARE @SITUACAO1 INT
DECLARE @SITUACAO2 INT
DECLARE @SITUACAO3 INT
DECLARE @DIFERENCA_SITUACAO1 INT
DECLARE @DIFERENCA_SITUACAO2 INT

select @CONCLUSAO1 = ANA1.conclusao_analise,
       @CONCLUSAO2 = ANA2.conclusao_analise,
	   @ID_CORRECAO1 = ANA1.id_correcao_A,
	   @ID_CORRECAO2 = ANA2.id_correcao_A,
	   @DIFERENCA_NOTAFINAL1   = ANA1.diferenca_nota_final,
	   @DIFERENCA_NOTAFINAL2   = ANA2.diferenca_nota_final,
	   @ID_ANALISE1  = ANA1.ID,
	   @ID_ANALISE2  = ANA2.ID,
	   @SITUACAO1    = ANA1.id_correcao_situacao_A,
	   @SITUACAO2    = ANA2.ID_CORRECAO_SITUACAO_A,
	   @SITUACAO3    = ANA2.id_correcao_situacao_B,
	   @DIFERENCA_SITUACAO1 = ANA1.diferenca_situacao,
	   @DIFERENCA_SITUACAO2 = ANA2.diferenca_situacao

from correcoes_analise ana1 join correcoes_analise ana2 on (ana1.redacao_id = ana2.redacao_id and
                                                            ana1.id_projeto       = ana2.id_projeto AND
															ANA1.id_tipo_correcao_B = ANA2.id_tipo_correcao_B)
  where ana1.id_tipo_correcao_A = 1 and
        ana2.id_tipo_correcao_A = 2 and
		ana2.id_tipo_correcao_B = 3 AND
		ana2.redacao_id = @REDACAO_ID AND
		ANA1.id_projeto = @ID_PROJETO



	SET @APROVEITAMENTO1 = -1
	SET @APROVEITAMENTO2 = -1

    -- SE A TERCERIA CORRECAO FOR SITUACAO ENTAO UMA DAS DUAS
	-- ANTERIORES DEVERAM SER SITUACAO IGUAL PARA APROVEITAMENTO SENAO DESCARTE AS DUAS ANTERIORES
	IF(@CONCLUSAO1 = 0 AND @CONCLUSAO2 = 0)  --*** CRAVOU
		BEGIN
			SET @APROVEITAMENTO1 = 1
			SET @APROVEITAMENTO2 = 1
        END
	ELSE IF (@CONCLUSAO1 = 0)  --*** APENAS O PRIMEIRO CRAVOU
		BEGIN
			SET @APROVEITAMENTO1 = 1
			SET @APROVEITAMENTO2 = 0
		END
	ELSE IF (@CONCLUSAO2 = 0) --*** APENAS O SEGUNDO CRAVOU
		BEGIN
			SET @APROVEITAMENTO1 = 0
			SET @APROVEITAMENTO2 = 1
		END
	ELSE IF (@CONCLUSAO1 >=3 AND @CONCLUSAO2 >= 3) --*** SE OS DOIS DISCREPARAM
		BEGIN
			SET @APROVEITAMENTO1 = 0
			SET @APROVEITAMENTO2 = 0
		END
	ELSE IF (@CONCLUSAO1 >= 3)  --*** SE APENAS O PRIMEIRO DISCREPOU
		BEGIN
			SET @APROVEITAMENTO1 = 0
			SET @APROVEITAMENTO2 = 1
		END
	ELSE IF (@CONCLUSAO2 >= 3)  --*** SE APENAS O SEGUNDO DISCREPOU
		BEGIN
			SET @APROVEITAMENTO1 = 1
			SET @APROVEITAMENTO2 = 0
		END
	ELSE IF (@DIFERENCA_NOTAFINAL1 > @DIFERENCA_NOTAFINAL2) --*** SE NAO HOUVE DISCREPANCIA E A DIFERENCA1 E MAIOR QUE A DIFERENCA2
		BEGIN
			SET @APROVEITAMENTO1 = 0
			SET @APROVEITAMENTO2 = 1
		END
	ELSE IF (@DIFERENCA_NOTAFINAL1 < @DIFERENCA_NOTAFINAL2) --*** SE NAO HOUVE DISCREPANCIA E A DIFERENCA2 E MAIOR QUE A DIFERENCA1
		BEGIN
			SET @APROVEITAMENTO1 = 1
			SET @APROVEITAMENTO2 = 0
		END
	ELSE IF (@DIFERENCA_NOTAFINAL1 = @DIFERENCA_NOTAFINAL2) --*** SE NAO HOUVE DISCREPANCIA E A DIFERENCA1 E IGUAL QUE A DIFERENCA2
		BEGIN
			SET @APROVEITAMENTO1 = 1
			SET @APROVEITAMENTO2 = 1
		END

	IF(@APROVEITAMENTO1 <> -1 AND @APROVEITAMENTO2 <> -1)
		BEGIN
			UPDATE CORRECOES_ANALISE SET aproveitamento = @APROVEITAMENTO1
			WHERE ID= @ID_ANALISE1 AND
					id_status_B = 3

			UPDATE CORRECOES_ANALISE SET aproveitamento = @APROVEITAMENTO2
			WHERE ID= @ID_ANALISE2 AND
					id_status_B = 3
		END

GO
