USE [erp_hmg]
GO
/****** Object:  StoredProcedure [dbo].[SET_ACADEMICO_DISCIPLINA]    Script Date: 09/01/2020 18:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SET_ACADEMICO_DISCIPLINA]
AS

DECLARE @UNIVERSUS_NOMEDISCIPLINA  VARCHAR(70)
DECLARE @UNIVERSUS_CODDISCIPLINA   INT

DECLARE @EDUCAT_DISCIPLINAID       INT

DECLARE POPULA_DISCIPLINA_EDUCAT CURSOR FOR

SELECT NOME, CODDISCIPLINA
FROM UNIVERSUS..DISCIPLINA

OPEN POPULA_DISCIPLINA_EDUCAT
FETCH NEXT FROM POPULA_DISCIPLINA_EDUCAT INTO @UNIVERSUS_NOMEDISCIPLINA, @UNIVERSUS_CODDISCIPLINA
WHILE @@FETCH_STATUS = 0
BEGIN
  
  SET @EDUCAT_DISCIPLINAID = 0
  
  SELECT @EDUCAT_DISCIPLINAID = ISNULL(ID,0)
  FROM ACADEMICO_DISCIPLINA
  WHERE DISCIPLINA_UNIVERSUS_ID = @UNIVERSUS_CODDISCIPLINA
  
  IF (SELECT COUNT(1)
      FROM ACADEMICO_DISCIPLINA
	  WHERE ID = @EDUCAT_DISCIPLINAID
      ) = 0
  BEGIN
    
	INSERT INTO ACADEMICO_DISCIPLINA
	VALUES (@UNIVERSUS_NOMEDISCIPLINA, NULL, @UNIVERSUS_CODDISCIPLINA, GETDATE())

	PRINT 'DISCIPLINA INSERIDA: ' + CONVERT(VARCHAR(100),@UNIVERSUS_NOMEDISCIPLINA) 
  END
  ELSE
  BEGIN
    PRINT 'DISCIPLINA JÁ EXISTENTE: ' +@UNIVERSUS_NOMEDISCIPLINA+ ' NÃO FOI INSERIDA NO EDUCAT'
  END

  FETCH NEXT FROM POPULA_DISCIPLINA_EDUCAT INTO @UNIVERSUS_NOMEDISCIPLINA, @UNIVERSUS_CODDISCIPLINA

END
CLOSE POPULA_DISCIPLINA_EDUCAT
DEALLOCATE POPULA_DISCIPLINA_EDUCAT
GO
