USE [erp_hmg]
GO
/****** Object:  StoredProcedure [dbo].[SET_ACADEMICO_ESCOLA]    Script Date: 09/01/2020 18:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SET_ACADEMICO_ESCOLA]
AS

DECLARE @UNIVERSUS_NOMEESCOLA  VARCHAR(70)
DECLARE @UNIVERSUS_CODESCOLA   INT

DECLARE @EDUCAT_ESCOLAID       INT

DECLARE POPULA_ESCOLA_EDUCAT CURSOR FOR

SELECT NOME, CODESCOLA
FROM UNIVERSUS..ESCOLA

OPEN POPULA_ESCOLA_EDUCAT
FETCH NEXT FROM POPULA_ESCOLA_EDUCAT INTO @UNIVERSUS_NOMEESCOLA, @UNIVERSUS_CODESCOLA
WHILE @@FETCH_STATUS = 0
BEGIN
  
  SET @EDUCAT_ESCOLAID = 0
  
  SELECT @EDUCAT_ESCOLAID = ISNULL(ID,0)
  FROM ACADEMICO_ESCOLA
  WHERE ESCOLA_UNIVERSUS_ID = @UNIVERSUS_CODESCOLA
  
  IF (SELECT COUNT(1)
      FROM ACADEMICO_ESCOLA
	  WHERE ID = @EDUCAT_ESCOLAID
      ) = 0
  BEGIN
    
	INSERT INTO ACADEMICO_ESCOLA
	VALUES (@UNIVERSUS_NOMEESCOLA, NULL, @UNIVERSUS_CODESCOLA)

	PRINT 'ESCOLA INSERIDA: ' + CONVERT(VARCHAR(100),@UNIVERSUS_NOMEESCOLA) 
  END
  ELSE
  BEGIN
    PRINT 'ESCOLA JÁ EXISTENTE: ' + CONVERT(VARCHAR(100),@UNIVERSUS_NOMEESCOLA)+ ' NÃO FOI INSERIDA NO EDUCAT'
  END

  FETCH NEXT FROM POPULA_ESCOLA_EDUCAT INTO @UNIVERSUS_NOMEESCOLA, @UNIVERSUS_CODESCOLA

END
CLOSE POPULA_ESCOLA_EDUCAT
DEALLOCATE POPULA_ESCOLA_EDUCAT
GO
