USE [erp_hmg]
GO
/****** Object:  StoredProcedure [dbo].[EXEC_CARGA_ACADEMICO_2018]    Script Date: 09/01/2020 18:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EXEC_CARGA_ACADEMICO_2018] AS
  EXEC SET_ACADEMICO_ALUNO_2018
  EXEC SET_ACADEMICO_TURMA_2018
  EXEC SET_ACADEMICO_TURMADISCIPLINA_2018
  EXEC SET_TURMA_DISCIPLINA_ALUNO_2018
  EXEC DEL_ACADEMICO_TURMADISCIPLINAALUNO_2018
  EXEC SET_ACADEMICO_CURSO
  EXEC SET_ACADEMICO_DISCIPLINA
GO
