USE [erp_hmg]
GO
/****** Object:  StoredProcedure [dbo].[SET_ACADEMICO_TURMADISCIPLINA]    Script Date: 09/01/2020 18:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SET_ACADEMICO_TURMADISCIPLINA] AS

DECLARE @UNIVERSUS_ESCOLA    INT
DECLARE @UNIVERSUS_ANO          INT
DECLARE @UNIVERSUS_REGIME       INT
DECLARE @UNIVERSUS_PERIODO      INT
DECLARE @UNIVERSUS_TURMA        VARCHAR(20)
DECLARE @UNIVERSUS_DISCIPLINA   INT
DECLARE @UNIVERSUS_CODCURSO     INT

DECLARE @EDUCAT_TURMA           VARCHAR(20)
DECLARE @EDUCAT_DISCIPLINA      INT
DECLARE @EDUCAT_CODCURSO        INT
DECLARE @EDUCAT_TURMADISCIPLINA INT

DECLARE POPULA_TURMA_DISCIPLINA_EDUCAT CURSOR FOR

SELECT T.CODESCOLA, T.ANO, T.REGIME, T.PERIODO, T.TURMA, TA.CODDISCIPLINA, T.CODCURSO
FROM UNIVERSUS..TURMAVAL TA
JOIN UNIVERSUS..TURMA T ON T.CODESCOLA = TA.CODESCOLA AND
                         T.ANO       = TA.ANO       AND
						 T.REGIME    = TA.REGIME    AND
						 T.PERIODO   = TA.PERIODO   AND
						 T.TURMA     = TA.TURMA
WHERE T.CODESCOLA = 1 AND T.ANO = 2019 
--AND T.CODCURSO = 1
ORDER BY CODDISCIPLINA,TURMA

OPEN POPULA_TURMA_DISCIPLINA_EDUCAT
FETCH NEXT FROM POPULA_TURMA_DISCIPLINA_EDUCAT INTO @UNIVERSUS_ESCOLA, @UNIVERSUS_ANO, @UNIVERSUS_REGIME, @UNIVERSUS_PERIODO, @UNIVERSUS_TURMA, @UNIVERSUS_DISCIPLINA, @UNIVERSUS_CODCURSO
WHILE @@FETCH_STATUS = 0
BEGIN
  
  SET @EDUCAT_DISCIPLINA = 0
  
  SELECT @EDUCAT_DISCIPLINA = ISNULL(ID,0)
  FROM ACADEMICO_DISCIPLINA
  WHERE DISCIPLINA_UNIVERSUS_ID = @UNIVERSUS_DISCIPLINA

  SET @EDUCAT_CODCURSO = 0
	
  SELECT @EDUCAT_CODCURSO = ISNULL(ID,0)
  FROM ACADEMICO_CURSO
  WHERE CURSO_UNIVERSUS_ID = @UNIVERSUS_CODCURSO AND ESCOLA_CURSO_UNIVERSUS_ID = @UNIVERSUS_ESCOLA  

  SET @EDUCAT_TURMA = 0
  
  SELECT @EDUCAT_TURMA = ISNULL(ID,0)
  FROM ACADEMICO_TURMA
  WHERE NOME = @UNIVERSUS_TURMA AND CURSO_ID = @EDUCAT_CODCURSO

  SET @EDUCAT_TURMADISCIPLINA = 0
  
  SELECT @EDUCAT_TURMADISCIPLINA = ISNULL(ID,0)
  FROM ACADEMICO_TURMADISCIPLINA
  WHERE TURMA_ID = @EDUCAT_TURMA AND DISCIPLINA_ID = @EDUCAT_DISCIPLINA

  IF (SELECT COUNT(1)
      FROM ACADEMICO_TURMADISCIPLINA TD
	  WHERE ID = @EDUCAT_TURMADISCIPLINA
      ) = 0
  BEGIN
	
	print @UNIVERSUS_DISCIPLINA
	
	INSERT INTO ACADEMICO_TURMADISCIPLINA
	VALUES (@EDUCAT_DISCIPLINA, @EDUCAT_TURMA, NULL, @UNIVERSUS_TURMA, NULL, @UNIVERSUS_DISCIPLINA, @UNIVERSUS_ESCOLA, @UNIVERSUS_ANO, @UNIVERSUS_REGIME, @UNIVERSUS_PERIODO, GETDATE())

	PRINT 'TURMA INSERIDA: '+ CONVERT(VARCHAR(100),@EDUCAT_TURMA) +' DISCIPLINA: ' +CONVERT(VARCHAR(100),@EDUCAT_DISCIPLINA)+ ' COM SUCESSO'
  END
  ELSE
  BEGIN
    PRINT 'NÃO INSERIU TURMA: ' +@UNIVERSUS_TURMA+ ' DISCIPLINA: ' +CONVERT(VARCHAR(100),@UNIVERSUS_DISCIPLINA)+ ' NESTE PROCESSO'
  END

  FETCH NEXT FROM POPULA_TURMA_DISCIPLINA_EDUCAT INTO @UNIVERSUS_ESCOLA, @UNIVERSUS_ANO, @UNIVERSUS_REGIME, @UNIVERSUS_PERIODO, @UNIVERSUS_TURMA, @UNIVERSUS_DISCIPLINA, @UNIVERSUS_CODCURSO

END
CLOSE POPULA_TURMA_DISCIPLINA_EDUCAT
DEALLOCATE POPULA_TURMA_DISCIPLINA_EDUCAT

GO
