USE [erp_hmg]
GO
/****** Object:  StoredProcedure [dbo].[EXEC_CARGA_ACADEMICO_2019]    Script Date: 09/01/2020 18:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EXEC_CARGA_ACADEMICO_2019] AS
  EXEC SET_ACADEMICO_DISCIPLINA
  EXEC SET_ACADEMICO_CURSO
  EXEC SET_ACADEMICO_ALUNO
  EXEC SET_ACADEMICO_TURMA
  EXEC SET_ACADEMICO_TURMADISCIPLINA
  EXEC SET_TURMA_DISCIPLINA_ALUNO
  EXEC DEL_ACADEMICO_TURMADISCIPLINAALUNO
GO
