USE [erp_hmg]
GO
/****** Object:  StoredProcedure [dbo].[EXEC_CARGA_ACADEMICO]    Script Date: 09/01/2020 18:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[EXEC_CARGA_ACADEMICO] AS
  /*----------------------------------------------
    CARGA TABELAS QUE INDEPENDEM DE ANO/REGIME/PERIODO
  ----------------------------------------------*/
  EXEC SET_ACADEMICO_ESCOLA
  EXEC SET_ACADEMICO_DISCIPLINA
  EXEC SET_ACADEMICO_CURSO
  EXEC SET_ACADEMICO_PROFESSOR
  /*----------------------------------------------
    CARGA COM FILTROS DE 2018
  ----------------------------------------------*/
  EXEC SET_ACADEMICO_ALUNO_2018
  EXEC SET_ACADEMICO_TURMA_2018
  EXEC SET_ACADEMICO_TURMADISCIPLINA_2018
  EXEC SET_TURMA_DISCIPLINA_ALUNO_2018
  EXEC DEL_ACADEMICO_TURMADISCIPLINAALUNO_2018
  /*----------------------------------------------
    CARGA COM FILTROS DE 2019
    ----------------------------------------------*/
  EXEC SET_ACADEMICO_ALUNO
  EXEC SET_ACADEMICO_TURMA
  EXEC SET_ACADEMICO_TURMADISCIPLINA
  EXEC SET_TURMA_DISCIPLINA_ALUNO
  EXEC DEL_ACADEMICO_TURMADISCIPLINAALUNO
GO
