/****** Object:  Table [dbo].[temp_bloqueados]    Script Date: 24/06/2020 20:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp_bloqueados](
	[escola] [nvarchar](255) NULL,
	[simulado] [nvarchar](255) NULL,
	[janela] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[temp_bloqueados] ([escola], [simulado], [janela]) VALUES (N'Anglo Zona Oeste', N'4º ano', N'Bloquear')
INSERT [dbo].[temp_bloqueados] ([escola], [simulado], [janela]) VALUES (N'Anglo Zona Oeste', N'5º ano', N'Bloquear')
INSERT [dbo].[temp_bloqueados] ([escola], [simulado], [janela]) VALUES (N'ASSOCIAÇÃO MISSIONÁRIA DE BENEFICÊNCIA', N'1ª série', N'Bloquear')
GO
