/****** Object:  Table [dbo].[TMP_GABARITO]    Script Date: 10/20/2020 3:39:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMP_GABARITO](
	[id] [int] NOT NULL,
	[Prova] [nchar](10) NULL,
	[NrQuestao] [nvarchar](255) NULL,
	[Gabarito] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[TMP_GABARITO] ([id], [Prova], [NrQuestao], [Gabarito]) VALUES (1, N'A         ', N'Q001', N'B')
INSERT [dbo].[TMP_GABARITO] ([id], [Prova], [NrQuestao], [Gabarito]) VALUES (1, N'B         ', N'Q001', N'C')
INSERT [dbo].[TMP_GABARITO] ([id], [Prova], [NrQuestao], [Gabarito]) VALUES (1, N'C         ', N'Q001', N'D')
GO
